/**
* EMA Separator component
*/

.ema-separator {
  margin: 0;
}

.ema-separator__heading {
  background-color: map-get($ema-colors, 'blue-1');
  display: flex;
  line-height: 1.1;
  padding: map-get($ecl-spacing, 's');
}

.ema-separator__heading--title {
  color: #fff;
  flex-grow: 1;
  margin: 0;
  max-width: none;
}

.ema-separator__heading--icon {
  fill: map-get($ema-colors, 'grey-3');
}

.ema-separator--secondary .ema-separator__heading {
  background-color: map-get($ema-colors, 'light-grey-2');
}

.ema-separator--secondary .ema-separator__heading--title {
  color: initial;
}
