// EMA Headers
@import 'headings-mixins';

.ecl-heading {
  max-width: 56em;
}

.ecl-heading--ema-h1 {
  @include heading-1();
}

.ecl-heading--ema-h2 {
  @include heading-2();
}

.ecl-heading--ema-h3 {
  @include heading-3();
}

.ecl-heading--ema-h4 {
  @include heading-4();
}

// Spacing
* + .ecl-heading--ema-h1 {
  margin-top: map-get($ecl-spacing, 'xxl');
}

* + .ecl-heading--ema-h2 {
  margin-top: map-get($ecl-spacing, 'xl');
}

* + .ecl-heading--ema-h3 {
  margin-top: map-get($ecl-spacing, 'l');
}
