// EMA Headers
@import 'headings-mixins';

.ema-heading {
  @include heading();

  margin-bottom: map-get($ecl-spacing, 'm');
}

.ema-heading--h1 {
  @include heading-1();
}

.ema-heading--h2 {
  @include heading-2();
}

.ema-heading--h3 {
  @include heading-3();
}

.ema-heading--h4 {
  @include heading-4();
}

// Spacing
* + .ema-heading--h1 {
  margin-top: map-get($ecl-spacing, 'xxl');
}

* + .ema-heading--h2 {
  margin-top: map-get($ecl-spacing, 'xl');
}

* + .ema-heading--h3 {
  margin-top: map-get($ecl-spacing, 'l');
}
