{#
  Accepts:
    -
#}

{# Internal properties #}
{% set _css_class = 'ema-content-slider' %}


{# Internal logic - Process properties #}
{% if extra_class is defined %}
  {% set _css_class = _css_class ~ ' ' ~ extra_class %}
{% endif %}

{# Print result #}
<div class="{{_css_class}}">
  <div class="highlights">
    {% for item in list %}
      {% set item = item|merge({ variant: 'highlight' }) %}
      {% include '@ec-europa/ecl-list-items' with item %}
    {% endfor %}
  </div>
  <div class="ema-content-slider__list">
    {% for item in list %}
      {% include '@ec-europa/ecl-list-items' with item %}
    {% endfor %}
  </div>
</div>
