{#
  Accepts:
    -
#}

{# Internal properties #}
{% set _css_class = 'ema-content-slider' %}


{# Internal logic - Process properties #}
{% if extra_class is defined %}
  {% set _css_class = _css_class ~ ' ' ~ extra_class %}
{% endif %}

{# Print result #}
<div class="{{_css_class}}">
  <ul class="ecl-listing ema-content-slider__ema-listing">
    {% for item in list %}
      {% set item_thumb = item|merge({ extra_attributes: [
        { name:'aria-controls', value: 'ema-content-slider__ema-list-highlight--' ~ loop.index },
      ] }) %}
      {% include '@ec-europa/ecl-list-items' with item_thumb %}

      {# Its highlight #}
      {% set item_highlight = item|merge({ variant: 'highlight', extra_attributes: [
        { name:'aria-hidden', value: 'true' },
        { name:'id', value: 'ema-content-slider__ema-list-highlight--' ~ loop.index }
      ], extra_classes: 'ema-content-slider__ema-list-highlight' }) %}
      {% include '@ec-europa/ecl-list-items' with item_highlight %}
    {% endfor %}
  </ul>
</div>
