{#
  Accepts:
    -
#}

{# Internal properties #}
{% set _css_class = 'ema-content-slider' %}


{# Internal logic - Process properties #}
{% if extra_class is defined %}
  {% set _css_class = _css_class ~ ' ' ~ extra_class %}
{% endif %}

{# Print result #}
<div class="{{_css_class}}">
</div>
