.ema-content-slider {
  background-color: map-get($ema-colors, 'light-grey-3');
  margin: 0;

  .ecl-list-item__detail {
    display: none;
  }
}

.ema-content-slider .ecl-link {
  flex-grow: 1;
}

.ema-content-slider .ecl-list-item.ema-content-slider__list-item--default {
  border: 2px solid transparent;
  padding-left: map-get($ecl-spacing, 'xs');
  padding-right: map-get($ecl-spacing, 'xs');
}

.ema-content-slider .ecl-list-item.ema-content-slider__list-item--active {
  border: 2px solid map-get($ema-colors, 'blue-3');
}

.ema-content-slider .ecl-list-item.ema-content-slider__list-item--highlight {
  position: relative;

  .ecl-list-item__link {
    padding-bottom: 0;
    position: relative;
    top: 0;
  }

  .ecl-list-item__body {
    background-color: #fffc;
    bottom: 0;
    padding: map-get($ecl-spacing, 's');
    position: absolute;
    width: 100%;
  }

  .ecl-list-item__detail {
    display: block;
  }
}

@media (min-width: map-get($ecl-grid-breakpoints, 'md')) {
  .ema-content-slider {
    display: grid;
    grid-template-columns: 60% 40%;
  }
  .ema-content-slider .ecl-list-item {
    align-items: center;
    grid-column-start: 2;
    &:hover {
      background-color: map-get($ema-colors, 'light-grey-2');
    }
    &:not([aria-hidden='true']) {
      display: flex;
    }
  }
  .ema-content-slider .ecl-list-item.ema-content-slider__list-item--highlight {
    grid-column-start: 1;
    grid-row-end: span 4;
    grid-row-start: 1;
    margin: 0;
  }
}
