{#
  This is an example and should not be used as it is.
#}

{% include '@ec-europa/ecl-skip-links' with {
    'href': '#main-content',
    'label': 'Skip to main content'
} %}

{% include '@ec-europa/ema-headers' with header %}

{% include '@ec-europa/ecl-navigation-menus' with menu %}

<main class="ecl-u-mv-l">
  <div class="ecl-container">
    <div class="ecl-row">
      <aside class="ecl-col-3">
        Side navigation
      </aside>

      <section class="ecl-col">
        <h2 class="ecl-heading ecl-heading--ema-h2">Transfers of orphan designation</h2>

        <p><strong>A transfer of the orphan designation is the procedure by which the orphan designation is transferred from the currently approved sponsor (orphan designation holder) to a new sponsor which is a different person/legal entity.</strong></p>
        <p>Such a transfer may result from the designation holder’s commercial decision to divest the orphan designation or be needed in anticipation of the designation holder ceasing to exist as a legal entity and orphan designation being taken over by another legal entity.</p>
        <p>A transfer of the orphan designation can only be initiated once a designation has been granted by the European Commission. In case there is a need to change the sponsor during validation or evaluation of the application for orphan designation, the applicant who initially applied for the orphan designation is advised to contact the Agency at <a class="ecl-link--ema-default" href="#">orphandrugs@ema.europa.eu</a>.</p>
        <p>Transfers of orphan designations are free of charge. In case a transfer is sought for several orphan designations, an application must be submitted for each designation (i.e. one application per designation).</p>
        <p>A transfer of an orphan designation does not include a transfer of marketing authorisation as this is subject to a different procedure (see: <a class="ecl-link--ema-default" href="#">Transfer of marketing authorisation: questions and answers</a>).</p>
        <p><strong>To transfer an orphan designation</strong>, the sponsor needs to submit an application to <a class="ecl-link--ema-default" href="#">orphandrugs@ema.europa.eu</a>, together with the documents described in the '<a class="ecl-link--ema-default" href="#">Checklist for sponsors applying for the transfer of orphan medicinal product designation</a>'.</p>
        <p>The Agency can only provide an opinion on the transfer if all of the documentation required is complete and satisfactory. The Agency will issue an opinion within 30 days of submission of the documentation and the opinion will be forwarded to:
          <ul>
            <li>the existing sponsor</li>
            <li>the sponsor to whom the designation will be transferred</li>
            <li>the European Commission.</li>
          </ul>
        </p>
        <p>If the European Commission agrees to the transfer, it will amend the decision granting the orphan designation. The transfer is accepted from the date of the notification of the amended decision.</p>
        <p>A change of name and/or address of the orphan designation holder are not considered a transfer if the holder remains the same person/legal entity and is subject to a different procedure. Such change should be notified through a change of name and/or address of the orphan designation holder procedure.</p>

        {% include '@ec-europa/ema-separator' with separator[0] %}

        {% include '@ec-europa/ecl-listings' with {
          items: [
            {
              title: 'Checklist for sponsors applying for the transfer of orphan medicinal product designation (PDF - 230kb)',
              detail: '<div class="ema-u-color-grey-3"><small>Published 15/01/2009<br />Updated 13/11/2017<small></div>',
            },
            {
              title: 'Template 1 - Orphan designation transfer form (DOC - 512kb)',
              detail: '<div class="ema-u-color-grey-3"><small>Published 13/04/2016<br />Updated 13/12/2016<small></div>',
            },
            {
              title: 'Template 2 - Translations of the active ingredient and indication for transfer of orphan-medicinal-product designation (DOCX - 132kb)',
              detail: '<div class="ema-u-color-grey-3"><small>Published 24/11/2008<br />Updated 04/07/2013<small></div>',
            },
          ]
        } %}
      </section>
    </div>
  </div>
</main>

{% include '@ec-europa/ema-footers' with footer %}
