.ecl-button--ema-primary {
  background-color: map-get($ema-colors, 'primary');
  border-color: map-get($ema-colors, 'primary');
  color: #fff;
  font-family: $ema-font-family-base;
}

.ecl-button--ema-tag {
  background-color: map-get($ema-colors, 'light-grey-2');
  color: map-get($ema-colors, 'primary');
  font-family: $ema-font-family-base;
}
