














<!-- Default -->
<section class="ecl-file">
  <div class="ecl-file__body">
    <div class="ecl-row">
      <div class=" ecl-col ecl-col-md-8">
        <span class="ecl-icon ecl-icon-- ecl-file__icon"></span>
        <div class="ecl-file__metadata">
          <div class="ecl-file__title"></div>
          <div class="ecl-file__info">
            <span class="ecl-file__language"></span> ()
          </div>
        </div>
      </div>

      <div class="ecl-col-12 ecl-col-md-4">
        






  

  
        


  <button class="ecl-button ecl-button--default ecl-button--block ecl-file__download" type="button">Download<span class="ecl-u-sr-only">()</button>
      </div>
    </div>
  </div>
</section>


