














<div class="ecl-skip-link__wrapper" id="skip-link" >
  <a href="#main-content" class="ecl-skip-link">Skip to main content</a>
</div>












<header class="ema-header" >
  <div class="ecl-container ema-header__extra">
    <div class="ema-header__links">
              







  
        

<a class="ecl-link ema-header__link-item ecl-link--ema-obvious" href="#" title="RSS"><span class="ecl-icon ecl-icon--rss"></span></a>
              







  
        

<a class="ecl-link ema-header__link-item ecl-link--ema-obvious" href="#" title="Twitter"><span class="ecl-icon ecl-icon--twitter"></span></a>
              







  
        

<a class="ecl-link ema-header__link-item ecl-link--ema-obvious" href="#" title="Mail"><span class="ecl-icon ecl-icon--generic-lang"></span></a>
          </div>
  </div>

  <div class="ecl-container ema-header__banner">
    <div class="ema-header__logo"><img src="../../framework/images/logo_ema.jpg" alt="EMA logo" /></div>

    







  


<form class="ecl-search-form ecl-site-header__search ecl-search-form--ema">
  <label class="ecl-search-form__textfield-wrapper">
    <span class="ecl-u-sr-only">Search this website</span>
    






  

  


<input
  type="search"
  class="ecl-text-input ecl-search-form__textfield"
  id="global-search"
  name="default-name"
  
/>
  </label>
  








  
        


  <button class="ecl-button ecl-button--form ecl-search-form__button" type="submit">Search</button>
</form>
  </div>
</header>









  



<nav class="ecl-navigation-menu ecl-navigation-menu--ema" aria-label="Main Navigation">
  <div class="ecl-container">
    <button class="ecl-navigation-menu__toggle ecl-navigation-menu__hamburger ecl-navigation-menu__hamburger--squeeze" aria-controls="nav-menu-expandable-root" aria-expanded="false">
      <span class="ecl-navigation-menu__hamburger-box">
        <span class="ecl-navigation-menu__hamburger-inner"></span>
      </span>
      <span class="ecl-navigation-menu__hamburger-label">Menu</span>
    </button>
    <ul class="ecl-navigation-menu__root" id="nav-menu-expandable-root" aria-hidden="true">
                <li class="ecl-navigation-menu__item">
              <a href="#home" class="ecl-navigation-menu__link">Home</a>
          </li>
          <li class="ecl-navigation-menu__item ecl-navigation-menu__item--active">
              <a href="#item1" class="ecl-navigation-menu__link">Human regulatory</a>
          </li>
          <li class="ecl-navigation-menu__item">
              <a href="#item2" class="ecl-navigation-menu__link" aria-controls="nav-menu-expandable-group-3" aria-expanded="false" aria-haspopup="true">Item 2</a>

        <div class="ecl-navigation-menu__group" id="nav-menu-expandable-group-3">
        










<div class="ema-context-banner" >
  <div class="ecl-container">
    <div class="ema-context-banner__wrapper">
            <h1 class="ecl-heading ecl-heading--ema-h1">Section title</h1>
      
            <p class="ecl-paragraph ecl-paragraph--ema ecl-paragraph--l">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque efficitur cursus varius. Ut id leo sed libero placerat feugiat eu eget mi. In hac habitasse platea dictumst. Etiam eleifend justo nec ex lacinia blandit. Aenean pellentesque mauris ut malesuada ultricies. Vestibulum blandit arcu et metus semper porta.</p>
      
      <ul class="ema-context-banner__links">
                      <li class="ema-context-banner__item">
          <a href="#item2-1" class="ema-context-banner__link">Item 2.1</a>
        </li>
                      <li class="ema-context-banner__item">
          <a href="#item2-2" class="ema-context-banner__link">Item 2.2</a>
        </li>
                      <li class="ema-context-banner__item">
          <a href="#item2-3" class="ema-context-banner__link">Item 2.3</a>
        </li>
                      <li class="ema-context-banner__item">
          <a href="#item2-4" class="ema-context-banner__link">Item 2.4</a>
        </li>
                      <li class="ema-context-banner__item">
          <a href="#item2-5" class="ema-context-banner__link">Item 2.5</a>
        </li>
                      <li class="ema-context-banner__item">
          <a href="#item2-6" class="ema-context-banner__link">Item 2.6</a>
        </li>
            </ul>
    </div>
  </div>
</div>
        </div>
          </li>
          <li class="ecl-navigation-menu__item">
              <a href="#item3" class="ecl-navigation-menu__link">Item 3</a>
          </li>
        </ul>
  </div>
</nav>












<div class="ema-context-banner" >
  <div class="ecl-container">
    <div class="ema-context-banner__wrapper">
            <h1 class="ecl-heading ecl-heading--ema-h1">Human regulatory</h1>
      
            <p class="ecl-paragraph ecl-paragraph--ema ecl-paragraph--l">This section of the website provides information on the regulation of medicines for human use in the European Union (EU). It particularly concerns the centralised procedure, where the European Medicines Agency (EMA) plays a key role.</p>
      
      <ul class="ema-context-banner__links">
                      <li class="ema-context-banner__item">
          <a href="#item1-1" class="ema-context-banner__link">Overview</a>
        </li>
                      <li class="ema-context-banner__item">
          <a href="#item1-4" class="ema-context-banner__link">Marketing authorisation</a>
        </li>
                      <li class="ema-context-banner__item">
          <a href="#item1-2" class="ema-context-banner__link ema-context-banner__link--active">Research and development</a>
        </li>
                      <li class="ema-context-banner__item">
          <a href="#item1-5" class="ema-context-banner__link">Post authorisation</a>
        </li>
                      <li class="ema-context-banner__item">
          <a href="#item1-3" class="ema-context-banner__link">Herbal products</a>
        </li>
            </ul>
    </div>
  </div>
</div>

<main class="ecl-u-mv-l">
  <div class="ecl-container">
    <div class="ecl-row">
      <aside class="ecl-col-md-5 ecl-col-l-4 ecl-col-xl-3 ecl-u-order-last ecl-u-order-md-first">
        








  



  <button class="ecl-button ecl-button--default ecl-button--block ecl-u-mb-m"><span class="ecl-icon ecl-icon--share"></span> Share</button>

        







<div class="ema-side-navigation">
  <ul class="ecl-listing ecl-list--unstyled">
                            <li>
              <a
          class="ecl-expandable__button ema-side-navigation__link ema-side-navigation__link--depth-1"
          href="#">
          Adaptive pathways
        </a>
          </li>
                      <li>
              <a
          class="ecl-expandable__button ema-side-navigation__link ema-side-navigation__link--depth-1"
          href="#">
          Advanced therapies
        </a>
          </li>
                      <li>
              <a
          class="ecl-expandable__button ema-side-navigation__link ema-side-navigation__link--depth-1"
          href="#">
          Clinical trials
        </a>
          </li>
                      <li>
              <a
          class="ecl-expandable__button ema-side-navigation__link ema-side-navigation__link--depth-1"
          href="#">
          Compassionate use
        </a>
          </li>
                      <li>
              <a
          class="ecl-expandable__button ema-side-navigation__link ema-side-navigation__link--depth-1"
          href="#">
          Compliance
        </a>
          </li>
                      <li>
              <a
          class="ecl-expandable__button ema-side-navigation__link ema-side-navigation__link--depth-1"
          href="#">
          Data on medicines (ISO IDMP standards)
        </a>
          </li>
                      <li>
              <a
          class="ecl-expandable__button ema-side-navigation__link ema-side-navigation__link--depth-1"
          href="#">
          Geriatric medicine
        </a>
          </li>
                      <li>
              <a
          class="ecl-expandable__button ema-side-navigation__link ema-side-navigation__link--depth-1"
          href="#">
          Innovation in medicines
        </a>
          </li>
                      <li>
              <a
          class="ecl-expandable__button ema-side-navigation__link ema-side-navigation__link--depth-1"
          href="#">
          Non-pharmaceutical products
        </a>
          </li>
                      <li>
              <a
          class="ecl-expandable__button ema-side-navigation__link ema-side-navigation__link--depth-1 ema-side-navigation__link--has-list"
          href="#"
          aria-expanded="false">
          Orphan designation
        </a>
        <ul
          class="ecl-listing ecl-list--unstyled">
                                  <li>
              <a
          class="ecl-expandable__button ema-side-navigation__link ema-side-navigation__link--depth-2"
          href="#">
          Annual report
        </a>
          </li>
                      <li>
              <a
          class="ecl-expandable__button ema-side-navigation__link ema-side-navigation__link--depth-2"
          href="#">
          How to apply
        </a>
          </li>
                      <li>
              <a
          class="ecl-expandable__button ema-side-navigation__link ema-side-navigation__link--depth-2"
          href="#">
          Incentives
        </a>
          </li>
                      <li>
              <a
          class="ecl-expandable__button ema-side-navigation__link ema-side-navigation__link--depth-2 ema-side-navigation__link--active"
          href="#">
          Transfers
        </a>
          </li>
  
        </ul>
          </li>
                      <li>
              <a
          class="ecl-expandable__button ema-side-navigation__link ema-side-navigation__link--depth-1"
          href="#">
          Paediatric medicines
        </a>
          </li>
                      <li>
              <a
          class="ecl-expandable__button ema-side-navigation__link ema-side-navigation__link--depth-1"
          href="#">
          Pharmacovigilance
        </a>
          </li>
                      <li>
              <a
          class="ecl-expandable__button ema-side-navigation__link ema-side-navigation__link--depth-1"
          href="#">
          PRIME: priority medicines
        </a>
          </li>
                      <li>
              <a
          class="ecl-expandable__button ema-side-navigation__link ema-side-navigation__link--depth-1"
          href="#">
          Quality by design
        </a>
          </li>
                      <li>
              <a
          class="ecl-expandable__button ema-side-navigation__link ema-side-navigation__link--depth-1"
          href="#">
          Scientific advice and protocol assistance
        </a>
          </li>
                      <li>
              <a
          class="ecl-expandable__button ema-side-navigation__link ema-side-navigation__link--depth-1"
          href="#">
          Scientific guidelines
        </a>
          </li>
  
  </ul>
</div>
      </aside>

      <section class="ecl-col ecl-offset-xl-1">
        <h2 class="ecl-heading ecl-heading--ema-h2">Transfers of orphan designation</h2>

        <p class="ecl-paragraph ecl-paragraph--ema"><strong>A transfer of the orphan designation is the procedure by which the orphan designation is transferred from the currently approved sponsor (orphan designation holder) to a new sponsor which is a different person/legal entity.</strong></p>
        <p class="ecl-paragraph ecl-paragraph--ema">Such a transfer may result from the designation holder’s commercial decision to divest the orphan designation or be needed in anticipation of the designation holder ceasing to exist as a legal entity and orphan designation being taken over by another legal entity.</p>
        <p class="ecl-paragraph ecl-paragraph--ema">A transfer of the orphan designation can only be initiated once a designation has been granted by the European Commission. In case there is a need to change the sponsor during validation or evaluation of the application for orphan designation, the applicant who initially applied for the orphan designation is advised to contact the Agency at <a class="ecl-link--ema-default" href="#">orphandrugs@ema.europa.eu</a>.</p>
        <p class="ecl-paragraph ecl-paragraph--ema">Transfers of orphan designations are free of charge. In case a transfer is sought for several orphan designations, an application must be submitted for each designation (i.e. one application per designation).</p>
        <p class="ecl-paragraph ecl-paragraph--ema">A transfer of an orphan designation does not include a transfer of marketing authorisation as this is subject to a different procedure (see: <a class="ecl-link--ema-default" href="#">Transfer of marketing authorisation: questions and answers</a>).</p>
        <p class="ecl-paragraph ecl-paragraph--ema"><strong>To transfer an orphan designation</strong>, the sponsor needs to submit an application to <a class="ecl-link--ema-default" href="#">orphandrugs@ema.europa.eu</a>, together with the documents described in the '<a class="ecl-link--ema-default" href="#">Checklist for sponsors applying for the transfer of orphan medicinal product designation</a>'.</p>
        <p class="ecl-paragraph ecl-paragraph--ema">The Agency can only provide an opinion on the transfer if all of the documentation required is complete and satisfactory. The Agency will issue an opinion within 30 days of submission of the documentation and the opinion will be forwarded to:</p>
        <ul class="ecl-list">
          <li>the existing sponsor</li>
          <li>the sponsor to whom the designation will be transferred</li>
          <li>the European Commission.</li>
        </ul>
        <p class="ecl-paragraph ecl-paragraph--ema">If the European Commission agrees to the transfer, it will amend the decision granting the orphan designation. The transfer is accepted from the date of the notification of the amended decision.</p>
        <p class="ecl-paragraph ecl-paragraph--ema">A change of name and/or address of the orphan designation holder are not considered a transfer if the holder remains the same person/legal entity and is subject to a different procedure. Such change should be notified through a change of name and/or address of the orphan designation holder procedure.</p>

        






<div class="ema-separator">
  <div class="ema-separator__heading">
    <h3 class="ema-separator__heading--title ecl-heading ecl-heading--ema-h3">
      Related documents
    </h3>
    
    






  



<svg class="ema-icon ema-separator__heading--icon" >
  <use xlink:href="../../framework/images/icons/ema-icons.svg#ema-icon-set_related-documents" />
</svg>
  </div>
</div>

        











<ul class="ema-listings" >


  











  



<li class="ecl-list-item ecl-list-items--with-translations" >
  <a href="" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                







  



<div class="ecl-meta ecl-list-items--with-translations" >
  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Checklist for sponsors applying for the transfer of orphan medicinal product designation <small class="ema-u-color-grey-2">(PDF - 230kb)</small></h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  <div class="ema-u-color-grey-2"><small>Published 15/01/2009<br />Updated 13/11/2017</small></div>
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>

  <li class="ecl-list-item ema-list-item__translations">
    <div class="ecl-file__translations">
      








  
                                


  <button class="ecl-button ecl-button--secondary ecl-file__translations-toggle" aria-controls="translations-expand" aria-expanded="true" id="translations-expand-button" type="button" title="Click to see translations">Available languages (3)</button>

      <div aria-hidden="false" aria-labelledby="translations-expand-button" id="translations-expand">
        <ul class="ecl-file__translations-list">
                                    <li class="ecl-file__translations-item">
                <div class="ecl-file__translations-metadata">
                  <span class="ecl-file__translations-title">Titre du fichier</span>
                  <div class="ecl-file__translations-info">(230 kB - PDF - 4 pages)</div>
                </div>
                








  
        


  <button class="ecl-button ecl-button--secondary ecl-file__translations-download" type="button"><span class="ecl-u-sr-only">(230 kB - PDF - 4 pages)</button>
              </li>
                          <li class="ecl-file__translations-item">
                <div class="ecl-file__translations-metadata">
                  <span class="ecl-file__translations-title">Dateititel</span>
                  <div class="ecl-file__translations-info">(230 kB - PDF - 4 pages)</div>
                </div>
                








  
        


  <button class="ecl-button ecl-button--secondary ecl-file__translations-download" type="button"><span class="ecl-u-sr-only">(230 kB - PDF - 4 pages)</button>
              </li>
                          <li class="ecl-file__translations-item">
                <div class="ecl-file__translations-metadata">
                  <span class="ecl-file__translations-title">Файл Заглавие</span>
                  <div class="ecl-file__translations-info">(230 kB - PDF - 4 pages)</div>
                </div>
                








  
        


  <button class="ecl-button ecl-button--secondary ecl-file__translations-download" type="button"><span class="ecl-u-sr-only">(230 kB - PDF - 4 pages)</button>
              </li>
                              </ul>
      </div>
    </div>
  </li>


  















<li class="ecl-list-item" >
  <a href="" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                











<div class="ecl-meta" >
  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Template 1 - Orphan designation transfer form <small class="ema-u-color-grey-2">(DOC - 512kb)</small></h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  <div class="ema-u-color-grey-2"><small>Published 13/04/2016<br />Updated 13/12/2016</small></div>
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>



  















<li class="ecl-list-item" >
  <a href="" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                











<div class="ecl-meta" >
  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Template 2 - Translations of the active ingredient and indication for transfer of orphan-medicinal-product designation <small class="ema-u-color-grey-2">(DOCX - 132kb)</small></h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  <div class="ema-u-color-grey-2"><small>Published 24/11/2008<br />Updated 04/07/2013</small></div>
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>



</ul>

        






<div class="ema-separator">
  <div class="ema-separator__heading">
    <h3 class="ema-separator__heading--title ecl-heading ecl-heading--ema-h3">
      Related links
    </h3>
    
    






  



<svg class="ema-icon ema-separator__heading--icon" >
  <use xlink:href="../../framework/images/icons/ema-icons.svg#ema-icon-set_related-links" />
</svg>
  </div>
</div>

        <ul class="ecl-list ecl-list--unstyled">
          <li>
            <a class="ecl-link--ema-default" href="#">
              Guideline on the format and content of applications for designation as orphan medicinal products and on the transfer of designation from one sponsor to another
            </a>
          </li>
        </ul>

        <div class="ecl-u-mr-md-l ecl-u-mb-s">
          




<form class="ema-rating-form">
  <div class="ecl-u-d-flex ecl-u-flex-wrap" id=ema-rating-form__review aria-controls=ema-rating-form__review-block>
          <div class="ecl-u-mr-l ecl-u-mb-s">
        






<div class="ema-rating">
  <span class="ema-rating__title">Your rating</span>
  <div class="ema-rating__stars">
          <input
        type="radio"
        class="ema-rating__input"
        aria-hidden="true"
        id="ema-rating__ema-rating1--5"
        name="ema-rating1"
        tabindex="4"
        value="5"
        
        
      />
      <label class="ema-rating__star" title="Very helpful" for="ema-rating__ema-rating1--5">
        ★
      </label>
          <input
        type="radio"
        class="ema-rating__input"
        aria-hidden="true"
        id="ema-rating__ema-rating1--4"
        name="ema-rating1"
        tabindex="3"
        value="4"
        
        
      />
      <label class="ema-rating__star" title="Helpful" for="ema-rating__ema-rating1--4">
        ★
      </label>
          <input
        type="radio"
        class="ema-rating__input"
        aria-hidden="true"
        id="ema-rating__ema-rating1--3"
        name="ema-rating1"
        tabindex="2"
        value="3"
        
        
      />
      <label class="ema-rating__star" title="Fairly helpful" for="ema-rating__ema-rating1--3">
        ★
      </label>
          <input
        type="radio"
        class="ema-rating__input"
        aria-hidden="true"
        id="ema-rating__ema-rating1--2"
        name="ema-rating1"
        tabindex="1"
        value="2"
        
        
      />
      <label class="ema-rating__star" title="Not very helpful" for="ema-rating__ema-rating1--2">
        ★
      </label>
          <input
        type="radio"
        class="ema-rating__input"
        aria-hidden="true"
        id="ema-rating__ema-rating1--1"
        name="ema-rating1"
        tabindex="0"
        value="1"
        
        
      />
      <label class="ema-rating__star" title="Unhelpful" for="ema-rating__ema-rating1--1">
        ★
      </label>
      </div>
</div>
      </div>
          <div class="ecl-u-mr-l ecl-u-mb-s">
        






<div class="ema-rating">
  <span class="ema-rating__title">Average</span>
  <div class="ema-rating__stars">
          <input
        type="radio"
        class="ema-rating__input"
        aria-hidden="true"
        id="ema-rating__ema-rating2--5"
        name="ema-rating2"
        tabindex="4"
        value="5"
        disabled="disabled"
        
      />
      <label class="ema-rating__star" title="" disabled="disabled">
        ★
      </label>
          <input
        type="radio"
        class="ema-rating__input"
        aria-hidden="true"
        id="ema-rating__ema-rating2--4"
        name="ema-rating2"
        tabindex="3"
        value="4"
        disabled="disabled"
        
      />
      <label class="ema-rating__star" title="" disabled="disabled">
        ★
      </label>
          <input
        type="radio"
        class="ema-rating__input"
        aria-hidden="true"
        id="ema-rating__ema-rating2--3"
        name="ema-rating2"
        tabindex="2"
        value="3"
        disabled="disabled"
        aria-checked="true" checked="checked"
      />
      <label class="ema-rating__star" title="" disabled="disabled">
        ★
      </label>
          <input
        type="radio"
        class="ema-rating__input"
        aria-hidden="true"
        id="ema-rating__ema-rating2--2"
        name="ema-rating2"
        tabindex="1"
        value="2"
        disabled="disabled"
        
      />
      <label class="ema-rating__star" title="" disabled="disabled">
        ★
      </label>
          <input
        type="radio"
        class="ema-rating__input"
        aria-hidden="true"
        id="ema-rating__ema-rating2--1"
        name="ema-rating2"
        tabindex="0"
        value="1"
        disabled="disabled"
        
      />
      <label class="ema-rating__star" title="" disabled="disabled">
        ★
      </label>
      </div>
</div>
      </div>
        <div class="ecl-u-d-flex ecl-u-align-items-center">
      <a class="ecl-link--ema-default ecl-u-mb-s" href="#">View all 12 ratings</a>
    </div>
  </div>
  <div id=ema-rating-form__review-block class="ema-rating-form__review ecl-u-flex-column" aria-hidden="true">
    <p class="ecl-u-ma-none">Tell us more</p>
    <div class="ecl-u-d-flex ecl-u-flex-row ecl-u-flex-wrap ecl-u-flex-md-nowrap ecl-u-align-items-end">
      








  




<textarea
  name="default-name"
  id="default-id"
  rows="3"
  class="ecl-textarea ecl-u-mr-md-s"
  role="textbox"
  aria-multiline="true"
  aria-labelledby="default-id_label"
  
>
</textarea>
      








  



  <button class="ecl-button ecl-button--default ecl-button--ema-primary ecl-u-mt-xxxs ema-u-width-100 ema-u-width-md-auto">Submit</button>
    </div>
  </div>
</form>

        </div>
      </section>
    </div>
  </div>
</main>












<footer class="ema-footer" >
  <div class="ecl-container ema-footer__content">
    <div class="ema-footer__section">
      <div class="ema-footer__hotline">
        <span class="ecl-icon ecl-icon--language ecl-u-fs-xxl ecl-u-mr-xs"></span>
        <a class="ecl-link--ema-inverted" href="#">
          <div class="ema-footer__hotline-title">Product emergency hotline</div>
          <div class="ema-footer__hotline-desc">outside working hours</div>
        </a>
      </div>
    </div>

        <div class="ema-footer__section">
      <div class="ema-footer__title">About</div>

      <ul class="ecl-list ecl-list--unstyled ema-footer__links">
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Who we are</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">What's new on the site</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Expert blog</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Human regulation</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Veterinary regulation</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Commitees</a>
        </li>
              </ul>
    </div>
        <div class="ema-footer__section">
      <div class="ema-footer__title">Ask EMA</div>

      <ul class="ecl-list ecl-list--unstyled ema-footer__links">
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Public enquiries</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">FAQs</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Access to documents</a>
        </li>
              </ul>
    </div>
        <div class="ema-footer__section">
      <div class="ema-footer__title">Links</div>

      <ul class="ecl-list ecl-list--unstyled ema-footer__links">
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Legal</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Privacy</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Complaints</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Browser compatibility</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Contacts</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Business hours and holidays</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Website help</a>
        </li>
              </ul>
    </div>
        <div class="ema-footer__section">
      <div class="ema-footer__title">Contact</div>

      <ul class="ecl-list ecl-list--unstyled ema-footer__links">
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">EMA<br />30 Churchill Place<br />Canary Whaf<br />London E14 5EU<br />United Kingdom</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Tel: +44 (0)20 3660 6000</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Fax: +44 (0)20 3660 5550</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted ecl-link--ema-external" href="#">Send a question</a>
        </li>
              </ul>
    </div>
      </div>

  <div class="ecl-container ">
    <div class="ema-footer__social">
              <span class="ecl-icon ecl-icon--rss"></span>
        







  


<a class="ecl-link ecl-link--ema-inverted ecl-u-mr-xs" href="#">RSS</a>
              <span class="ecl-icon ecl-icon--twitter"></span>
        







  


<a class="ecl-link ecl-link--ema-inverted ecl-u-mr-xs" href="#">Twitter</a>
          </div>
  </div>

  <div class="ecl-container ema-footer__content">
    <div class="ema-footer__copyright">&copy; 1995-2016 European Medicines Agency</div>
    <div class="ema-footer__description">
      An agency of the European Union
      <div class="ema-footer__logo"><img src="../../framework/images/eu.png" alt="European Union flag" /></div>
    </div>
  </div>

</footer>

