












<ul class="ema-status-referral" ">
  
            <li class="ema-status-referral__step ">Procedure started</li>

  
            <li class="ema-status-referral__step ">Under evaluation</li>

  
            <li class="ema-status-referral__step ">PRAC recommendation</li>

  
                      <li class="ema-status-referral__step ema-status-referral__step--active">CHMP opinion</li>

  
            <li class="ema-status-referral__step ">European Commission final decision</li>

  </ul>

