














<div class="ecl-skip-link__wrapper" id="skip-link" >
  <a href="#main-content" class="ecl-skip-link">Skip to main content</a>
</div>












<header class="ema-header" >
  <div class="ecl-container ema-header__extra">
    <div class="ema-header__links">
          </div>
  </div>

  <div class="ecl-container ema-header__banner">
    <div class="ema-header__logo"><img src="../../framework/images/logo_ema.jpg" alt="EMA logo" /></div>

        







  


<form class="ecl-search-form ecl-site-header__search ecl-search-form--ema">
  <label class="ecl-search-form__textfield-wrapper">
    <span class="ecl-u-sr-only">Search this website</span>
    






  

  


<input
  type="search"
  class="ecl-text-input ecl-search-form__textfield ecl-text-input--ema"
  id="global-search"
  name="default-name"
  
/>
  </label>
  








  
        


  <button class="ecl-button ecl-button--form ecl-search-form__button ecl-button--primary ecl-button--ema-primary" type="submit">Search</button>
</form>
      </div>
</header>









  



<nav class="ecl-navigation-menu ecl-navigation-menu--ema" aria-label="Main Navigation">
  <div class="ecl-container">
    <button class="ecl-navigation-menu__toggle ecl-navigation-menu__hamburger ecl-navigation-menu__hamburger--squeeze" aria-controls="nav-menu-expandable-root" aria-expanded="false">
      <span class="ecl-navigation-menu__hamburger-box">
        <span class="ecl-navigation-menu__hamburger-inner"></span>
      </span>
      <span class="ecl-navigation-menu__hamburger-label">Menu</span>
    </button>
    <ul class="ecl-navigation-menu__root" id="nav-menu-expandable-root" aria-hidden="true">
                <li class="ecl-navigation-menu__item">
              <a href="#home" class="ecl-navigation-menu__link">Home</a>
          </li>
          <li class="ecl-navigation-menu__item ecl-navigation-menu__item--active">
              <a href="#item1" class="ecl-navigation-menu__link">Human regulatory</a>
          </li>
          <li class="ecl-navigation-menu__item">
              <a href="#item2" class="ecl-navigation-menu__link" aria-controls="nav-menu-expandable-group-3" aria-expanded="false" aria-haspopup="true">Item 2</a>

        <div class="ecl-navigation-menu__group" id="nav-menu-expandable-group-3">
        










<div class="ema-context-banner" >
  <div class="ecl-container">
    <div class="ema-context-banner__wrapper">
            <a href="#" class="ema-context-banner__title">Section title</a>
      
            <p class="ecl-paragraph ecl-paragraph--ema ecl-paragraph--l">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque efficitur cursus varius. Ut id leo sed libero placerat feugiat eu eget mi. In hac habitasse platea dictumst. Etiam eleifend justo nec ex lacinia blandit. Aenean pellentesque mauris ut malesuada ultricies. Vestibulum blandit arcu et metus semper porta.</p>
      
      <ul class="ema-context-banner__links">
                      <li class="ema-context-banner__item">
          <a href="#item2-1" class="ema-context-banner__link">Item 2.1</a>
        </li>
                      <li class="ema-context-banner__item">
          <a href="#item2-2" class="ema-context-banner__link">Item 2.2</a>
        </li>
                      <li class="ema-context-banner__item">
          <a href="#item2-3" class="ema-context-banner__link">Item 2.3</a>
        </li>
                      <li class="ema-context-banner__item">
          <a href="#item2-4" class="ema-context-banner__link">Item 2.4</a>
        </li>
                      <li class="ema-context-banner__item">
          <a href="#item2-5" class="ema-context-banner__link">Item 2.5</a>
        </li>
                      <li class="ema-context-banner__item">
          <a href="#item2-6" class="ema-context-banner__link">Item 2.6</a>
        </li>
            </ul>
    </div>
  </div>
</div>
        </div>
          </li>
          <li class="ecl-navigation-menu__item">
              <a href="#item3" class="ecl-navigation-menu__link">Item 3</a>
          </li>
        </ul>
  </div>
</nav>












<div class="ema-context-banner" >
  <div class="ecl-container">
    <div class="ema-context-banner__wrapper">
            <a href="#" class="ema-context-banner__title">Medicines</a>
      
            <p class="ecl-paragraph ecl-paragraph--ema ecl-paragraph--l">This section of the website provides information on the regulation of medicines for human use in the European Union (EU). It particularly concerns the centralised procedure, where the European Medicines Agency (EMA) plays a key role.</p>
      
      <ul class="ema-context-banner__links">
            </ul>
    </div>
  </div>
</div>
<style>

/* Define accordion custom style. */
.ecl-accordion__header:active,
.ecl-accordion__header:focus,
.ecl-accordion__header:hover,
.ecl-accordion__header[aria-expanded=true] {
  background-color: #efefef;
}

.ecl-accordion__header {
  font-weight: normal;
}

.ecl-accordion__header[aria-expanded=true] .ecl-icon--up,
.ecl-accordion__header[aria-expanded=false] .ecl-icon--down {
  display: block;
}

.ecl-accordion__header[aria-expanded=false] .ecl-icon--up,
.ecl-accordion__header[aria-expanded=true] .ecl-icon--down {
  display: none;
}
</style>
<main class="ecl-u-mv-l">
  <div class="ecl-container">
  <div class="ecl-row ecl-u-mb-lg-l">
    <section class="ecl-col-lg-8">
      <h2 class="ecl-heading ecl-heading--ema-h2 ecl-u-d-inline">Zydelig</h2>
      <button class="ecl-button ecl-button--ema-small ecl-u-fs-xs ecl-u-ml-lg-xxs ecl-u-pa-xxxs"><span class="ecl-icon ecl-icon--share"></span> Share</button>
      <p class="ecl-u-mv-lg-m"><em>active substance 1 / active substance 2 / active substance 3</em></p>
      










<ul class="ema-status-referral" ">
  
            <li class="ema-status-referral__step ">Procedure started</li>

  
            <li class="ema-status-referral__step ">Under evaluation</li>

  
            <li class="ema-status-referral__step ">PRAC recommendation</li>

  
                      <li class="ema-status-referral__step ema-status-referral__step--active">CHMP opinion</li>

  
            <li class="ema-status-referral__step ">European Commission final decision</li>

  </ul>
    </section>
    <section class="ecl-col-lg-4">
      









          





<div class="ema-status ema-status--authorised" ">
  <svg class="ema-icon ema-icon--xl ecl-u-fs-xxl ecl-u-mr-xs ema-status-icon" >
    <use xlink:href="../../framework/images/icons/ema-icons.svg#ema-icon-set_select" />
  </svg>
  <span class="ema-status-text">
    <div class="ema-status-title">Authorised</div>
    <div class="ema-status-desc">This medicine is authorised for use in the European Union</div>
  </span>
</div>
      









    





<div class="ema-status ema-status--patient-safety" ">
  <svg class="ema-icon ema-icon--xl ecl-u-fs-xxl ecl-u-mr-xs ema-status-icon" >
    <use xlink:href="../../framework/images/icons/ema-icons.svg#ema-icon-set_info" />
  </svg>
  <span class="ema-status-text">
    <div class="ema-status-title">Patient safety</div>
    <div class="ema-status-desc">Patient safety informations</div>
  </span>
</div>
    </section>
   </div>

    <div class="ecl-row">
      <section class="ecl-col-lg-12">

        <p class="ecl-paragraph ecl-paragraph--ema"><strong>A transfer of the orphan designation is the procedure by which the orphan designation is transferred from the currently approved sponsor (orphan designation holder) to a new sponsor which is a different person/legal entity.</strong></p>

        







<div class="ema-separator ">
  <div class="ema-separator__heading">
    <h3 class="ema-separator__heading--title ecl-heading ecl-heading--ema-h3">
      Overview
    </h3>

    






  



<svg class="ema-icon ema-separator__heading--icon" >
  <use xlink:href="../../framework/images/icons/ema-icons.svg#ema-icon-set_" />
</svg>
  </div>
</div>

        <dl class="ecl-accordion" role="presentation" id="qa-60">
          <div class="ecl-u-d-flex ecl-u-justify-content-end">
            <button onclick="expandAll('#qa-60', true)" class="ecl-button ecl-button--ema-small ecl-u-mr-xs">Expand all</button>
            <button onclick="expandAll('#qa-60', false)" class="ecl-button ecl-button--ema-small">Collapse all</button>
          </div>
          <dl class="ecl-accordion" role="presentation">

            <dt role="heading">
              <button aria-controls="ecl-accordion-panel-pan2" aria-expanded="false" class="ecl-accordion__header ema-u-bg-light-grey-3" id="ecl-accordion-header-pan2" tabindex="0">
                <span class="ecl-accordion__header-icon ecl-icon ecl-icon--rounded ecl-icon--down ecl-u-bg-secondary ema-u-bg-primary ecl-u-color-white"></span>
                <span class="ecl-accordion__header-icon ecl-icon ecl-icon--rounded ecl-icon--up ecl-u-bg-secondary ema-u-bg-primary ecl-u-color-white"></span> Question 1      </button>
            </dt>
            <dd aria-hidden="true" aria-labelledby="ecl-accordion-header-pan2" class="ecl-accordion__panel" id="ecl-accordion-panel-pan2" role="region">
                  <div class="ecl-editor ecl-u-fs-m first last"><p>Answer 1</p></div>
            </dd>
          </dl>
        </dl>

        



  



<div class="ema-separator ema-separator--secondary">
  <div class="ema-separator__heading">
    <h3 class="ema-separator__heading--title ecl-heading ecl-heading--ema-h3">
      Related documents
    </h3>

    






  



<svg class="ema-icon ema-separator__heading--icon" >
  <use xlink:href="../../framework/images/icons/ema-icons.svg#ema-icon-set_related-documents" />
</svg>
  </div>
</div>

        











<ul class="ema-listings" >


  
  










  



<li class="ecl-list-item ema-list-item ema-list-item--file ecl-list-items--with-translations" >
  <a href="" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
            






  



<svg class="ema-icon ema-list-item ema-list-item--file ecl-list-items--with-translations" >
  <use xlink:href="../../framework/images/icons/ema-icons.svg#ema-icon-set_pdf" />
</svg>
        </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Checklist for sponsors applying for the transfer of orphan medicinal product designation <small class="ema-u-color-grey-2">(PDF - 230kb)</small></h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  <div class="ema-u-color-grey-2"><small>Published 15/01/2009<br />Updated 13/11/2017</small></div>
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>

  <li class="ecl-list-item ema-list-item__translations">
    <div class="ecl-file__translations">
      







  
  
                                


  <button class="ecl-button ecl-button--secondary ecl-button--pdf ecl-file__translations-toggle" aria-controls="translations-expand" aria-expanded="false" id="translations-expand-button" type="button" title="Click to see translations">Available languages (3)</button>

      <div aria-hidden="true" aria-labelledby="translations-expand-button" id="translations-expand">
        <ul class="ecl-file__translations-list">
                                    <li class="ecl-file__translations-item">
                <div class="ecl-file__translations-metadata">
                  <span class="ecl-file__translations-title">French</span>
                  <div class="ecl-file__translations-info">(230 kB - PDF)</div>
                </div>
                







  
  
        


  <button class="ecl-button ecl-button--secondary ecl-button--pdf ecl-file__translations-download" type="button"><span class="ecl-u-sr-only">(230 kB - PDF)</button>
              </li>
                          <li class="ecl-file__translations-item">
                <div class="ecl-file__translations-metadata">
                  <span class="ecl-file__translations-title">German</span>
                  <div class="ecl-file__translations-info">(230 kB - PDF)</div>
                </div>
                







  
  
        


  <button class="ecl-button ecl-button--secondary ecl-button--pdf ecl-file__translations-download" type="button"><span class="ecl-u-sr-only">(230 kB - PDF)</button>
              </li>
                          <li class="ecl-file__translations-item">
                <div class="ecl-file__translations-metadata">
                  <span class="ecl-file__translations-title">Spanish</span>
                  <div class="ecl-file__translations-info">(230 kB - PDF)</div>
                </div>
                







  
  
        


  <button class="ecl-button ecl-button--secondary ecl-button--pdf ecl-file__translations-download" type="button"><span class="ecl-u-sr-only">(230 kB - PDF)</button>
              </li>
                              </ul>
      </div>
    </div>
  </li>


  











  



<li class="ecl-list-item ema-list-item ema-list-item--file" >
  <a href="" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
            






  



<svg class="ema-icon ema-list-item ema-list-item--file" >
  <use xlink:href="../../framework/images/icons/ema-icons.svg#ema-icon-set_word" />
</svg>
        </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Template 1 - Orphan designation transfer form <small class="ema-u-color-grey-2">(DOC - 512kb)</small></h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  <div class="ema-u-color-grey-2"><small>Published 13/04/2016<br />Updated 13/12/2016</small></div>
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>



  











  



<li class="ecl-list-item ema-list-item ema-list-item--file" >
  <a href="" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
            






  



<svg class="ema-icon ema-list-item ema-list-item--file" >
  <use xlink:href="../../framework/images/icons/ema-icons.svg#ema-icon-set_word" />
</svg>
        </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Template 2 - Translations of the active ingredient and indication for transfer of orphan-medicinal-product designation <small class="ema-u-color-grey-2">(DOCX - 132kb)</small></h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  <div class="ema-u-color-grey-2"><small>Published 24/11/2008<br />Updated 04/07/2013</small></div>
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>



</ul>

        



  



<div class="ema-separator ema-separator--secondary">
  <div class="ema-separator__heading">
    <h3 class="ema-separator__heading--title ecl-heading ecl-heading--ema-h3">
      Related links
    </h3>

    






  



<svg class="ema-icon ema-separator__heading--icon" >
  <use xlink:href="../../framework/images/icons/ema-icons.svg#ema-icon-set_related-links" />
</svg>
  </div>
</div>

        <ul class="ecl-list ecl-list--unstyled ema-listings">
          <li>
            <a class="ecl-link--ema-default" href="#">
              Guideline on the format and content of applications for designation as orphan medicinal products and on the transfer of designation from one sponsor to another
            </a>
          </li>
        </ul>

        <div class="ecl-u-mr-md-l ecl-u-mv-l">
          




<form class="ema-rating-form">
  <div class="ecl-u-d-flex ecl-u-flex-wrap" id=ema-rating-form__review aria-controls=ema-rating-form__review-block>
          <div class="ecl-u-mr-l ecl-u-mb-s">
        






<div class="ema-rating">
  <span class="ema-rating__title">Add your rating</span>
  <div class="ema-rating__stars">
          <input
        type="radio"
        class="ema-rating__input"
        aria-hidden="true"
        id="ema-rating__ema-rating1--5"
        name="ema-rating1"
        tabindex="4"
        value="5"
        
        
      />
      <label class="ema-rating__star" title="Very helpful" for="ema-rating__ema-rating1--5">
        ★
      </label>
          <input
        type="radio"
        class="ema-rating__input"
        aria-hidden="true"
        id="ema-rating__ema-rating1--4"
        name="ema-rating1"
        tabindex="3"
        value="4"
        
        
      />
      <label class="ema-rating__star" title="Helpful" for="ema-rating__ema-rating1--4">
        ★
      </label>
          <input
        type="radio"
        class="ema-rating__input"
        aria-hidden="true"
        id="ema-rating__ema-rating1--3"
        name="ema-rating1"
        tabindex="2"
        value="3"
        
        
      />
      <label class="ema-rating__star" title="Fairly helpful" for="ema-rating__ema-rating1--3">
        ★
      </label>
          <input
        type="radio"
        class="ema-rating__input"
        aria-hidden="true"
        id="ema-rating__ema-rating1--2"
        name="ema-rating1"
        tabindex="1"
        value="2"
        
        
      />
      <label class="ema-rating__star" title="Not very helpful" for="ema-rating__ema-rating1--2">
        ★
      </label>
          <input
        type="radio"
        class="ema-rating__input"
        aria-hidden="true"
        id="ema-rating__ema-rating1--1"
        name="ema-rating1"
        tabindex="0"
        value="1"
        
        
      />
      <label class="ema-rating__star" title="Unhelpful" for="ema-rating__ema-rating1--1">
        ★
      </label>
      </div>
</div>
      </div>
          <div class="ecl-u-mr-l ecl-u-mb-s">
        






<div class="ema-rating">
  <span class="ema-rating__title">Average</span>
  <div class="ema-rating__stars">
          <input
        type="radio"
        class="ema-rating__input"
        aria-hidden="true"
        id="ema-rating__ema-rating2--5"
        name="ema-rating2"
        tabindex="4"
        value="5"
        disabled="disabled"
        
      />
      <label class="ema-rating__star" title="" disabled="disabled">
        ★
      </label>
          <input
        type="radio"
        class="ema-rating__input"
        aria-hidden="true"
        id="ema-rating__ema-rating2--4"
        name="ema-rating2"
        tabindex="3"
        value="4"
        disabled="disabled"
        
      />
      <label class="ema-rating__star" title="" disabled="disabled">
        ★
      </label>
          <input
        type="radio"
        class="ema-rating__input"
        aria-hidden="true"
        id="ema-rating__ema-rating2--3"
        name="ema-rating2"
        tabindex="2"
        value="3"
        disabled="disabled"
        aria-checked="true" checked="checked"
      />
      <label class="ema-rating__star" title="" disabled="disabled">
        ★
      </label>
          <input
        type="radio"
        class="ema-rating__input"
        aria-hidden="true"
        id="ema-rating__ema-rating2--2"
        name="ema-rating2"
        tabindex="1"
        value="2"
        disabled="disabled"
        
      />
      <label class="ema-rating__star" title="" disabled="disabled">
        ★
      </label>
          <input
        type="radio"
        class="ema-rating__input"
        aria-hidden="true"
        id="ema-rating__ema-rating2--1"
        name="ema-rating2"
        tabindex="0"
        value="1"
        disabled="disabled"
        
      />
      <label class="ema-rating__star" title="" disabled="disabled">
        ★
      </label>
      </div>
</div>
      </div>
        <div class="ecl-u-d-flex ecl-u-align-items-center">
      <a class="ecl-link--ema-default ecl-u-mb-s" href="#">View all 12 ratings</a>
    </div>
  </div>
  <div id=ema-rating-form__review-block class="ema-rating-form__review ecl-u-flex-column" aria-hidden="true">
    <p class="ecl-u-ma-none">Tell us more</p>
    <div class="ecl-u-d-flex ecl-u-flex-row ecl-u-flex-wrap ecl-u-flex-md-nowrap ecl-u-align-items-end">
      








  




<textarea
  name="default-name"
  id="default-id"
  rows="3"
  class="ecl-textarea ecl-u-mr-md-s"
  role="textbox"
  aria-multiline="true"
  aria-labelledby="default-id_label"
  
>
</textarea>
      








  



  <button class="ecl-button ecl-button--default ecl-button--ema-primary ecl-u-mt-xxxs ema-u-width-100 ema-u-width-md-auto">Submit</button>
    </div>
  </div>
</form>

        </div>
      </section>
    </div>
  </div>
</main>












<footer class="ema-footer" >
  <div class="ecl-container ema-footer__content">
    <div class="ema-footer__section">
      <div class="ema-footer__hotline">
      






  



<svg class="ema-icon ecl-u-fs-xxl ecl-u-mr-xxs ema-icon--l" >
  <use xlink:href="../../framework/images/icons/ema-icons.svg#ema-icon-set_phone" />
</svg>
        <a class="ecl-link--ema-inverted" href="#">
          <div class="ema-footer__hotline-title">Product emergency hotline</div>
          <div class="ema-footer__hotline-desc">outside working hours</div>
        </a>
      </div>
    </div>
  </div>

  <div class="ecl-container ema-footer__content">

        <div class="ema-footer__section">
      <div class="ema-footer__title">About</div>

      <ul class="ecl-list ecl-list--unstyled ema-footer__links">
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Who we are</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">What's new on the site</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Expert blog</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Human regulation</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Veterinary regulation</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Commitees</a>
        </li>
              </ul>
    </div>
        <div class="ema-footer__section">
      <div class="ema-footer__title">Ask EMA</div>

      <ul class="ecl-list ecl-list--unstyled ema-footer__links">
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Public enquiries</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">FAQs</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Access to documents</a>
        </li>
              </ul>
    </div>
        <div class="ema-footer__section">
      <div class="ema-footer__title">Links</div>

      <ul class="ecl-list ecl-list--unstyled ema-footer__links">
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Legal</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Privacy</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Complaints</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Browser compatibility</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Contacts</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Business hours and holidays</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Website help</a>
        </li>
              </ul>
    </div>
        <div class="ema-footer__section">
      <div class="ema-footer__title">Contact</div>

      <ul class="ecl-list ecl-list--unstyled ema-footer__links">
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">EMA<br />30 Churchill Place<br />Canary Whaf<br />London E14 5EU<br />United Kingdom</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Tel: +44 (0)20 3660 6000</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Fax: +44 (0)20 3660 5550</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted ecl-link--ema-external" href="#">Send a question</a>
        </li>
              </ul>
    </div>
      </div>

  <div class="ecl-container">
    <div class="ema-footer__social">
              <span class="ecl-icon ecl-icon--rss"></span>
        







  


<a class="ecl-link ecl-link--ema-inverted ecl-u-mr-xs" href="#">RSS</a>
              <span class="ecl-icon ecl-icon--twitter"></span>
        







  


<a class="ecl-link ecl-link--ema-inverted ecl-u-mr-xs" href="#">Twitter</a>
          </div>
  </div>

  <div class="ecl-container ema-footer__content">
    <div class="ema-footer__copyright">&copy; 1995-2016 European Medicines Agency</div>
    <div class="ema-footer__description">
      European Union agencies network
      <div class="ema-footer__logo">
      <img src="../../framework/images/euan.png" alt="European Union agencies network" /></img>
    </div></div>
    <div class="ema-footer__description">
      An agency of the European Union
      <div class="ema-footer__logo"><img src="../../framework/images/eu.png" alt="European Union flag" /></div>
    </div>
  </div>

</footer>

