

<h3 class="ecl-headin ecl-heading--ema-h3">Global classes</h3>
<div class="example ema-u-width-auto">ema-u-width-auto</div>
<div class="example ema-u-width-100">ema-u-width-100</div>

<h3 class="ecl-headin ecl-heading--ema-h3">Responsive classes</h3>
<div class="example ema-u-width-sm-100">ema-u-width-sm-100</div>
<div class="example ema-u-width-md-100">ema-u-width-md-100</div>
<div class="example ema-u-width-lg-100">ema-u-width-lg-100</div>
<div class="example ema-u-width-xl-100">ema-u-width-xl-100</div>

<style type="text/css">
  body {
    margin: 2rem;
  }
  .example {
    display: inline-block;
    padding: 1rem;
    text-align: center;
    background-color: #404040;
    color: #fff;
  }
</style>

