












<footer class="ema-footer" >
  <div class="ecl-container ema-footer__content">
    <div class="ema-footer__section">
      <div class="ema-footer__hotline">
      






  



<svg class="ema-icon ecl-u-fs-xxl ecl-u-mr-xxs ema-icon--l" >
  <use xlink:href="../../framework/images/icons/ema-icons.svg#ema-icon-set_phone" />
</svg>
        <a class="ecl-link--ema-inverted" href="#">
          <div class="ema-footer__hotline-title">Product emergency hotline</div>
          <div class="ema-footer__hotline-desc">outside working hours</div>
        </a>
      </div>
    </div>
  </div>

  <div class="ecl-container ema-footer__content">

        <div class="ema-footer__section">
      <div class="ema-footer__title">About</div>

      <ul class="ecl-list ecl-list--unstyled ema-footer__links">
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Who we are</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">What's new on the site</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Expert blog</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Human regulation</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Veterinary regulation</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Commitees</a>
        </li>
              </ul>
    </div>
        <div class="ema-footer__section">
      <div class="ema-footer__title">Ask EMA</div>

      <ul class="ecl-list ecl-list--unstyled ema-footer__links">
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Public enquiries</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">FAQs</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Access to documents</a>
        </li>
              </ul>
    </div>
        <div class="ema-footer__section">
      <div class="ema-footer__title">Links</div>

      <ul class="ecl-list ecl-list--unstyled ema-footer__links">
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Legal</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Privacy</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Complaints</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Browser compatibility</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Contacts</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Business hours and holidays</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Website help</a>
        </li>
              </ul>
    </div>
        <div class="ema-footer__section">
      <div class="ema-footer__title">Contact</div>

      <ul class="ecl-list ecl-list--unstyled ema-footer__links">
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">EMA<br />30 Churchill Place<br />Canary Whaf<br />London E14 5EU<br />United Kingdom</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Tel: +44 (0)20 3660 6000</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Fax: +44 (0)20 3660 5550</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted ecl-link--ema-external" href="#">Send a question</a>
        </li>
              </ul>
    </div>
      </div>

  <div class="ecl-container">
    <div class="ema-footer__social">
              <span class="ecl-icon ecl-icon--rss"></span>
        







  


<a class="ecl-link ecl-link--ema-inverted ecl-u-mr-xs" href="#">RSS</a>
              <span class="ecl-icon ecl-icon--twitter"></span>
        







  


<a class="ecl-link ecl-link--ema-inverted ecl-u-mr-xs" href="#">Twitter</a>
              <span class="ecl-icon ecl-icon--video"></span>
        







  


<a class="ecl-link ecl-link--ema-inverted ecl-u-mr-xs" href="#">Youtube</a>
          </div>
  </div>

  <div class="ecl-container ema-footer__content">
    <div class="ema-footer__copyright">&copy; 1995-2016 European Medicines Agency</div>
    <div class="ema-footer__description">
      European Union agencies network
      <div class="ema-footer__logo">
      <img src="../../framework/images/euan.png" alt="European Union agencies network" /></img>
    </div></div>
    <div class="ema-footer__description">
      An agency of the European Union
      <div class="ema-footer__logo"><img src="../../framework/images/eu.png" alt="European Union flag" /></div>
    </div>
  </div>

</footer>

