












<footer class="ema-footer" >
  <div class="ecl-container ema-footer__content">
    <div class="ema-footer__links">
              







  


<a class="ecl-link ecl-link--ema-inverted ema-footer__link-item" href="#">Help</a>
              







  


<a class="ecl-link ecl-link--ema-inverted ema-footer__link-item" href="#">Sitemap</a>
              







  


<a class="ecl-link ecl-link--ema-inverted ecl-link--ema-external ema-footer__link-item" href="#">EMA public website</a>
          </div>

    <div class="ema-footer__copyright">&copy; 2016 EMA - 30 Churchill Place - Canary Whaf - London E14 5EU - United Kingdom</div>
    <div class="ema-footer__description">
      An agency of the European Union
      <div class="ema-footer__logo"><img src="../../framework/images/eu.png" alt="European Union flag" /></div>
    </div>
  </div>

</footer>

