









<div class="ema-side-navigation">
  <ul class="ecl-listing ecl-list--unstyled">
                                <li>
              <a
          class="ecl-expandable__button ema-side-navigation__link ema-side-navigation__link--depth-1 ema-side-navigation__link--has-list"
          href="#"
          aria-expanded="false">
          Link 1
        </a>
        <ul
          class="ecl-listing ecl-list--unstyled">
                                      <li>
              <a
          class="ecl-expandable__button ema-side-navigation__link ema-side-navigation__link--depth-2"
          href="#">
          Link 1-1
        </a>
          </li>
                          <li>
              <a
          class="ecl-expandable__button ema-side-navigation__link ema-side-navigation__link--depth-2"
          href="#">
          Link 1-2
        </a>
          </li>
                          <li>
              <a
          class="ecl-expandable__button ema-side-navigation__link ema-side-navigation__link--depth-2 ema-side-navigation__link--has-list"
          href="#"
          aria-expanded="false">
          Link 1-3
        </a>
        <ul
          class="ecl-listing ecl-list--unstyled">
                                      <li>
              <a
          class="ecl-expandable__button ema-side-navigation__link ema-side-navigation__link--depth-3 ema-side-navigation__link--has-list"
          href="#"
          aria-expanded="false">
          Link 1-3-1
        </a>
        <ul
          class="ecl-listing ecl-list--unstyled">
                                      <li>
              <a
          class="ecl-expandable__button ema-side-navigation__link ema-side-navigation__link--depth-4 ema-side-navigation__link--can-expand ema-side-navigation__link--active"
          href="#">
          Link 1-3-1-1
        </a>
          </li>
                          <li>
              <a
          class="ecl-expandable__button ema-side-navigation__link ema-side-navigation__link--depth-4"
          href="#">
          Link 1-3-1-2
        </a>
          </li>
  
        </ul>
          </li>
                          <li>
              <a
          class="ecl-expandable__button ema-side-navigation__link ema-side-navigation__link--depth-3"
          href="#">
          Link 1-3-2
        </a>
          </li>
                          <li>
              <a
          class="ecl-expandable__button ema-side-navigation__link ema-side-navigation__link--depth-3 ema-side-navigation__link--can-expand"
          href="#">
          Link 1-3-3
        </a>
          </li>
  
        </ul>
          </li>
  
        </ul>
          </li>
                          <li>
              <a
          class="ecl-expandable__button ema-side-navigation__link ema-side-navigation__link--depth-1"
          href="#">
          Link 2
        </a>
          </li>
                          <li>
              <a
          class="ecl-expandable__button ema-side-navigation__link ema-side-navigation__link--depth-1 ema-side-navigation__link--can-expand"
          href="#">
          Link 3
        </a>
          </li>
                          <li>
              <a
          class="ecl-expandable__button ema-side-navigation__link ema-side-navigation__link--depth-1 ema-side-navigation__link--can-expand"
          href="#">
          Link 4
        </a>
          </li>
  
  </ul>
</div>
