














<div class="ecl-skip-link__wrapper" id="skip-link" >
  <a href="#main-content" class="ecl-skip-link">Skip to main content</a>
</div>












<header class="ema-header" >
  <div class="ecl-container ema-header__extra">
    <div class="ema-header__links">
              







  
        

<a class="ecl-link ema-header__link-item ecl-link--ema-obvious" href="#" title="RSS"><span class="ecl-icon ecl-icon--rss"></span></a>
              







  
        

<a class="ecl-link ema-header__link-item ecl-link--ema-obvious" href="#" title="Twitter"><span class="ecl-icon ecl-icon--twitter"></span></a>
              







  
        

<a class="ecl-link ema-header__link-item ecl-link--ema-obvious" href="#" title="Mail"><span class="ecl-icon ecl-icon--generic-lang"></span></a>
          </div>
  </div>

  <div class="ecl-container ema-header__banner">
    <div class="ema-header__logo"><img src="../../framework/images/logo_ema.jpg" alt="EMA logo" /></div>

        







  


<form class="ecl-search-form ecl-site-header__search ecl-search-form--ema">
  <label class="ecl-search-form__textfield-wrapper">
    <span class="ecl-u-sr-only">Search this website</span>
    






  

  


<input
  type="search"
  class="ecl-text-input ecl-search-form__textfield"
  id="global-search"
  name="default-name"
  
/>
  </label>
  








  
        


  <button class="ecl-button ecl-button--form ecl-search-form__button" type="submit">Search</button>
</form>
      </div>
</header>









  



<nav class="ecl-navigation-menu ecl-navigation-menu--ema" aria-label="Main Navigation">
  <div class="ecl-container">
    <button class="ecl-navigation-menu__toggle ecl-navigation-menu__hamburger ecl-navigation-menu__hamburger--squeeze" aria-controls="nav-menu-expandable-root" aria-expanded="false">
      <span class="ecl-navigation-menu__hamburger-box">
        <span class="ecl-navigation-menu__hamburger-inner"></span>
      </span>
      <span class="ecl-navigation-menu__hamburger-label">Menu</span>
    </button>
    <ul class="ecl-navigation-menu__root" id="nav-menu-expandable-root" aria-hidden="true">
                <li class="ecl-navigation-menu__item">
              <a href="#home" class="ecl-navigation-menu__link">Home</a>
          </li>
          <li class="ecl-navigation-menu__item">
              <a href="#item1" class="ecl-navigation-menu__link" aria-controls="nav-menu-expandable-group-2" aria-expanded="false" aria-haspopup="true">Human regulatory</a>

        <div class="ecl-navigation-menu__group" id="nav-menu-expandable-group-2">
        










<div class="ema-context-banner" >
  <div class="ecl-container">
    <div class="ema-context-banner__wrapper">
            <a href="#" class="ema-context-banner__title">Human regulatory</a>
      
            <p class="ecl-paragraph ecl-paragraph--ema ecl-paragraph--l">This section of the website provides information on the regulation of medicines for human use in the European Union (EU). It particularly concerns the centralised procedure, where the European Medicines Agency (EMA) plays a key role.</p>
      
      <ul class="ema-context-banner__links">
                      <li class="ema-context-banner__item">
          <a href="#item1-1" class="ema-context-banner__link">Overview</a>
        </li>
                      <li class="ema-context-banner__item">
          <a href="#item1-4" class="ema-context-banner__link">Marketing authorisation</a>
        </li>
                      <li class="ema-context-banner__item">
          <a href="#item1-2" class="ema-context-banner__link ema-context-banner__link--active">Research and development</a>
        </li>
                      <li class="ema-context-banner__item">
          <a href="#item1-5" class="ema-context-banner__link">Post authorisation</a>
        </li>
                      <li class="ema-context-banner__item">
          <a href="#item1-3" class="ema-context-banner__link">Herbal products</a>
        </li>
            </ul>
    </div>
  </div>
</div>
        </div>
          </li>
          <li class="ecl-navigation-menu__item">
              <a href="#item2" class="ecl-navigation-menu__link" aria-controls="nav-menu-expandable-group-3" aria-expanded="false" aria-haspopup="true">Item 2</a>

        <div class="ecl-navigation-menu__group" id="nav-menu-expandable-group-3">
        










<div class="ema-context-banner" >
  <div class="ecl-container">
    <div class="ema-context-banner__wrapper">
            <a href="#" class="ema-context-banner__title">Section title</a>
      
            <p class="ecl-paragraph ecl-paragraph--ema ecl-paragraph--l">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque efficitur cursus varius. Ut id leo sed libero placerat feugiat eu eget mi. In hac habitasse platea dictumst. Etiam eleifend justo nec ex lacinia blandit. Aenean pellentesque mauris ut malesuada ultricies. Vestibulum blandit arcu et metus semper porta.</p>
      
      <ul class="ema-context-banner__links">
                      <li class="ema-context-banner__item">
          <a href="#item2-1" class="ema-context-banner__link">Item 2.1</a>
        </li>
                      <li class="ema-context-banner__item">
          <a href="#item2-2" class="ema-context-banner__link">Item 2.2</a>
        </li>
                      <li class="ema-context-banner__item">
          <a href="#item2-3" class="ema-context-banner__link">Item 2.3</a>
        </li>
                      <li class="ema-context-banner__item">
          <a href="#item2-4" class="ema-context-banner__link">Item 2.4</a>
        </li>
                      <li class="ema-context-banner__item">
          <a href="#item2-5" class="ema-context-banner__link">Item 2.5</a>
        </li>
                      <li class="ema-context-banner__item">
          <a href="#item2-6" class="ema-context-banner__link">Item 2.6</a>
        </li>
            </ul>
    </div>
  </div>
</div>
        </div>
          </li>
          <li class="ecl-navigation-menu__item">
              <a href="#item3" class="ecl-navigation-menu__link">Item 3</a>
          </li>
        </ul>
  </div>
</nav>


<main class="ecl-u-mv-l">
  <div class="ecl-container">

  <div class="ecl-row">
    <section class="ecl-col-lg-12">
    








<ul class="ecl-listing ema-content-slider" >
          








  
        


<li class="ecl-list-item ema-content-slider__list-item--default"  aria-controls="ema-content-slider__list-item--highlight--1">
  <a href="#content-slider-1" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

        <div class="ecl-list-item__primary">
              







  
        

<img
  class=" ema-content-slider__list-item--default"  alt="sky"
  src="https://unsplash.it/640/480?image=222"
   aria-controls="ema-content-slider__list-item--highlight--1" />

          </div>
    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                







  
        


<div class="ecl-meta ema-content-slider__list-item--default"  aria-controls="ema-content-slider__list-item--highlight--1">
  
    <span class="ecl-meta__item">data</span>

  
    <span class="ecl-meta__item">cluster</span>

  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Labore nulla quis irure labore.</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>

    
        







  
  
        


<li class="ecl-list-item ecl-list-item--highlight ema-content-slider__list-item--highlight"  id="ema-content-slider__list-item--highlight--1">
  <a href="#content-slider-1" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

        <div class="ecl-list-item__primary">
              







  
        

<img
  class=" ema-content-slider__list-item--highlight"  alt="sky"
  src="https://unsplash.it/640/480?image=222"
   id="ema-content-slider__list-item--highlight--1" />

          </div>
    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                






  
  
        


<div class="ecl-meta ecl-meta--highlight ema-content-slider__list-item--highlight"  id="ema-content-slider__list-item--highlight--1">
  
    <span class="ecl-meta__item">data</span>

  
    <span class="ecl-meta__item">cluster</span>

  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Labore nulla quis irure labore.</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>
          








  
        


<li class="ecl-list-item ema-content-slider__list-item--default"  aria-controls="ema-content-slider__list-item--highlight--2">
  <a href="#content-slider-2" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

        <div class="ecl-list-item__primary">
              







  
        

<img
  class=" ema-content-slider__list-item--default"  alt="street"
  src="https://unsplash.it/640/480?image=223"
   aria-controls="ema-content-slider__list-item--highlight--2" />

          </div>
    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                







  
        


<div class="ecl-meta ema-content-slider__list-item--default"  aria-controls="ema-content-slider__list-item--highlight--2">
  
    <span class="ecl-meta__item">message</span>

  
    <span class="ecl-meta__item">market</span>

  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Velit mollit in sunt dolor exercitation elit nostrud do.</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>

    
        







  
  
        


<li class="ecl-list-item ecl-list-item--highlight ema-content-slider__list-item--highlight"  id="ema-content-slider__list-item--highlight--2">
  <a href="#content-slider-2" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

        <div class="ecl-list-item__primary">
              







  
        

<img
  class=" ema-content-slider__list-item--highlight"  alt="street"
  src="https://unsplash.it/640/480?image=223"
   id="ema-content-slider__list-item--highlight--2" />

          </div>
    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                






  
  
        


<div class="ecl-meta ecl-meta--highlight ema-content-slider__list-item--highlight"  id="ema-content-slider__list-item--highlight--2">
  
    <span class="ecl-meta__item">message</span>

  
    <span class="ecl-meta__item">market</span>

  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Velit mollit in sunt dolor exercitation elit nostrud do.</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>
          








  
        


<li class="ecl-list-item ema-content-slider__list-item--default"  aria-controls="ema-content-slider__list-item--highlight--3">
  <a href="#content-slider-3" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

        <div class="ecl-list-item__primary">
              







  
        

<img
  class=" ema-content-slider__list-item--default"  alt="buildings"
  src="https://unsplash.it/640/480?image=221"
   aria-controls="ema-content-slider__list-item--highlight--3" />

          </div>
    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                







  
        


<div class="ecl-meta ema-content-slider__list-item--default"  aria-controls="ema-content-slider__list-item--highlight--3">
  
    <span class="ecl-meta__item">content</span>

  
    <span class="ecl-meta__item">dynamic</span>

  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Cupidatat commodo reprehenderit excepteur esse.</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>

    
        







  
  
        


<li class="ecl-list-item ecl-list-item--highlight ema-content-slider__list-item--highlight"  id="ema-content-slider__list-item--highlight--3">
  <a href="#content-slider-3" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

        <div class="ecl-list-item__primary">
              







  
        

<img
  class=" ema-content-slider__list-item--highlight"  alt="buildings"
  src="https://unsplash.it/640/480?image=221"
   id="ema-content-slider__list-item--highlight--3" />

          </div>
    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                






  
  
        


<div class="ecl-meta ecl-meta--highlight ema-content-slider__list-item--highlight"  id="ema-content-slider__list-item--highlight--3">
  
    <span class="ecl-meta__item">content</span>

  
    <span class="ecl-meta__item">dynamic</span>

  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Cupidatat commodo reprehenderit excepteur esse.</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>
          








  
        


<li class="ecl-list-item ema-content-slider__list-item--default"  aria-controls="ema-content-slider__list-item--highlight--4">
  <a href="#content-slider-4" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

        <div class="ecl-list-item__primary">
              







  
        

<img
  class=" ema-content-slider__list-item--default"  alt="tea"
  src="https://unsplash.it/640/480?image=225"
   aria-controls="ema-content-slider__list-item--highlight--4" />

          </div>
    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                







  
        


<div class="ecl-meta ema-content-slider__list-item--default"  aria-controls="ema-content-slider__list-item--highlight--4">
  
    <span class="ecl-meta__item">management</span>

  
    <span class="ecl-meta__item">team</span>

  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Excepteur ex dolore.</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>

    
        







  
  
        


<li class="ecl-list-item ecl-list-item--highlight ema-content-slider__list-item--highlight"  id="ema-content-slider__list-item--highlight--4">
  <a href="#content-slider-4" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

        <div class="ecl-list-item__primary">
              







  
        

<img
  class=" ema-content-slider__list-item--highlight"  alt="tea"
  src="https://unsplash.it/640/480?image=225"
   id="ema-content-slider__list-item--highlight--4" />

          </div>
    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                






  
  
        


<div class="ecl-meta ecl-meta--highlight ema-content-slider__list-item--highlight"  id="ema-content-slider__list-item--highlight--4">
  
    <span class="ecl-meta__item">management</span>

  
    <span class="ecl-meta__item">team</span>

  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Excepteur ex dolore.</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>
  </ul>
    </section>
  </div>

  <div class="ecl-row ecl-u-pt-m">
    <section class="ecl-col-lg-4">

    




  

<form class="ecl-form ecl-u-pa-s ema-u-bg-light-grey-2">
            






<fieldset class="ecl-fieldset">
                




  


<legend class="ecl-form-legend ecl-form-legend--level-1">Search for medicines</legend>              <p class="ecl-paragraph--ema">Search our database of medicines - including human medicines, veterinary medicines and herbal medicines.</p>
              





<div class="ecl-form-group">
                    








        


<input
  type="text"
  class="ecl-text-input"
  id="field-ID-1"
  name="field-name-1"
   placeholder="Medicine name, active substance..."
/>
                </div>

              








  
              


  <button class="ecl-button ecl-button--primary ecl-button--ema-primary ecl-u-mt-s ecl-u-f-r" value="search" type="submit">Search</button>
            </fieldset>
        </form>

    </section>
    <section class="ecl-col-lg-4 ">
      <div class='ecl-u-pa-s ema-u-bg-light-grey-2'>What's new</div>
    </section>
    <section class="ecl-col-lg-4 ">
      <div class='ecl-u-pa-s ema-u-bg-light-grey-2'>Ask ema</div>
    </section>
  </div>

  <div class="ecl-row">
    <section class="ecl-col-lg-12">

    




  


<div class="ema-separator ecl-u-pt-m ">
  <div class="ema-separator__heading">
    <h3 class="ema-separator__heading--title ecl-heading ecl-heading--ema-h3">
      News and medicinal product announcements
    </h3>

    






  



<svg class="ema-icon ema-separator__heading--icon" >
  <use xlink:href="../../framework/images/icons/ema-icons.svg#ema-icon-set_" />
</svg>
  </div>
</div>

    






  




<ul class="ecl-listing ecl-listing--one-columns" >


  







  




<li class="ecl-list-item ecl-list-item--one-columns" >
  <a href="#listing-default-two-1" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                






  




<div class="ecl-meta ecl-meta--one-columns" >
  
    <span class="ecl-meta__item">23/03/2018</span>

  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Updated measures for pregnancy prevention during retinoid use</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  Warning on possible risk of neuropsychiatric disorders also to be included for oral retinoids ... Read more
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>


  







  




<li class="ecl-list-item ecl-list-item--one-columns" >
  <a href="#listing-default-two-1" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                






  




<div class="ecl-meta ecl-meta--one-columns" >
  
    <span class="ecl-meta__item">23/03/2018</span>

  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Withdrawal of pain medicine flupirtine endorsed</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  Serious liver problems continued to be reported despite previous restrictions in use ... Read more
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>


  







  




<li class="ecl-list-item ecl-list-item--one-columns" >
  <a href="#listing-default-two-1" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                






  




<div class="ecl-meta ecl-meta--one-columns" >
  
    <span class="ecl-meta__item">19/03/2018</span>

  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Workshop on Paediatric Regulation – stakeholders to discuss how to boost development of medicines for children</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  Event to be broadcast live on 20 March ... Read more
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>


  







  




<li class="ecl-list-item ecl-list-item--one-columns" >
  <a href="#listing-default-two-1" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                






  




<div class="ecl-meta ecl-meta--one-columns" >
  
    <span class="ecl-meta__item">16/03/2018</span>

  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">EMA Management Board: highlights of March 2018 meeting</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  Board adopts 2017 report on veterinary medicines for minor use minor species and hears update on clinical trial portal and database ... Read more
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>


  







  




<li class="ecl-list-item ecl-list-item--one-columns" >
  <a href="#listing-default-two-1" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                






  




<div class="ecl-meta ecl-meta--one-columns" >
  
    <span class="ecl-meta__item">09/03/2018</span>

  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Meeting highlights from the Pharmacovigilance Risk Assessment Committee (PRAC) 5-8 March 2018</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  Immediate measures agreed for Zinbryta and Xofigo while reviews are ongoing; public hearing decided for quinolone and fluoroquinolone antibiotics ... Read more
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>


  







  




<li class="ecl-list-item ecl-list-item--one-columns" >
  <a href="#listing-default-two-1" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                






  




<div class="ecl-meta ecl-meta--one-columns" >
  
    <span class="ecl-meta__item">09/03/2018</span>

  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Meeting highlights from the Pharmacovigilance Risk Assessment Committee (PRAC) 5-8 March 2018</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  Immediate measures agreed for Zinbryta and Xofigo while reviews are ongoing; public hearing decided for quinolone and fluoroquinolone antibiotics ... Read more
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>


</ul>

    







<div class="ema-separator ">
  <div class="ema-separator__heading">
    <h3 class="ema-separator__heading--title ecl-heading ecl-heading--ema-h3">
      How does EMA work?
    </h3>

    






  



<svg class="ema-icon ema-separator__heading--icon" >
  <use xlink:href="../../framework/images/icons/ema-icons.svg#ema-icon-set_" />
</svg>
  </div>
</div>

    <p class="ecl-paragraph--ema">Lorem ipsum...</p>

    






  




<ul class="ecl-listing ecl-listing--three-columns" >


  







  




<li class="ecl-list-item ecl-list-item--three-columns" >
  <a href="#list-item-4" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                






  




<div class="ecl-meta ecl-meta--three-columns" >
  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">How we regulate pharmaceutical research and development</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>


  







  




<li class="ecl-list-item ecl-list-item--three-columns" >
  <a href="#list-item-4" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                






  




<div class="ecl-meta ecl-meta--three-columns" >
  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Our role in authorisation of medicines in the EU</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>


  







  




<li class="ecl-list-item ecl-list-item--three-columns" >
  <a href="#list-item-4" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                






  




<div class="ecl-meta ecl-meta--three-columns" >
  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">How the safety of medicines is monitored and controlled</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>


  







  




<li class="ecl-list-item ecl-list-item--three-columns" >
  <a href="#list-item-4" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                






  




<div class="ecl-meta ecl-meta--three-columns" >
  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Who are EMAs scientific experts?</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>


  







  




<li class="ecl-list-item ecl-list-item--three-columns" >
  <a href="#list-item-4" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                






  




<div class="ecl-meta ecl-meta--three-columns" >
  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Ensuring independence and transparency</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>


  







  




<li class="ecl-list-item ecl-list-item--three-columns" >
  <a href="#list-item-4" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                






  




<div class="ecl-meta ecl-meta--three-columns" >
  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Another one</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>


</ul>

    </div>

  <div class="ecl-row">
    <section class="ecl-col-lg-4">
      







<div class="ema-separator ">
  <div class="ema-separator__heading">
    <h3 class="ema-separator__heading--title ecl-heading ecl-heading--ema-h3">
      Key content
    </h3>

    






  



<svg class="ema-icon ema-separator__heading--icon" >
  <use xlink:href="../../framework/images/icons/ema-icons.svg#ema-icon-set_" />
</svg>
  </div>
</div>

      











<ul class="ecl-listing" >


  












<li class="ecl-list-item" >
  <a href="#list-item-4" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                











<div class="ecl-meta" >
  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">CHMP highlights, December 2012</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>


  












<li class="ecl-list-item" >
  <a href="#list-item-4" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                











<div class="ecl-meta" >
  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Guidance for good clinical practice</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>


  












<li class="ecl-list-item" >
  <a href="#list-item-4" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                











<div class="ecl-meta" >
  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">European Public Assessment Reports(Human)</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>


  












<li class="ecl-list-item" >
  <a href="#list-item-4" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                











<div class="ecl-meta" >
  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">European Public Assessment Reports(Veterinary)</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>


  












<li class="ecl-list-item" >
  <a href="#list-item-4" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                











<div class="ecl-meta" >
  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Pharmacovigilance legislation</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>


</ul>
    </section>

    <section class="ecl-col-lg-4">
      







<div class="ema-separator ">
  <div class="ema-separator__heading">
    <h3 class="ema-separator__heading--title ecl-heading ecl-heading--ema-h3">
      Services & databases
    </h3>

    






  



<svg class="ema-icon ema-separator__heading--icon" >
  <use xlink:href="../../framework/images/icons/ema-icons.svg#ema-icon-set_" />
</svg>
  </div>
</div>

      











<ul class="ecl-listing" >


  












<li class="ecl-list-item" >
  <a href="#list-item-4" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                











<div class="ecl-meta" >
  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Suspected ADR reports</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>


  












<li class="ecl-list-item" >
  <a href="#list-item-4" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                











<div class="ecl-meta" >
  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">EU Clinical Trials Register</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>


  












<li class="ecl-list-item" >
  <a href="#list-item-4" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                











<div class="ecl-meta" >
  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">eSubmission services</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>


  












<li class="ecl-list-item" >
  <a href="#list-item-4" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                











<div class="ecl-meta" >
  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">U Telematics services</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>


</ul>
    </section>

    <section class="ecl-col-lg-4">
      







<div class="ema-separator ">
  <div class="ema-separator__heading">
    <h3 class="ema-separator__heading--title ecl-heading ecl-heading--ema-h3">
      Information for
    </h3>

    






  



<svg class="ema-icon ema-separator__heading--icon" >
  <use xlink:href="../../framework/images/icons/ema-icons.svg#ema-icon-set_" />
</svg>
  </div>
</div>

      











<ul class="ecl-listing" >


  












<li class="ecl-list-item" >
  <a href="#list-item-4" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                











<div class="ecl-meta" >
  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Human pharmaceutical industry</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>


  












<li class="ecl-list-item" >
  <a href="#list-item-4" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                











<div class="ecl-meta" >
  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Veterinary pharmaceutical industry</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>


  












<li class="ecl-list-item" >
  <a href="#list-item-4" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                











<div class="ecl-meta" >
  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Human healthcare professionals</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>


  












<li class="ecl-list-item" >
  <a href="#list-item-4" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                











<div class="ecl-meta" >
  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Animal health professionals</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>


  












<li class="ecl-list-item" >
  <a href="#list-item-4" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                











<div class="ecl-meta" >
  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Patients and careers</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>


  












<li class="ecl-list-item" >
  <a href="#list-item-4" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                











<div class="ecl-meta" >
  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">SMEs</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>


  












<li class="ecl-list-item" >
  <a href="#list-item-4" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                











<div class="ecl-meta" >
  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Press and media</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>


</ul>
    </section>
</div>

<div class="ecl-row">
  <section class="ecl-col-lg-12">

  







<div class="ema-separator ">
  <div class="ema-separator__heading">
    <h3 class="ema-separator__heading--title ecl-heading ecl-heading--ema-h3">
      Topics we cover
    </h3>

    






  



<svg class="ema-icon ema-separator__heading--icon" >
  <use xlink:href="../../framework/images/icons/ema-icons.svg#ema-icon-set_" />
</svg>
  </div>
</div>

  






  




<ul class="ecl-listing ecl-listing--three-columns" >


  







  




<li class="ecl-list-item ecl-list-item--three-columns" >
  <a href="#list-item-4" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                






  




<div class="ecl-meta ecl-meta--three-columns" >
  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">HIV and AIDS</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>


  







  




<li class="ecl-list-item ecl-list-item--three-columns" >
  <a href="#list-item-4" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                






  




<div class="ecl-meta ecl-meta--three-columns" >
  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Cancer</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>


  







  




<li class="ecl-list-item ecl-list-item--three-columns" >
  <a href="#list-item-4" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                






  




<div class="ecl-meta ecl-meta--three-columns" >
  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Cardiovascular diseases</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>


  







  




<li class="ecl-list-item ecl-list-item--three-columns" >
  <a href="#list-item-4" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                






  




<div class="ecl-meta ecl-meta--three-columns" >
  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Diabetes</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>


  







  




<li class="ecl-list-item ecl-list-item--three-columns" >
  <a href="#list-item-4" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                






  




<div class="ecl-meta ecl-meta--three-columns" >
  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Neurodegenerative diseases</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>


  







  




<li class="ecl-list-item ecl-list-item--three-columns" >
  <a href="#list-item-4" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                






  




<div class="ecl-meta ecl-meta--three-columns" >
  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Immune-system diseases</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>


  







  




<li class="ecl-list-item ecl-list-item--three-columns" >
  <a href="#list-item-4" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                






  




<div class="ecl-meta ecl-meta--three-columns" >
  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Viral diseases</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>


  







  




<li class="ecl-list-item ecl-list-item--three-columns" >
  <a href="#list-item-4" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                






  




<div class="ecl-meta ecl-meta--three-columns" >
  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Transparency</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>


  







  




<li class="ecl-list-item ecl-list-item--three-columns" >
  <a href="#list-item-4" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                






  




<div class="ecl-meta ecl-meta--three-columns" >
  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Releasing clinical-trial data</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>


  







  




<li class="ecl-list-item ecl-list-item--three-columns" >
  <a href="#list-item-4" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                






  




<div class="ecl-meta ecl-meta--three-columns" >
  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Antimicrobial resistance</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>


  







  




<li class="ecl-list-item ecl-list-item--three-columns" >
  <a href="#list-item-4" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                






  




<div class="ecl-meta ecl-meta--three-columns" >
  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Safety monitoring of medicines</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>


  







  




<li class="ecl-list-item ecl-list-item--three-columns" >
  <a href="#list-item-4" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                






  




<div class="ecl-meta ecl-meta--three-columns" >
  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Medicines for children</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>


</ul>

  </section>
</div>

  </div>
</main>












<footer class="ema-footer" >
  <div class="ecl-container ema-footer__content">
    <div class="ema-footer__section">
      <div class="ema-footer__hotline">
      






  



<svg class="ema-icon ecl-u-fs-xxl ecl-u-mr-xxs ema-icon--l" >
  <use xlink:href="../../framework/images/icons/ema-icons.svg#ema-icon-set_phone" />
</svg>
        <a class="ecl-link--ema-inverted" href="#">
          <div class="ema-footer__hotline-title">Product emergency hotline</div>
          <div class="ema-footer__hotline-desc">outside working hours</div>
        </a>
      </div>
    </div>
  </div>

  <div class="ecl-container ema-footer__content">

        <div class="ema-footer__section">
      <div class="ema-footer__title">About</div>

      <ul class="ecl-list ecl-list--unstyled ema-footer__links">
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Who we are</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">What's new on the site</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Expert blog</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Human regulation</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Veterinary regulation</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Commitees</a>
        </li>
              </ul>
    </div>
        <div class="ema-footer__section">
      <div class="ema-footer__title">Ask EMA</div>

      <ul class="ecl-list ecl-list--unstyled ema-footer__links">
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Public enquiries</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">FAQs</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Access to documents</a>
        </li>
              </ul>
    </div>
        <div class="ema-footer__section">
      <div class="ema-footer__title">Links</div>

      <ul class="ecl-list ecl-list--unstyled ema-footer__links">
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Legal</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Privacy</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Complaints</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Browser compatibility</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Contacts</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Business hours and holidays</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Website help</a>
        </li>
              </ul>
    </div>
        <div class="ema-footer__section">
      <div class="ema-footer__title">Contact</div>

      <ul class="ecl-list ecl-list--unstyled ema-footer__links">
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">EMA<br />30 Churchill Place<br />Canary Whaf<br />London E14 5EU<br />United Kingdom</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Tel: +44 (0)20 3660 6000</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Fax: +44 (0)20 3660 5550</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted ecl-link--ema-external" href="#">Send a question</a>
        </li>
              </ul>
    </div>
      </div>

  <div class="ecl-container">
    <div class="ema-footer__social">
              <span class="ecl-icon ecl-icon--rss"></span>
        







  


<a class="ecl-link ecl-link--ema-inverted ecl-u-mr-xs" href="#">RSS</a>
              <span class="ecl-icon ecl-icon--twitter"></span>
        







  


<a class="ecl-link ecl-link--ema-inverted ecl-u-mr-xs" href="#">Twitter</a>
          </div>
  </div>

  <div class="ecl-container ema-footer__content">
    <div class="ema-footer__copyright">&copy; 1995-2016 European Medicines Agency</div>
    <div class="ema-footer__description">
      
      <div class="ema-footer__logo">
      <img src="" alt="" /></img>
    </div></div>
    <div class="ema-footer__description">
      An agency of the European Union
      <div class="ema-footer__logo"><img src="../../framework/images/eu.png" alt="European Union flag" /></div>
    </div>
  </div>

</footer>

