












<div class="ema-context-banner" >
  <div class="ecl-container">
        <h1 class="ecl-heading ecl-heading--ema-h1">Human regulatory</h1>
    
        <p class="ecl-paragraph ecl-paragraph--l">This section of the website provides information on the regulation of medicines for human use in the European Union (EU). It particularly concerns the centralised procedure, where the European Medicines Agency (EMA) plays a key role.</p>
    
    <ul class="ema-context-banner__links">
                <li class="ema-context-banner__item">
        <a href="#item1-1" class="ema-context-banner__link">Overview</a>
      </li>
                <li class="ema-context-banner__item">
        <a href="#item1-4" class="ema-context-banner__link">Marketing authorisation</a>
      </li>
                <li class="ema-context-banner__item">
        <a href="#item1-2" class="ema-context-banner__link ema-context-banner__link--active">Research and development</a>
      </li>
                <li class="ema-context-banner__item">
        <a href="#item1-5" class="ema-context-banner__link">Post authorisation</a>
      </li>
                <li class="ema-context-banner__item">
        <a href="#item1-3" class="ema-context-banner__link">Herbal products</a>
      </li>
        </ul>
  </div>
</div>

