













<ul class="ema-listings" >


  











  



<li class="ecl-list-item ecl-list-items--with-translations" >
  <a href="" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                







  



<div class="ecl-meta ecl-list-items--with-translations" >
  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Checklist for sponsors applying for the transfer of orphan medicinal product designation <small class="ema-u-color-grey-2">(PDF - 230kb)</small></h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  <div class="ema-u-color-grey-2"><small>Published 15/01/2009<br />Updated 13/11/2017</small></div>
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>

  <li class="ecl-list-item ema-list-item__translations">
    <div class="ecl-file__translations">
      








  
                                


  <button class="ecl-button ecl-button--secondary ecl-file__translations-toggle" aria-controls="translations-expand" aria-expanded="true" id="translations-expand-button" type="button" title="Click to see translations">Available languages (3)</button>

      <div aria-hidden="false" aria-labelledby="translations-expand-button" id="translations-expand">
        <ul class="ecl-file__translations-list">
                                    <li class="ecl-file__translations-item">
                <div class="ecl-file__translations-metadata">
                  <span class="ecl-file__translations-title">Titre du fichier</span>
                  <div class="ecl-file__translations-info">(230 kB - PDF - 4 pages)</div>
                </div>
                








  
        


  <button class="ecl-button ecl-button--secondary ecl-file__translations-download" type="button"><span class="ecl-u-sr-only">(230 kB - PDF - 4 pages)</button>
              </li>
                          <li class="ecl-file__translations-item">
                <div class="ecl-file__translations-metadata">
                  <span class="ecl-file__translations-title">Dateititel</span>
                  <div class="ecl-file__translations-info">(230 kB - PDF - 4 pages)</div>
                </div>
                








  
        


  <button class="ecl-button ecl-button--secondary ecl-file__translations-download" type="button"><span class="ecl-u-sr-only">(230 kB - PDF - 4 pages)</button>
              </li>
                          <li class="ecl-file__translations-item">
                <div class="ecl-file__translations-metadata">
                  <span class="ecl-file__translations-title">Файл Заглавие</span>
                  <div class="ecl-file__translations-info">(230 kB - PDF - 4 pages)</div>
                </div>
                








  
        


  <button class="ecl-button ecl-button--secondary ecl-file__translations-download" type="button"><span class="ecl-u-sr-only">(230 kB - PDF - 4 pages)</button>
              </li>
                              </ul>
      </div>
    </div>
  </li>


  















<li class="ecl-list-item" >
  <a href="" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                











<div class="ecl-meta" >
  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Template 1 - Orphan designation transfer form <small class="ema-u-color-grey-2">(DOC - 512kb)</small></h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  <div class="ema-u-color-grey-2"><small>Published 13/04/2016<br />Updated 13/12/2016</small></div>
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>



  















<li class="ecl-list-item" >
  <a href="" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                











<div class="ecl-meta" >
  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Template 2 - Translations of the active ingredient and indication for transfer of orphan-medicinal-product designation <small class="ema-u-color-grey-2">(DOCX - 132kb)</small></h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  <div class="ema-u-color-grey-2"><small>Published 24/11/2008<br />Updated 04/07/2013</small></div>
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>



</ul>

