

<!-- Start: @ema-list-items--pdf -->

      <li class="ecl-list-item ecl-list-item--ema-pdf" >
  <a href="" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                







  



<div class="ecl-meta ecl-list-item--ema-pdf" >
  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Title of the document <small class="ema-u-color-grey-2">(PDF - 230kb)</small></h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  <div class="ema-u-color-grey-2"><small>Published 15/01/2009<br />Updated 13/11/2017</small></div>
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>

      <!-- End: @ema-list-items--pdf -->

<!-- Start: @ema-list-items--doc -->

      <li class="ecl-list-item ecl-list-item--ema-doc" >
  <a href="" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                







  



<div class="ecl-meta ecl-list-item--ema-doc" >
  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Title of the document <small class="ema-u-color-grey-2">(DOC - 230kb)</small></h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  <div class="ema-u-color-grey-2"><small>Published 15/01/2009<br />Updated 13/11/2017</small></div>
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>

      <!-- End: @ema-list-items--doc -->

<!-- Start: @ema-list-items--xls -->

      <li class="ecl-list-item ecl-list-item--ema-xls" >
  <a href="" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                







  



<div class="ecl-meta ecl-list-item--ema-xls" >
  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Title of the document <small class="ema-u-color-grey-2">(XLS - 230kb)</small></h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  <div class="ema-u-color-grey-2"><small>Published 15/01/2009<br />Updated 13/11/2017</small></div>
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>

      <!-- End: @ema-list-items--xls -->

<!-- Start: @ema-list-items--ppt -->

      <li class="ecl-list-item ecl-list-item--ema-ppt" >
  <a href="" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                







  



<div class="ecl-meta ecl-list-item--ema-ppt" >
  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Title of the document <small class="ema-u-color-grey-2">(PPT - 230kb)</small></h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  <div class="ema-u-color-grey-2"><small>Published 15/01/2009<br />Updated 13/11/2017</small></div>
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>

      <!-- End: @ema-list-items--ppt -->

<!-- Start: @ema-list-items--zip -->

      <li class="ecl-list-item ecl-list-item--ema-zip" >
  <a href="" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                







  



<div class="ecl-meta ecl-list-item--ema-zip" >
  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Title of the document <small class="ema-u-color-grey-2">(ZIP - 230kb)</small></h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  <div class="ema-u-color-grey-2"><small>Published 15/01/2009<br />Updated 13/11/2017</small></div>
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>

      <!-- End: @ema-list-items--zip -->

