

<!-- Start: @ema-colors--ema-color-primary -->
<li class="palette palette--primary">
<div class="palette-color" style="background-color: #0f3f81"></div>
<div class="palette-color__content">
  <div class="palette-color__name">$ema-color-primary</div>
  <div class="palette-color__code">#0f3f81</div>
</div>
</li>
<!-- End: @ema-colors--ema-color-primary -->

<!-- Start: @ema-colors--ema-color-blue-1 -->
<li class="palette palette--blue">
<div class="palette-color" style="background-color: #13376d"></div>
<div class="palette-color__content">
  <div class="palette-color__name">$ema-color-blue-1</div>
  <div class="palette-color__code">#13376d</div>
</div>
</li>
<!-- End: @ema-colors--ema-color-blue-1 -->

<!-- Start: @ema-colors--ema-color-blue-2 -->
<li class="palette palette--blue">
<div class="palette-color" style="background-color: #0b4ba0"></div>
<div class="palette-color__content">
  <div class="palette-color__name">$ema-color-blue-2</div>
  <div class="palette-color__code">#0b4ba0</div>
</div>
</li>
<!-- End: @ema-colors--ema-color-blue-2 -->

<!-- Start: @ema-colors--ema-color-blue-3 -->
<li class="palette palette--blue">
<div class="palette-color" style="background-color: #4172b3"></div>
<div class="palette-color__content">
  <div class="palette-color__name">$ema-color-blue-3</div>
  <div class="palette-color__code">#4172b3</div>
</div>
</li>
<!-- End: @ema-colors--ema-color-blue-3 -->

<!-- Start: @ema-colors--ema-color-orange-1 -->
<li class="palette palette--orange">
<div class="palette-color" style="background-color: #f13d23"></div>
<div class="palette-color__content">
  <div class="palette-color__name">$ema-color-orange-1</div>
  <div class="palette-color__code">#f13d23</div>
</div>
</li>
<!-- End: @ema-colors--ema-color-orange-1 -->

<!-- Start: @ema-colors--ema-color-orange-2 -->
<li class="palette palette--orange">
<div class="palette-color" style="background-color: #f48a00"></div>
<div class="palette-color__content">
  <div class="palette-color__name">$ema-color-orange-2</div>
  <div class="palette-color__code">#f48a00</div>
</div>
</li>
<!-- End: @ema-colors--ema-color-orange-2 -->

<!-- Start: @ema-colors--ema-color-orange-3 -->
<li class="palette palette--orange">
<div class="palette-color" style="background-color: #f7bb2c"></div>
<div class="palette-color__content">
  <div class="palette-color__name">$ema-color-orange-3</div>
  <div class="palette-color__code">#f7bb2c</div>
</div>
</li>
<!-- End: @ema-colors--ema-color-orange-3 -->

<!-- Start: @ema-colors--ema-color-green-1 -->
<li class="palette palette--green">
<div class="palette-color" style="background-color: #06854b"></div>
<div class="palette-color__content">
  <div class="palette-color__name">$ema-color-green-1</div>
  <div class="palette-color__code">#06854b</div>
</div>
</li>
<!-- End: @ema-colors--ema-color-green-1 -->

<!-- Start: @ema-colors--ema-color-green-2 -->
<li class="palette palette--green">
<div class="palette-color" style="background-color: #13b66d"></div>
<div class="palette-color__content">
  <div class="palette-color__name">$ema-color-green-2</div>
  <div class="palette-color__code">#13b66d</div>
</div>
</li>
<!-- End: @ema-colors--ema-color-green-2 -->

<!-- Start: @ema-colors--ema-color-green-3 -->
<li class="palette palette--green">
<div class="palette-color" style="background-color: #89cdad"></div>
<div class="palette-color__content">
  <div class="palette-color__name">$ema-color-green-3</div>
  <div class="palette-color__code">#89cdad</div>
</div>
</li>
<!-- End: @ema-colors--ema-color-green-3 -->

<!-- Start: @ema-colors--ema-color-grey-1 -->
<li class="palette palette--grey">
<div class="palette-color" style="background-color: #4c4c4c"></div>
<div class="palette-color__content">
  <div class="palette-color__name">$ema-color-grey-1</div>
  <div class="palette-color__code">#4c4c4c</div>
</div>
</li>
<!-- End: @ema-colors--ema-color-grey-1 -->

<!-- Start: @ema-colors--ema-color-grey-2 -->
<li class="palette palette--grey">
<div class="palette-color" style="background-color: #606060"></div>
<div class="palette-color__content">
  <div class="palette-color__name">$ema-color-grey-2</div>
  <div class="palette-color__code">#606060</div>
</div>
</li>
<!-- End: @ema-colors--ema-color-grey-2 -->

<!-- Start: @ema-colors--ema-color-grey-3 -->
<li class="palette palette--grey">
<div class="palette-color" style="background-color: #b1b1b1"></div>
<div class="palette-color__content">
  <div class="palette-color__name">$ema-color-grey-3</div>
  <div class="palette-color__code">#b1b1b1</div>
</div>
</li>
<!-- End: @ema-colors--ema-color-grey-3 -->

<!-- Start: @ema-colors--ema-color-light-grey-1 -->
<li class="palette palette--grey">
<div class="palette-color" style="background-color: #e5e5e5"></div>
<div class="palette-color__content">
  <div class="palette-color__name">$ema-color-light-grey-1</div>
  <div class="palette-color__code">#e5e5e5</div>
</div>
</li>
<!-- End: @ema-colors--ema-color-light-grey-1 -->

<!-- Start: @ema-colors--ema-color-light-grey-2 -->
<li class="palette palette--grey">
<div class="palette-color" style="background-color: #efefef"></div>
<div class="palette-color__content">
  <div class="palette-color__name">$ema-color-light-grey-2</div>
  <div class="palette-color__code">#efefef</div>
</div>
</li>
<!-- End: @ema-colors--ema-color-light-grey-2 -->

<!-- Start: @ema-colors--ema-color-light-grey-3 -->
<li class="palette palette--grey">
<div class="palette-color" style="background-color: #f8f8f8"></div>
<div class="palette-color__content">
  <div class="palette-color__name">$ema-color-light-grey-3</div>
  <div class="palette-color__code">#f8f8f8</div>
</div>
</li>
<!-- End: @ema-colors--ema-color-light-grey-3 -->

<!-- Start: @ema-colors--ema-color-light-grey-4 -->
<li class="palette palette--grey">
<div class="palette-color" style="background-color: #fcfcfc"></div>
<div class="palette-color__content">
  <div class="palette-color__name">$ema-color-light-grey-4</div>
  <div class="palette-color__code">#fcfcfc</div>
</div>
</li>
<!-- End: @ema-colors--ema-color-light-grey-4 -->

