

<!-- Start: @ema-colors--ema-color-primary -->
<li class="palette palette--primary">
<div class="palette-color" style="background-color: #003399"></div>
<div class="palette-color__content">
  <div class="palette-color__name">$ema-color-primary</div>
  <div class="palette-color__code">#003399</div>
</div>
</li>
<!-- End: @ema-colors--ema-color-primary -->

<!-- Start: @ema-colors--ema-color-blue-1 -->
<li class="palette palette--blue">
<div class="palette-color" style="background-color: #2651a8"></div>
<div class="palette-color__content">
  <div class="palette-color__name">$ema-color-blue-1</div>
  <div class="palette-color__code">#2651a8</div>
</div>
</li>
<!-- End: @ema-colors--ema-color-blue-1 -->

<!-- Start: @ema-colors--ema-color-blue-2 -->
<li class="palette palette--blue">
<div class="palette-color" style="background-color: #4066b3"></div>
<div class="palette-color__content">
  <div class="palette-color__name">$ema-color-blue-2</div>
  <div class="palette-color__code">#4066b3</div>
</div>
</li>
<!-- End: @ema-colors--ema-color-blue-2 -->

<!-- Start: @ema-colors--ema-color-blue-3 -->
<li class="palette palette--blue">
<div class="palette-color" style="background-color: #4c70b7"></div>
<div class="palette-color__content">
  <div class="palette-color__name">$ema-color-blue-3</div>
  <div class="palette-color__code">#4c70b7</div>
</div>
</li>
<!-- End: @ema-colors--ema-color-blue-3 -->

<!-- Start: @ema-colors--ema-color-blue-4 -->
<li class="palette palette--blue">
<div class="palette-color" style="background-color: #5275ba"></div>
<div class="palette-color__content">
  <div class="palette-color__name">$ema-color-blue-4</div>
  <div class="palette-color__code">#5275ba</div>
</div>
</li>
<!-- End: @ema-colors--ema-color-blue-4 -->

<!-- Start: @ema-colors--ema-color-epar-red -->
<li class="palette palette--epar">
<div class="palette-color" style="background-color: #e32a0d"></div>
<div class="palette-color__content">
  <div class="palette-color__name">$ema-color-epar-red</div>
  <div class="palette-color__code">#e32a0d</div>
</div>
</li>
<!-- End: @ema-colors--ema-color-epar-red -->

<!-- Start: @ema-colors--ema-color-epar-green -->
<li class="palette palette--epar">
<div class="palette-color" style="background-color: #06854b"></div>
<div class="palette-color__content">
  <div class="palette-color__name">$ema-color-epar-green</div>
  <div class="palette-color__code">#06854b</div>
</div>
</li>
<!-- End: @ema-colors--ema-color-epar-green -->

<!-- Start: @ema-colors--ema-color-epar-grey -->
<li class="palette palette--epar">
<div class="palette-color" style="background-color: #737373"></div>
<div class="palette-color__content">
  <div class="palette-color__name">$ema-color-epar-grey</div>
  <div class="palette-color__code">#737373</div>
</div>
</li>
<!-- End: @ema-colors--ema-color-epar-grey -->

<!-- Start: @ema-colors--ema-color-grey-1 -->
<li class="palette palette--grey">
<div class="palette-color" style="background-color: #4c4c4c"></div>
<div class="palette-color__content">
  <div class="palette-color__name">$ema-color-grey-1</div>
  <div class="palette-color__code">#4c4c4c</div>
</div>
</li>
<!-- End: @ema-colors--ema-color-grey-1 -->

<!-- Start: @ema-colors--ema-color-grey-2 -->
<li class="palette palette--grey">
<div class="palette-color" style="background-color: #606060"></div>
<div class="palette-color__content">
  <div class="palette-color__name">$ema-color-grey-2</div>
  <div class="palette-color__code">#606060</div>
</div>
</li>
<!-- End: @ema-colors--ema-color-grey-2 -->

<!-- Start: @ema-colors--ema-color-grey-3 -->
<li class="palette palette--grey">
<div class="palette-color" style="background-color: #b1b1b1"></div>
<div class="palette-color__content">
  <div class="palette-color__name">$ema-color-grey-3</div>
  <div class="palette-color__code">#b1b1b1</div>
</div>
</li>
<!-- End: @ema-colors--ema-color-grey-3 -->

<!-- Start: @ema-colors--ema-color-light-grey-1 -->
<li class="palette palette--grey">
<div class="palette-color" style="background-color: #e5e5e5"></div>
<div class="palette-color__content">
  <div class="palette-color__name">$ema-color-light-grey-1</div>
  <div class="palette-color__code">#e5e5e5</div>
</div>
</li>
<!-- End: @ema-colors--ema-color-light-grey-1 -->

<!-- Start: @ema-colors--ema-color-light-grey-2 -->
<li class="palette palette--grey">
<div class="palette-color" style="background-color: #efefef"></div>
<div class="palette-color__content">
  <div class="palette-color__name">$ema-color-light-grey-2</div>
  <div class="palette-color__code">#efefef</div>
</div>
</li>
<!-- End: @ema-colors--ema-color-light-grey-2 -->

<!-- Start: @ema-colors--ema-color-light-grey-3 -->
<li class="palette palette--grey">
<div class="palette-color" style="background-color: #f8f8f8"></div>
<div class="palette-color__content">
  <div class="palette-color__name">$ema-color-light-grey-3</div>
  <div class="palette-color__code">#f8f8f8</div>
</div>
</li>
<!-- End: @ema-colors--ema-color-light-grey-3 -->

<!-- Start: @ema-colors--ema-color-light-grey-4 -->
<li class="palette palette--grey">
<div class="palette-color" style="background-color: #fcfcfc"></div>
<div class="palette-color__content">
  <div class="palette-color__name">$ema-color-light-grey-4</div>
  <div class="palette-color__code">#fcfcfc</div>
</div>
</li>
<!-- End: @ema-colors--ema-color-light-grey-4 -->

