












<header class="ema-header" >
  <div class="ecl-container ema-header__extra">
    <div class="ema-header__links">
          </div>
  </div>

  <div class="ecl-container ema-header__banner">
    <div class="ema-header__logo"><img src="../../framework/images/logo_ema.jpg" alt="EMA logo" /></div>

        







  


<form class="ecl-search-form ecl-site-header__search ecl-search-form--ema">
  <label class="ecl-search-form__textfield-wrapper">
    <span class="ecl-u-sr-only">Search this website</span>
    






  

  


<input
  type="search"
  class="ecl-text-input ecl-search-form__textfield"
  id="global-search"
  name="default-name"
  
/>
  </label>
  








  
        


  <button class="ecl-button ecl-button--form ecl-search-form__button ecl-button--primary ecl-button--ema-primary" type="submit">Search</button>
</form>
      </div>
</header>

