

















<li class="ecl-list-item" >
  <a href="" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                











<div class="ecl-meta" >
  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Title of the document <small class="ema-u-color-grey-2 ecl-list-item__title--normal">(pdf - 230kb)</small></h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  <div class="ema-u-color-grey-2"><small>Published 15/01/2009<br />Updated 13/11/2017</small></div>
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>


