


      <!-- Start: @ema-forms-text-inputs--default -->

      <div class="ecl-form-group">
        <label for="example-input-id-1" class="ecl-form-label">
          Normal input
        </label>

        <input
  type="text"
  class="ecl-text-input ecl-text-input--ema"
  id="example-input-id-1"
  name="default-name"
   placeholder="Some placeholder text."
/>

      </div>
      <!-- End: @ema-forms-text-inputs--default -->

    

      <!-- Start: @ema-forms-text-inputs--disabled -->

      <div class="ecl-form-group">
        <label for="example-input-id-2" class="ecl-form-label">
          Disabled input
        </label>

        <input
  type="text"
  class="ecl-text-input ecl-text-input--ema"
  id="example-input-id-2"
  name="default-name"
   disabled placeholder="Some placeholder text."
/>

      </div>
      <!-- End: @ema-forms-text-inputs--disabled -->

    

      <!-- Start: @ema-forms-text-inputs--with-error -->

      <div class="ecl-form-group">
        <label for="example-input-id-3" class="ecl-form-label">
          Input with error
        </label>

        <input
  type="text"
  class="ecl-text-input ecl-text-input--has-error ecl-text-input--ema"
  id="example-input-id-3"
  name="default-name"
   placeholder="Some placeholder text."
/>

      </div>
      <!-- End: @ema-forms-text-inputs--with-error -->

    
