.ema-ratings {
  margin: 0;
}

.ema-ratings__stars {
  display: inline-block;

  .ema-ratings__input {
    display: none;
  }
  .ema-ratings__input:checked ~ label {
    color: map-get($ema-colors, 'orange-3');
  }
}

.ema-ratings__stars:not(:checked) {
  .ema-ratings__star {
    color: map-get($ema-colors, 'grey-3');
    cursor: pointer;
    float: right;
  }
  .ema-ratings__star:hover,
  .ema-ratings__star:hover ~ label {
    color: map-get($ema-colors, 'orange-2')
  }
}
