/**
* EMA Links component
*/

@import 'links-mixins';

.ecl-link--ema-default {
  @include link();
}

.ecl-link--ema-external {
  @include link();
  @include link-external();
}

.ecl-link--ema-standalone {
  @include link();
  color: map-get($ema-colors, 'blue-2');
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.ecl-link--ema-obvious {
  @include link();
  color: #000;
  text-decoration: none;

  &:hover,
  &:focus {
    color: map-get($ema-colors, 'blue-2');
    text-decoration: underline;
  }
}

.ecl-link--ema-inverted {
  @include link();
  color: #fff;

  &:hover,
  &:focus {
    color: #fff;
  }
}

.ecl-link--ema-all {
  @include link();
  clear: right;
  float: right;
  text-transform: uppercase;
}

.ecl-link--ema-more {
  @include link();
  text-transform: uppercase;

  &::after {
    @extend %ecl-icon--after;

    @include ecl-icon('right');

    font-size: 75%;
    margin-left: 0.4em;
    margin-right: 0.2em;
  }
}
