<form class="ema-rating-form">
  <h3 class="ecl-heading ecl-heading--ema-h3">How useful was this page?</h3>
  <div class="ecl-u-d-flex">
    {% for rating in ratings %}
      <div class="ecl-u-mr-l">
        {% include '@ec-europa/ema-ratings' with rating %}
      </div>
    {% endfor %}
    <a class="ecl-link--ema-default" href="#">View all 12 ratings</a>
  </div>
  <div class="ecl-u-d-flex ecl-u-align-items-end ecl-u-mt-s">
    {% include '@ec-europa/ecl-forms-textareas' with { rows: 3, extraClass: 'ecl-u-mr-s' } %}
    {% include '@ec-europa/ema-buttons' with {
      extra_classes: 'ecl-button--ema-primary',
      label: 'Submit'
    } %}
  </div>
</form>
