@mixin heading() {
  color: rgb(64, 64, 64);
  font-size: 1.22rem;
  font-weight: 600;
  line-height: 1.1;
  margin: 0;
  max-width: 56em;
  padding: 0;
}

@mixin heading-1() {
  color: #000;
  font-size: map-get($ecl-font-size, 'xxl');
  font-weight: normal;
  line-height: 1.1;
}

@mixin heading-2() {
  color: #000;
  font-size: map-get($ecl-font-size, 'xl');
  font-weight: normal;
  line-height: 1.1;
}

@mixin heading-3() {
  color: #000;
  font-size: map-get($ecl-font-size, 'l');
  font-weight: normal;
  line-height: 1.1;
}

@mixin heading-4() {
  color: #000;
  font-size: map-get($ecl-font-size, 'm');
  font-weight: bold;
  line-height: 1.1;
}
