{#
  This is an example and should not be used as it is.
#}

{% include '@ec-europa/ecl-skip-links' with {
    'href': '#main-content',
    'label': 'Skip to main content'
} %}

{% include '@ec-europa/ema-headers' with header %}

{% include '@ec-europa/ema-navigation-menus' with menu %}

{% include '@ec-europa/ema-context-banners' with banner %}

<main class="ecl-u-mv-l">
  <div class="ecl-container">
  <div class="ecl-row">
    <section class="ecl-col-lg-12">
      <h2 class="ecl-heading ecl-heading--ema-h2">What's new</h2>
      <section>
        {% include '@ec-europa/ecl-listings' with {
          variant: 'two-columns',
          items: [
            {
              title: 'News title',
              href: '#listing-thumbnail-two-1',
              detail: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi fringilla ligula in justo sagittis porta. Quisque tincidunt euismod eleifend. Donec est ex, ultrices quis velit a, consequat congue ipsum. Duis ac efficitur eros, at finibus lorem. Curabitur eleifend elit ac pulvinar consectetur.',
              primary_image: {
                src: 'https://picsum.photos/100/100/?random',
                alt: 'news alt text',
              },
            },
            {
              title: 'News title',
              href: '#listing-thumbnail-two-1',
              detail: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi fringilla ligula in justo sagittis porta. Quisque tincidunt euismod eleifend. Donec est ex, ultrices quis velit a, consequat congue ipsum. Duis ac efficitur eros, at finibus lorem. Curabitur eleifend elit ac pulvinar consectetur.',
              primary_image: {
                src: 'https://picsum.photos/100/100/?random',
                alt: 'news alt text',
              },
            },
            {
              title: 'News title',
              href: '#listing-thumbnail-two-1',
              detail: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi fringilla ligula in justo sagittis porta. Quisque tincidunt euismod eleifend. Donec est ex, ultrices quis velit a, consequat congue ipsum. Duis ac efficitur eros, at finibus lorem. Curabitur eleifend elit ac pulvinar consectetur.',
              primary_image: {
                src: 'https://picsum.photos/100/100/?random',
                alt: 'news alt text',
              },
            },
            {
              title: 'News title',
              href: '#listing-thumbnail-two-1',
              detail: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi fringilla ligula in justo sagittis porta. Quisque tincidunt euismod eleifend. Donec est ex, ultrices quis velit a, consequat congue ipsum. Duis ac efficitur eros, at finibus lorem. Curabitur eleifend elit ac pulvinar consectetur.',
              primary_image: {
                src: 'https://picsum.photos/100/100/?random',
                alt: 'news alt text',
              },
            },
          ]
        } %}
      </section>
    </div>
    <div class="ecl-row">
      <section class="ecl-col-lg-12">
        <h2 class="ecl-heading ecl-heading--ema-h2">Browse our partners</h2>

        {% include '@ec-europa/ema-separator' with {
          icon: 'group',
          title: 'EU partners',
        } %}

        {% include '@ec-europa/ecl-listings' with {
          variant: 'two-columns',
          items: [
            {
              title: 'EU institutions',
              href: '#listing-default-two-1',
              detail: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi fringilla ligula in justo sagittis porta. Quisque tincidunt euismod eleifend. Donec est ex, ultrices quis velit a, consequat congue ipsum. Duis ac efficitur eros, at finibus lorem. Curabitur eleifend elit ac pulvinar consectetur.',
            },
            {
              title: 'EU agencies',
              href: '#listing-default-two-2',
              detail: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi fringilla ligula in justo sagittis porta. Quisque tincidunt euismod eleifend. Donec est ex, ultrices quis velit a, consequat congue ipsum. Duis ac efficitur eros, at finibus lorem. Curabitur eleifend elit ac pulvinar consectetur.',
            },
            {
              title: 'EU member states',
              href: '#listing-default-two-3',
              detail: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi fringilla ligula in justo sagittis porta. Quisque tincidunt euismod eleifend. Donec est ex, ultrices quis velit a, consequat congue ipsum. Duis ac efficitur eros, at finibus lorem. Curabitur eleifend elit ac pulvinar consectetur.',
            },
            {
              title: 'EU enlargement',
              href: '#listing-default-two-4',
              detail: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi fringilla ligula in justo sagittis porta. Quisque tincidunt euismod eleifend. Donec est ex, ultrices quis velit a, consequat congue ipsum. Duis ac efficitur eros, at finibus lorem. Curabitur eleifend elit ac pulvinar consectetur.',
            },
          ]
        } %}

        {% include '@ec-europa/ema-separator' with {
          icon: 'group',
          title: 'Regulators outside the EU',
        } %}

        {% include '@ec-europa/ecl-listings' with {
          variant: 'three-columns',
          items: [
            {
              title: 'United states',
              href: '#listing-default-two-1'            },
            {
              title: 'Canada',
              href: '#listing-default-two-2'          },
            {
              title: 'Japan',
              href: '#listing-default-two-3'            },
            {
              title: 'Switzerland',
              href: '#listing-default-two-4'        },
            {
              title: 'Australia',
              href: '#listing-default-two-5'            },
            {
              title: 'New Zealand',
              href: '#listing-default-two-6'            },
          ]
        } %}

        {% include '@ec-europa/ema-separator' with {
          icon: 'group',
          title: 'Patients and Consumers',
        } %}

        {% include '@ec-europa/ecl-listings' with {
          variant: 'three-columns',
          items: [
            {
              title: 'Getting involved',
              href: '#listing-default-two-1',
              detail: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi fringilla ligula in justo sagittis porta. Quisque tincidunt euismod eleifend. Donec est ex, ultrices quis velit a, consequat congue ipsum. Duis ac efficitur eros, at finibus lorem. Curabitur eleifend elit ac pulvinar consectetur.',
            },
            {
              title: 'Eligible organisations',
              href: '#listing-default-two-2',
              detail: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi fringilla ligula in justo sagittis porta. Quisque tincidunt euismod eleifend. Donec est ex, ultrices quis velit a, consequat congue ipsum. Duis ac efficitur eros, at finibus lorem. Curabitur eleifend elit ac pulvinar consectetur.',
            },
            {
              title: 'Patients and Consumers working party',
              href: '#listing-default-two-3',
              detail: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi fringilla ligula in justo sagittis porta. Quisque tincidunt euismod eleifend. Donec est ex, ultrices quis velit a, consequat congue ipsum. Duis ac efficitur eros, at finibus lorem. Curabitur eleifend elit ac pulvinar consectetur.',
            },
            {
              title: 'Training & resources',
              href: '#listing-default-two-4',
              detail: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi fringilla ligula in justo sagittis porta. Quisque tincidunt euismod eleifend. Donec est ex, ultrices quis velit a, consequat congue ipsum. Duis ac efficitur eros, at finibus lorem. Curabitur eleifend elit ac pulvinar consectetur.',
            },
            {
              title: 'Key documents',
              href: '#listing-default-two-4',
              detail: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi fringilla ligula in justo sagittis porta. Quisque tincidunt euismod eleifend. Donec est ex, ultrices quis velit a, consequat congue ipsum. Duis ac efficitur eros, at finibus lorem. Curabitur eleifend elit ac pulvinar consectetur.',
            },
          ]
        } %}

      </section>
  </div>
  </div>
</main>

{% include '@ec-europa/ema-footers' with footer %}
