/**
* EMA Navigation menu component
*/

.ecl-navigation-menu--ema {
  background-color: map-get($ema-colors, 'primary');

  .ecl-navigation-menu__group {
    flex-direction: column;
  }

  .ecl-navigation-menu__group::before {
    background-color: map-get($ema-colors, 'light-grey-2');
  }

  .ecl-navigation-menu__link {
    background-color: map-get($ema-colors, 'primary');
    color: #fff;
    font-weight: normal;
  }

  .ecl-navigation-menu__item--active {
    background-color: map-get($ema-colors, 'primary');
  }

  .ecl-navigation-menu__item--active .ecl-navigation-menu__link::before {
    background-color: #fff;
    bottom: 0;
    content: '';
    display: block;
    height: 4px;
    left: 0;
    margin: 0;
    position: absolute;
    width: 100%;
  }

  .ecl-navigation-menu__link[aria-expanded='true'] {
    background-color: map-get($ema-colors, 'primary');
    color: #fff;
  }

  .ecl-navigation-menu__toggle {
    background-color: map-get($ema-colors, 'primary');
  }

  .ecl-navigation-menu__root::before,
  .ecl-navigation-menu__item--active::before {
    background-color: transparent;
  }
}
