/**
* EMA Navigation menu component
*/

.ecl-navigation-menu--ema {
  background-color: map-get($ema-colors, 'primary');

  .ecl-navigation-menu__group {
    flex-direction: column;
    padding: 0;
  }

  .ecl-navigation-menu__group::before {
    background-color: map-get($ema-colors, 'light-grey-2');
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
  }

  .ecl-navigation-menu__link {
    background-color: map-get($ema-colors, 'primary');
    color: #fff;
    font-weight: normal;
  }

  .ecl-navigation-menu__item--active {
    background-color: map-get($ema-colors, 'primary');
  }

  .ecl-navigation-menu__item--active .ecl-navigation-menu__link::before {
    background-color: #fff;
    bottom: 0;
    content: '';
    display: block;
    height: 4px;
    left: 0;
    margin: 0;
    position: absolute;
    width: 100%;
  }

  .ecl-navigation-menu__link[aria-expanded='true'] {
    background-color: map-get($ema-colors, 'primary');
    color: #fff;
  }

  .ecl-navigation-menu__toggle {
    background-color: map-get($ema-colors, 'primary');
  }

  .ecl-navigation-menu__root::before,
  .ecl-navigation-menu__item--active::before {
    background-color: transparent;
  }

  .ema-context-banner {
    margin-left: -(map-get($ecl-spacing, 's'));
  }
}
