/**
 * Status component
 */

.ema-status {
  color: #fff;
  display: flex;
  font-size: map-get($ecl-font-size, 'm');
  margin: 0;
  padding: map-get($ecl-spacing, 'm') map-get($ecl-spacing, 'xs');
}

.ema-status-icon {
  flex-shrink: 0;
}

.ema-status--info,
.ema-status--patient-safety {
  background-color: map-get($ema-colors, 'epar-grey');
}
.ema-status--authorised {
  background-color: map-get($ema-colors, 'epar-green');
}
.ema-status--refused,
.ema-status--withdrawn,
.ema-status--suspended {
  background-color: map-get($ema-colors, 'epar-red');
}

.ema-status-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ema-status-title {
  text-transform: uppercase;
}

.ema-status-desc {
  font-size: map-get($ecl-font-size, 's');
  margin-top: map-get($ecl-spacing, 'xxxs');
}
