{#
  This is an example and should not be used as it is.
#}

{% include '@ec-europa/ecl-skip-links' with {
    'href': '#main-content',
    'label': 'Skip to main content'
} %}

{% include '@ec-europa/ema-headers' with header %}

{% include '@ec-europa/ema-navigation-menus' with menu %}

<main class="ecl-u-mv-l">
  <div class="ecl-container">

    {% include '@ec-europa/ema-search-forms' with {
      'extra_classes': 'ecl-search-form--ema'
    } %}

    <div class="ecl-row ecl-u-mt-l">
      <aside class="ecl-col-lg-4 ecl-col-xl-3 ecl-u-order-last ecl-u-order-lg-first">
        Search options

        <form>
          {# ------- Dates ------- #}
          {% include '@ec-europa/ecl-forms-legends' with {
            'content': 'Date',
            'level': 1,
            'extra_class': 'ecl-u-mt-m'
          }%}
          {% include '@ec-europa/ecl-forms-labels' with {
            'label': 'From',
            'extra_classes': ' ecl-u-mt-xxs'
          }%}
          {% include '@ec-europa/ecl-datepickers' with {
            'value': '01/01/2018',
          }%}
          {% include '@ec-europa/ecl-forms-labels' with {
            'label': 'To',
            'extra_classes': ' ecl-u-mt-xxs'
          }%}
          {% include '@ec-europa/ecl-datepickers' with {
            'value': '12/02/2018',
          }%}

          {# ------- Categories ------- #}
          {% include '@ec-europa/ecl-forms-legends' with {
            'content': 'Categorie',
            'level': 1,
            'extra_class': 'ecl-u-mt-m'
          }%}
          {% include '@ec-europa/ecl-forms-selects' with {
            'id': 'example-select-id-1',
            'options': [
              {
                'label': 'Contact listing page (75)',
                'value': '1'
              },
              {
                'label': 'Document (20)',
                'value': '2'
              },
              {
                'label': 'Expert (2932)',
                'value': '3'
              },
              {
                'label': 'General (1)',
                'value': '4'
              },
              {
                'label': 'Herbal (1)',
                'value': '5'
              },
              {
                'label': 'Medicine (22)',
                'value': '6'
              },
              {
                'label': 'PIP (22)',
                'value': '7'
              },
              {
                'label': 'Questions and answers (179)',
                'value': '8'
              },
              {
                'label': 'Withdrawn applications (1)',
                'value': '9'
              },
            ]
          }%}

          {# ------- Commitees ------- #}
          {% include '@ec-europa/ecl-forms-legends' with {
            'content': 'Commitees',
            'level': 1,
            'extra_class': 'ecl-u-mt-m ecl-u-mb-xxs'
          }%}
          {% include '@ec-europa/ecl-forms-checkboxes' with {
            'label': 'CHMP (44)',
            'id': 'search-filter-comitees-1',
            'name': 'search-filter-comitees-1',
            'value': '1'
          }%}
          {% include '@ec-europa/ecl-forms-checkboxes' with {
            'label': 'CVMP (13)',
            'id': 'search-filter-comitees-2',
            'name': 'search-filter-comitees-2',
            'value': '2'
          }%}
          {% include '@ec-europa/ecl-forms-checkboxes' with {
            'label': 'HMPC (5)',
            'id': 'search-filter-comitees-3',
            'name': 'search-filter-comitees-3',
            'value': '3'
          }%}
          {% include '@ec-europa/ecl-forms-checkboxes' with {
            'label': 'CAT (4)',
            'id': 'search-filter-comitees-4',
            'name': 'search-filter-comitees-4',
            'value': '4'
          }%}
          {% include '@ec-europa/ecl-forms-checkboxes' with {
            'label': 'PDCO (3)',
            'id': 'search-filter-comitees-5',
            'name': 'search-filter-comitees-5',
            'value': '5'
          }%}
          {% include '@ec-europa/ecl-forms-checkboxes' with {
            'label': 'COMP (2)',
            'id': 'search-filter-comitees-6',
            'name': 'search-filter-comitees-6',
            'value': '6'
          }%}
          {% include '@ec-europa/ecl-forms-checkboxes' with {
            'label': 'PRAC (2)',
            'id': 'search-filter-comitees-7',
            'name': 'search-filter-comitees-7',
            'value': '7'
          }%}
          {% include '@ec-europa/ecl-forms-checkboxes' with {
            'label': 'MB (1)',
            'id': 'search-filter-comitees-8',
            'name': 'search-filter-comitees-8',
            'value': '8'
          }%}

          {# ------- Sub commitees ------- #}
          {% include '@ec-europa/ecl-forms-legends' with {
            'content': 'Sub Commitees',
            'level': 1,
            'extra_class': 'ecl-u-mt-m'
          }%}
          {% include '@ec-europa/ecl-forms-text-inputs' with {
            'id': 'search-filter-sub-comitees',
            'extraAttributes': [
              {
                'name': 'placeholder',
                'value': 'Search for a sub commitee'
              }
            ],
            'extraClass': 'ecl-u-mb-xxs'
          } %}
          {% include '@ec-europa/ecl-forms-checkboxes' with {
            'label': 'PCWP (3)',
            'id': 'search-filter-sub-comitees-1',
            'name': 'search-filter-sub-comitees-1',
            'value': '1'
          }%}
          {% include '@ec-europa/ecl-forms-checkboxes' with {
            'label': 'ASMF-WP (2)',
            'id': 'search-filter-sub-comitees-2',
            'name': 'search-filter-sub-comitees-2',
            'value': '2'
          }%}
          {% include '@ec-europa/ecl-forms-checkboxes' with {
            'label': 'JAHEG-3Rs (2)',
            'id': 'search-filter-sub-comitees-3',
            'name': 'search-filter-sub-comitees-3',
            'value': '3'
          }%}
          {% include '@ec-europa/ecl-forms-checkboxes' with {
            'label': 'QRD (2)',
            'id': 'search-filter-sub-comitees-4',
            'name': 'search-filter-sub-comitees-4',
            'value': '4'
          }%}
          {% include '@ec-europa/ecl-forms-checkboxes' with {
            'label': 'QWP (3)',
            'id': 'search-filter-sub-comitees-5',
            'name': 'search-filter-sub-comitees-5',
            'value': '5'
          }%}
          {% include '@ec-europa/ecl-forms-checkboxes' with {
            'label': 'ADVENT (1)',
            'id': 'search-filter-sub-comitees-6',
            'name': 'search-filter-sub-comitees-6',
            'value': '6'
          }%}
          {% include '@ec-europa/ecl-forms-checkboxes' with {
            'label': 'AWP (1)',
            'id': 'search-filter-sub-comitees-7',
            'name': 'search-filter-sub-comitees-7',
            'value': '7'
          }%}
          {% include '@ec-europa/ecl-forms-checkboxes' with {
            'label': 'BMWP (1)',
            'id': 'search-filter-sub-comitees-8',
            'name': 'search-filter-sub-comitees-8',
            'value': '8'
          }%}
          {% include '@ec-europa/ecl-forms-checkboxes' with {
            'label': 'BSWP (1)',
            'id': 'search-filter-sub-comitees-9',
            'name': 'search-filter-sub-comitees-9',
            'value': '9'
          }%}
          {% include '@ec-europa/ecl-forms-checkboxes' with {
            'label': 'BWP (1)',
            'id': 'search-filter-sub-comitees-10',
            'name': 'search-filter-sub-comitees-10',
            'value': '10'
          }%}
          <a class="ecl-link--ema-more" href="#">See more</a>

          {% include '@ec-europa/ema-buttons' with {
            'modifier': 'primary',
            'label': 'Refine results',
            'extra_classes': 'ecl-button--ema-primary ema-u-width-100 ecl-u-mt-m'
          } %}

          {% include '@ec-europa/ema-buttons' with {
            'modifier': 'tag',
            'label': 'Clear all',
            'extra_classes': 'ecl-button--ema-tag ema-u-width-100 ecl-u-mt-s'
          } %}
        </form>
      </aside>

      <section class="ecl-col-lg-8 ecl-offset-xl-1">
        <h1 class="ecl-heading ecl-heading--ema-h1">Search results (65)</h1>

        <div class="ecl-u-d-flex ecl-u-align-items-center ecl-u-mb-s">
          <div class="ema-u-width-grow-1">Showing results 11 to 21</div>
          <div class="ecl-u-d-flex ecl-u-align-items-center">
            <label class="ema-u-width-nowrap ecl-u-mr-s" for="search-sort">Sort by</label>
            {% include '@ec-europa/ecl-forms-selects' with {
              'id': 'search-sort',
              'name': 'search-sort',
              'extra_classes': 'ecl-u-mt-none',
              'options': [
                { value: '1', label: 'Publication date' },
                { value: '2', label: 'Last update date' },
              ]
            }%}
          </div>
        </div>

        {% include '@ec-europa/ecl-tags' with {
          'modifier': 'facet-close',
          'tags': [
            {
              'label': 'from',
              'value': '01/01/2018'
            },
            {
              'label': 'to',
              'value': '12/02/2018'
            },
            {
              'label': 'category',
              'value': 'Contact listing page'
            }
          ],
          'extra_classes': 'ecl-u-mb-s'
        } %}

        {% include '@ec-europa/ema-listings' with items %}

        {% include '@ec-europa/ecl-pagers' with {
          'current_page': 2,
          'max_page': 7
        } %}
      </section>
    </div>
  </div>
</main>

{% include '@ec-europa/ema-footers' with footer %}
