{#
  - "links" (array): array of links components, with icon
  - "logo" (object): {
    - "src" (string): source of the image (default: '')
    - "alt" (string): alt text of the image (default: '')
  }
  - "extra_classes" (string): extra CSS classes to be added
  - "extra_attributes" (array): extra attributes classes (optional, format: [{ 'name': 'name_of_the_attribute', 'value': 'value_of_the_attribute'}])
#}

{# Internal properties #}

{% set _css_class = 'ema-header' %}
{% set _extra_attributes = '' %}
{% set _has_search = has_search|default('true') %}

{# Internal logic - Process properties #}

{% if extra_class is defined %}
  {% set _css_class = _css_class ~ ' ' ~ extra_class %}
{% endif %}

{% if extra_attributes is defined %}
  {% for attr in extra_attributes %}
    {% set _extra_attributes = _extra_attributes ~ ' ' ~ attr.name ~ '="' ~ attr.value ~'"' %}
  {% endfor %}
{% endif %}

{# Print the result  #}

<header class="{{ _css_class }}" {{ _extra_attributes }}>
  <div class="ecl-container ema-header__extra">
    <div class="ema-header__links">
      {% for link in links %}
        {% include '@ec-europa/ema-links' with link %}
      {% endfor %}
    </div>
  </div>

  <div class="ecl-container ema-header__banner">
    <div class="ema-header__logo"><img src="{{ logo.src }}" alt="{{ logo.alt }}" /></div>

    {% if (_has_search != 'false') %}
    {% include '@ec-europa/ecl-search-forms' with {
      'input': { 'id': 'global-search' },
      'extra_classes': 'ecl-site-header__search ecl-search-form--ema'
    } %}
    {% endif %}
  </div>
</header>
