/**
* EMA List item component
*/
.ema-list-item {
  .ecl-list-item__title {
    font-weight: normal;
  }

  .ecl-file__translations-title {
    font-weight: normal;
  }

  .ecl-list-item__meta {
    left: 0;
    position: absolute;
    top: map-get($ecl-spacing, 'l');
  }

  .ema-icon {
    fill: map-get($ema-colors, 'grey-2');
    height: map-get($ecl-spacing, 'l');
    width: map-get($ecl-spacing, 'l');
  }
}

.ema-list-item--file {
  .ecl-list-item__link {
    position: relative;
  }

  .ecl-list-item__body {
    padding-left: map-get($ecl-spacing, 'xl');
  }
}

.ema-list-item__translations .ecl-file__translations-item {
  border-bottom: 0;
  border-top: 1px solid map-get($ema-colors, 'light-grey-3');
}
.ema-list-item__translations .ecl-file__translations-item:first-child {
  border-top: 0;
}
.ecl-list-items--with-translations {
  border-bottom: 0;
  .ecl-link {
    padding-bottom: 0;
  }
}
