/**
* EMA List item component
*/

%ema-file {
  .ecl-list-item__link {
    position: relative;
  }

  .ecl-list-item__body {
    padding-left: map-get($ecl-spacing, 'xl');
  }

  .ecl-list-item__body::before {
    @extend %ecl-icon;

    color: map-get($ema-colors, 'grey-2');
    font-size: map-get($ecl-font-size, 'xl');
    left: map-get($ecl-spacing, 'xxs');
    position: absolute;
    top: map-get($ecl-spacing, 'l');
  }

  .ecl-list-item__title {
    font-weight: normal;
  }
}

.ema-list-item__translations .ecl-file__translations-item {
  border-bottom: 0;
  border-top: 1px solid map-get($ema-colors, 'light-grey-3');
}
.ema-list-item__translations .ecl-file__translations-item:first-child {
  border-top: 0;
}
.ecl-list-items__with-translations {
  border-bottom: 0;
  .ecl-link {
    padding-bottom: 0;
  }
}

.ecl-list-item--ema-pdf {
  @extend %ema-file;

  .ecl-list-item__body::before {
    @include ecl-icon('file');
  }
}

.ecl-list-item--ema-doc {
  @extend %ema-file;

  .ecl-list-item__body::before {
    @include ecl-icon('edit');
  }
}

.ecl-list-item--ema-xls {
  @extend %ema-file;

  .ecl-list-item__body::before {
    @include ecl-icon('spreadsheet');
  }
}

.ecl-list-item--ema-ppt {
  @extend %ema-file;

  .ecl-list-item__body::before {
    @include ecl-icon('slides');
  }
}

.ecl-list-item--ema-zip {
  @extend %ema-file;

  .ecl-list-item__body::before {
    @include ecl-icon('package');
  }
}
