/**
 * Footers component
 */

.ema-footer {
  align-items: center;
  background-color: map-get($ema-colors, 'primary');
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: map-get($ecl-spacing, 'm') map-get($ecl-spacing, 'xs');
}

.ema-footer__links {
  width: 100%;
}

.ema-footer__copyright {
  flex-grow: 1;
}

.ema-footer__logo {
  margin-left: map-get($ecl-spacing, 'xxs');
}
