/**
 * Footers component
 */

.ema-footer {
  background-color: map-get($ema-colors, 'primary');
  color: #fff;
  font-size: map-get($ecl-font-size, 's');
  margin: 0;
  padding: map-get($ecl-spacing, 'm') map-get($ecl-spacing, 'xs');
}

.ema-footer__content {
  display: flex;
}

.ema-footer__section {
  margin-right: map-get($ecl-spacing, 's');

  &:last-child {
    margin-right: 0;
  }
}

.ema-footer__title {
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}

.ema-footer__copyright {
  flex-grow: 1;
  margin-top: map-get($ecl-spacing, 'xxs');
}

.ema-footer__description {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  margin-top: map-get($ecl-spacing, 'xxs');
}

.ema-footer__logo {
  margin-left: map-get($ecl-spacing, 'xxs');
}
