/**
* EMA Search form component
*/

@mixin ema-search-button() {
  .ecl-search-form__button:hover,
  .ecl-search-form__button:focus {
    background-color: #fff;
    border-color: map-get($ema-colors, 'primary');
    color: map-get($ema-colors, 'grey-1');
  }
  .ecl-search-form__button::before:hover {
    color: #fff;
  }
}

.ecl-search-form--ema {
  @include ema-search-button();

  .ecl-search-form__textfield {
    padding: map-get($ecl-spacing, 'xxxs') map-get($ecl-spacing, 'xxs');
  }
}

.ecl-search-form--ema-internal {
  @include ema-search-button();

  .ecl-search-form__textfield {
    padding: map-get($ecl-spacing, 'xxs') map-get($ecl-spacing, 'xs')
      map-get($ecl-spacing, 'xxs') map-get($ecl-spacing, 'l');
  }

  .ecl-search-form__textfield-wrapper {
    border-width: 2px;
  }

  .ecl-text-input:focus {
    border-color: map-get($ema-colors, 'blue-1');
    outline-color: 3px solid map-get($ema-colors, 'blue-1');
  }
}
