/**
* EMA Search form component
*/

@mixin ema-search-button() {
  .ecl-search-form__button {
    background-color: map-get($ema-colors, 'primary');
    border-color: map-get($ema-colors, 'primary');
    color: #fff;
    font-family: $ema-font-family-base;
  }

  .ecl-search-form__button:hover,
  .ecl-search-form__button:focus {
    background-color: map-get($ema-colors, 'blue-3');
    border-color: map-get($ema-colors, 'blue-3');
  }
}

.ecl-search-form--ema {
  @include ema-search-button();

  .ecl-search-form__textfield {
    padding: map-get($ecl-spacing, 'xxxs') map-get($ecl-spacing, 'xxs');
  }
}

.ecl-search-form--ema-internal {
  @include ema-search-button();

  .ecl-search-form__textfield {
    padding: map-get($ecl-spacing, 'xxs') map-get($ecl-spacing, 'xs')
      map-get($ecl-spacing, 'xxs') map-get($ecl-spacing, 'l');
  }

  .ecl-search-form__textfield-wrapper {
    border-width: 2px;
  }

  .ecl-text-input:focus {
    border-color: map-get($ema-colors, 'blue-1');
    outline: 3px solid map-get($ema-colors, 'blue-1');
  }
}
