@mixin link() {
  color: map-get($ema-colors, 'blue-2');
  text-decoration: underline;

  &:hover,
  &:focus {
    color: map-get($ema-colors, 'blue-2');
  }
}

@mixin link-external {
  &::after {
    @extend %ecl-icon--after;

    @include ecl-icon('external');

    font-size: 75%;
    margin-left: 0.4em;
    margin-right: 0.2em;
  }
}
