@mixin link() {
  color: #06c;
  text-decoration: none;

  &:hover,
  &:focus {
    color: #06c;
    text-decoration: underline;
  }
}

@mixin link-external {
  &::after {
    @extend %ecl-icon--after;

    @include ecl-icon('external');

    font-size: 75%;
    margin-left: 0.4em;
    margin-right: 0.2em;
  }
}
