/**
* EMA Links component
*/

@import 'links-mixins';

.ecl-link--ema-default {
  @include link();
}

.ecl-link--ema-external {
  @include link();
  @include link-external();
}

.ecl-link--ema-obvious {
  @include link();
  color: #000;
  text-decoration: none;

  &:hover,
  &:focus {
    color: map-get($ema-colors, 'blue-2');
    text-decoration: underline;
  }

  &:visited {
    color: #000;
  }
}

.ecl-link--ema-inverted {
  @include link();
  color: #fff;

  &:hover,
  &:focus,
  &:visited {
    color: #fff;
  }
}

.ecl-link--ema-all {
  @include link();
  clear: right;
  float: right;
  text-transform: uppercase;
}

.ecl-link--ema-more {
  @include link();
  display: block;
  text-align: right;
}
