/*
  EMA Width
  ===========
*/

@each $breakpoint in map-keys($ecl-grid-breakpoints) {
  @include ecl-media-breakpoint-up($breakpoint) {
    $infix: ecl-breakpoint-infix($breakpoint, $ecl-grid-breakpoints);

    .ema-u-width#{$infix}-auto {
      width: auto;
    }

    .ema-u-width#{$infix}-100 {
      width: 100%;
    }
  }
}
