// EMA Colors

$ema-colors: (
    primary: #072b5d,
    secondary: #0b4ba0,
    blue-1: #13376d,
    blue-2: #0b4ba0,
    blue-3: #4172b3,
    orange-1: #f13d23,
    orange-2: #f48a00,
    orange-3: #f7bb2c,
    green-1: #06854b,
    green-2: #13b66d,
    green-3: #89cdad,
    black: #1e1e1e,
    grey-1: #4c4c4c,
    grey-2: #606060,
    grey-3: #b1b1b1,
    light-grey-1: #e5e5e5,
    light-grey-2: #efefef,
    light-grey-3: #f8f8f8,
    light-grey-4: #fcfcfc
  )
  !default;
