// EMA Font family

$ema-font-family-sans-serif: Verdana, sans-serif;
$ema-font-family-monospace: Menlo, Monaco, Consolas, 'Liberation Mono',
  'Courier New', monospace;
$ema-font-family-base: $ema-font-family-sans-serif;
