{#
  Accepts:
    - href (string): link of the next page (default: '')
    - label (string): label of the pager
    - extra_classes (string): additional classes to add to the component
    - extra_attributes (array of { name: '', value: '' })
#}

{# Internal properties #}
{% set _css_class = 'ema-pager' %}
{% set _extra_attributes = '' %}
{% set _title = title|default('') %}

{% if extra_classes is defined and extra_classes is not empty %}
  {% set _css_class = _css_class ~ ' ' ~ extra_classes %}
{% endif %}

{% if extra_attributes is defined and extra_attributes is not empty %}
  {% for attr in extra_attributes %}
    {% set _extra_attributes = _extra_attributes ~ ' ' ~ attr.name ~ '="' ~ attr.value ~ '"' %}
  {% endfor %}
{% endif %}

{# Print result #}
<a href="{{href}}" class="{{ _css_class }}"{{ _extra_attributes }}>
{{label}}
</a>
