/**
* EMA Separator component
*/

.ema-pager {
  background-color: map-get($ema-colors, 'light-grey-3');
  color: map-get($ema-colors, 'grey-3');
  display: block;
  font-size: map-get($ecl-font-size, 'xl');
  line-height: 3;
  padding: map-get($ecl-spacing, 's');
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.ema-pager:hover,
.ema-pager:focus {
  background-color: map-get($ema-colors, 'light-grey-2');
  color: map-get($ema-colors, 'grey-2');
  text-decoration: underline;
}
