

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../framework/styles/ema.css">
    <title>Preview Layout</title>
    <script>document.documentElement.classList.remove('no-js');</script>
  </head>
  <body>
    









<section class="ecl-lang-select-page" >
  <span class="ecl-icon ecl-icon--generic-lang ecl-lang-select-page__icon"></span>
  <span class="ecl-lang-select-page__unavailable">English</span>
  <select class="ecl-lang-select-page__dropdown" aria-label="Choose your language">
    <option class="ecl-lang-select-page__dropdown-option" value="" selected></option>
      </select>
  <ul class="ecl-lang-select-page__list">
    <li class="ecl-lang-select-page__option ecl-lang-select-page__option--is-selected"></li>
      </ul>
</section>

    <script src="../../framework/scripts/ema.js"></script>
      </body>
</html>

