

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../framework/styles/ema.css">
    <title>Preview Layout</title>
    <script>document.documentElement.classList.remove('no-js');</script>
  </head>
  <body>
    










<nav class="ecl-navigation-inpage" >
  <div class="ecl-navigation-inpage__title"></div>

  <div class="ecl-navigation-inpage__body">
    <div class="ecl-navigation-inpage__trigger" aria-controls="ecl-navigation-inpage-list" aria-expanded="false" id="ecl-navigation-inpage-trigger">&nbsp;</div>

    <ul class="ecl-navigation-inpage__list" aria-hidden="true" aria-labelledby="ecl-navigation-inpage-trigger" id="ecl-navigation-inpage-list">
          </ul>
  </div>
</nav>

    <script src="../../framework/scripts/ema.js"></script>
      </body>
</html>

