

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../framework/styles/ema.css">
    <title>Preview Layout</title>
    <script>document.documentElement.classList.remove('no-js');</script>
  </head>
  <body>
    




<div class="ecl-datepickers"><input
  type="text"
  class="ecl-text-input"
  id="datepicker"
  name="datepicker"
   aria-label="Use the arrow keys to pick a date" value=""
/><span class="ecl-datepickers__icon ecl-icon ecl-icon--calendar"></span></div>
    <script src="../../framework/scripts/ema.js"></script>
      </body>
</html>

