

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../framework/styles/ema.css">
    <title>Preview Layout</title>
    <script>document.documentElement.classList.remove('no-js');</script>
  </head>
  <body>
    












<!-- Default -->
<section class="ecl-file">
  <div class="ecl-file__body">
    <div class="ecl-row">
      <div class=" ecl-col ecl-col-md-8">
        <span class="ecl-icon ecl-icon-- ecl-file__icon"></span>
        <div class="ecl-file__metadata">
          <div class="ecl-file__title"></div>
          <div class="ecl-file__info">
            <span class="ecl-file__language"></span> ()
          </div>
        </div>
      </div>

      <div class="ecl-col-12 ecl-col-md-4">
        






  

  
        


  <button class="ecl-button ecl-button--default ecl-button--block ecl-file__download" type="button">Download<span class="ecl-u-sr-only">()</button>
      </div>
    </div>
  </div>
</section>


    <script src="../../framework/scripts/ema.js"></script>
      </body>
</html>

