

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../framework/styles/ema.css">
    <title>Preview Layout</title>
    <script>document.documentElement.classList.remove('no-js');</script>
  </head>
  <body>
    











<nav class="ecl-pager__wrapper" aria-label="pagination">
  <ul class="ecl-pager" >
    
    
    
    
    
    <li class="ecl-pager__item ecl-pager__item--current" aria-current="page">
      <span class="ecl-pager__item-text" >Page</span> 1
    </li>

    
    
    
        <li class="ecl-pager__item ecl-pager__item--last">
      <a class="ecl-pager__link" title="Go to page 0" href="/page=0">
        <span class="ecl-u-sr-only" >Page </span>0
      </a>
    </li>
    
        <li class="ecl-pager__item ecl-pager__item--next">
      <a class="ecl-pager__link" title="Go to next page" href="/page=2">Next ›</a>
    </li>
      </ul>
</nav>

    <script src="../../framework/scripts/ema.js"></script>
      </body>
</html>

