

<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <link media="all" rel="stylesheet" href="../../framework/styles/ema.css">
  <title>Preview Layout</title>
  <style>
    /* website specific global rules */
    body {
      margin: 0;
    }
  </style>
  <script>document.documentElement.classList.remove('no-js');</script>
</head>
<body>
  <form class="ma-rating-form">
  <h3 class="ecl-heading ecl-heading--h3">How useful was this page?</h3>
  <div class="ecl-u-d-flex">
          <div class="ecl-u-mr-l">
        






<div class="ema-rating">
  <span class="ema-rating__title">Your rating</span>
  <div class="ema-rating__stars">
          <input
        type="radio"
        class="ema-rating__input"
        aria-hidden="true"
        id="ema-rating__ema-rating1--5"
        name=ema-rating1
        tabindex=4
        value=5
        
        
      />
      <label class="ema-rating__star" for="ema-rating__ema-rating1--5">
        ★
      </label>
          <input
        type="radio"
        class="ema-rating__input"
        aria-hidden="true"
        id="ema-rating__ema-rating1--4"
        name=ema-rating1
        tabindex=3
        value=4
        
        
      />
      <label class="ema-rating__star" for="ema-rating__ema-rating1--4">
        ★
      </label>
          <input
        type="radio"
        class="ema-rating__input"
        aria-hidden="true"
        id="ema-rating__ema-rating1--3"
        name=ema-rating1
        tabindex=2
        value=3
        
        
      />
      <label class="ema-rating__star" for="ema-rating__ema-rating1--3">
        ★
      </label>
          <input
        type="radio"
        class="ema-rating__input"
        aria-hidden="true"
        id="ema-rating__ema-rating1--2"
        name=ema-rating1
        tabindex=1
        value=2
        
        
      />
      <label class="ema-rating__star" for="ema-rating__ema-rating1--2">
        ★
      </label>
          <input
        type="radio"
        class="ema-rating__input"
        aria-hidden="true"
        id="ema-rating__ema-rating1--1"
        name=ema-rating1
        tabindex=0
        value=1
        
        
      />
      <label class="ema-rating__star" for="ema-rating__ema-rating1--1">
        ★
      </label>
      </div>
</div>      </div>
          <div class="ecl-u-mr-l">
        






<div class="ema-rating">
  <span class="ema-rating__title">Average</span>
  <div class="ema-rating__stars">
          <input
        type="radio"
        class="ema-rating__input"
        aria-hidden="true"
        id="ema-rating__ema-rating2--5"
        name=ema-rating2
        tabindex=4
        value=5
        disabled="disabled"
        
      />
      <label class="ema-rating__star" for="ema-rating__ema-rating2--5">
        ★
      </label>
          <input
        type="radio"
        class="ema-rating__input"
        aria-hidden="true"
        id="ema-rating__ema-rating2--4"
        name=ema-rating2
        tabindex=3
        value=4
        disabled="disabled"
        
      />
      <label class="ema-rating__star" for="ema-rating__ema-rating2--4">
        ★
      </label>
          <input
        type="radio"
        class="ema-rating__input"
        aria-hidden="true"
        id="ema-rating__ema-rating2--3"
        name=ema-rating2
        tabindex=2
        value=3
        disabled="disabled"
        aria-checked="true" checked="checked"
      />
      <label class="ema-rating__star" for="ema-rating__ema-rating2--3">
        ★
      </label>
          <input
        type="radio"
        class="ema-rating__input"
        aria-hidden="true"
        id="ema-rating__ema-rating2--2"
        name=ema-rating2
        tabindex=1
        value=2
        disabled="disabled"
        
      />
      <label class="ema-rating__star" for="ema-rating__ema-rating2--2">
        ★
      </label>
          <input
        type="radio"
        class="ema-rating__input"
        aria-hidden="true"
        id="ema-rating__ema-rating2--1"
        name=ema-rating2
        tabindex=0
        value=1
        disabled="disabled"
        
      />
      <label class="ema-rating__star" for="ema-rating__ema-rating2--1">
        ★
      </label>
      </div>
</div>      </div>
        <a class="ecl-link" href="#">View all 12 ratings</a>
  </div>
  <div class="ecl-u-d-flex ecl-u-align-items-end ecl-u-mt-s">
    








  




<textarea
  name="default-name"
  id="default-id"
  rows="3"
  class="ecl-textarea ecl-u-mr-s"
  role="textbox"
  aria-multiline="true"
  aria-labelledby="default-id_label"
  
>
</textarea>
    












  <button class="ecl-button ecl-button--primary">Submit</button>
  </div>
</form>

  <script src="../../framework/scripts/ema.js"></script>
  </body>
</html>

