

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../framework/styles/ema.css">
    <title>Preview Layout</title>
    <script>document.documentElement.classList.remove('no-js');</script>
  </head>
  <body>
    
      <!-- Start: @ema-forms-text-inputs--default -->

      <div class="ecl-form-group">
        <label for="example-input-id-1" class="ecl-form-label">
          Normal input
        </label>

        <input
  type="text"
  class="ecl-text-input ecl-text-input--ema"
  id="example-input-id-1"
  name="default-name"
   placeholder="Some placeholder text."
/>

      </div>
      <!-- End: @ema-forms-text-inputs--default -->

    

      <!-- Start: @ema-forms-text-inputs--disabled -->

      <div class="ecl-form-group">
        <label for="example-input-id-2" class="ecl-form-label">
          Disabled input
        </label>

        <input
  type="text"
  class="ecl-text-input ecl-text-input--ema"
  id="example-input-id-2"
  name="default-name"
   disabled placeholder="Some placeholder text."
/>

      </div>
      <!-- End: @ema-forms-text-inputs--disabled -->

    

      <!-- Start: @ema-forms-text-inputs--with-error -->

      <div class="ecl-form-group">
        <label for="example-input-id-3" class="ecl-form-label">
          Input with error
        </label>

        <input
  type="text"
  class="ecl-text-input ecl-text-input--has-error ecl-text-input--ema"
  id="example-input-id-3"
  name="default-name"
   placeholder="Some placeholder text."
/>

      </div>
      <!-- End: @ema-forms-text-inputs--with-error -->

    
    <script src="../../framework/scripts/ema.js"></script>
      </body>
</html>

