

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../framework/styles/ema.css">
    <title>Preview Layout</title>
    <script>document.documentElement.classList.remove('no-js');</script>
  </head>
  <body>
    <!-- Start: @ema-links--default -->

      <h2 class="ema-heading ema-heading--h2">Links in body text</h2>

      <a class="ema-link" href="#">in-line link</a>

      <!-- End: @ema-links--default -->

<!-- Start: @ema-links--external -->

      <h2 class="ema-heading ema-heading--h2">External links</h2>

      <a class="ema-link ema-link--external" href="#">external link</a>

      <!-- End: @ema-links--external -->

<!-- Start: @ema-links--standalone -->

      <h2 class="ema-heading ema-heading--h2">Standalone links</h2>

      <a class="ema-link ema-link--standalone" href="#">standalone link</a>

      <!-- End: @ema-links--standalone -->

<!-- Start: @ema-links--obvious -->

      <h2 class="ema-heading ema-heading--h2">Obvious links</h2>

      <a class="ema-link ema-link--obvious" href="#">obvious link</a>

      <!-- End: @ema-links--obvious -->

<!-- Start: @ema-links--inverted -->

      <h2 class="ema-heading ema-heading--h2">Inverted links (could be standalone or external too)</h2>

      <a class="ema-link ema-link--inverted ema-u-bg-primary" href="#">inverted link</a>

      <!-- End: @ema-links--inverted -->

    <script src="../../framework/scripts/ema.js"></script>
      </body>
</html>

