

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../framework/styles/ema.css">
    <title>Preview Layout</title>
    <script>document.documentElement.classList.remove('no-js');</script>
  </head>
  <body>
    <!-- Start: @ema-status--info -->

      <div class="ema-status ema-status--info" ">
  <svg class="ema-icon ema-icon--xl ecl-u-fs-xxl ecl-u-mr-xs ema-status-icon" >
    <use xlink:href="../../framework/images/icons/ema-icons.svg#ema-icon-set_info" />
  </svg>
  <span class="ema-status-text">
    <div class="ema-status-title">Current status</div>
    <div class="ema-status-desc">European Commission final decision</div>
  </span>
</div>

      <!-- End: @ema-status--info -->

<!-- Start: @ema-status--authorised -->

      <div class="ema-status ema-status--authorised" ">
  <svg class="ema-icon ema-icon--xl ecl-u-fs-xxl ecl-u-mr-xs ema-status-icon" >
    <use xlink:href="../../framework/images/icons/ema-icons.svg#ema-icon-set_select" />
  </svg>
  <span class="ema-status-text">
    <div class="ema-status-title">Authorised</div>
    <div class="ema-status-desc">This medicine is authorised for use in the European Union</div>
  </span>
</div>

      <!-- End: @ema-status--authorised -->

<!-- Start: @ema-status--refused -->

      <div class="ema-status ema-status--refused" ">
  <svg class="ema-icon ema-icon--xl ecl-u-fs-xxl ecl-u-mr-xs ema-status-icon" >
    <use xlink:href="../../framework/images/icons/ema-icons.svg#ema-icon-set_close" />
  </svg>
  <span class="ema-status-text">
    <div class="ema-status-title">Refused</div>
    <div class="ema-status-desc">This medicine was refused for use in the European Union</div>
  </span>
</div>

      <!-- End: @ema-status--refused -->

<!-- Start: @ema-status--withdrawn -->

      <div class="ema-status ema-status--withdrawn" ">
  <svg class="ema-icon ema-icon--xl ecl-u-fs-xxl ecl-u-mr-xs ema-status-icon" >
    <use xlink:href="../../framework/images/icons/ema-icons.svg#ema-icon-set_close" />
  </svg>
  <span class="ema-status-text">
    <div class="ema-status-title">Withdrawn</div>
    <div class="ema-status-desc">This medicine is now withdrawn from use in the European Union</div>
  </span>
</div>

      <!-- End: @ema-status--withdrawn -->

<!-- Start: @ema-status--suspended -->

      <div class="ema-status ema-status--suspended" ">
  <svg class="ema-icon ema-icon--xl ecl-u-fs-xxl ecl-u-mr-xs ema-status-icon" >
    <use xlink:href="../../framework/images/icons/ema-icons.svg#ema-icon-set_close" />
  </svg>
  <span class="ema-status-text">
    <div class="ema-status-title">Suspended</div>
    <div class="ema-status-desc">This medicine is currently suspended from use in the European Union</div>
  </span>
</div>

      <!-- End: @ema-status--suspended -->

<!-- Start: @ema-status--patient-safety -->

      <div class="ema-status ema-status--patient-safety" ">
  <svg class="ema-icon ema-icon--xl ecl-u-fs-xxl ecl-u-mr-xs ema-status-icon" >
    <use xlink:href="../../framework/images/icons/ema-icons.svg#ema-icon-set_info" />
  </svg>
  <span class="ema-status-text">
    <div class="ema-status-title">Patient safety</div>
    <div class="ema-status-desc">Patient safety informations</div>
  </span>
</div>

      <!-- End: @ema-status--patient-safety -->

    <script src="../../framework/scripts/ema.js"></script>
      </body>
</html>

