

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../framework/styles/ema.css">
    <title>Preview Layout</title>
    <script>document.documentElement.classList.remove('no-js');</script>
  </head>
  <body>
    









    





<div class="ema-status ema-status--info" ">
  <svg class="ema-icon ema-icon--xl ecl-u-fs-xxl ecl-u-mr-xs ema-status-icon" >
    <use xlink:href="../../framework/images/icons/ema-icons.svg#ema-icon-set_info" />
  </svg>
  <span>
    <div class="ema-status-title">Current status</div>
    <div class="ema-status-desc">European Commission final decision</div>
  </span>
</div>

    <script src="../../framework/scripts/ema.js"></script>
      </body>
</html>

