

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../framework/styles/ema.css">
    <title>Preview Layout</title>
    <script>document.documentElement.classList.remove('no-js');</script>
  </head>
  <body>
    







  



<nav class="ecl-navigation-menu ecl-navigation-menu--ema" aria-label="Main Navigation">
  <div class="ecl-container">
    <button class="ecl-navigation-menu__toggle ecl-navigation-menu__hamburger ecl-navigation-menu__hamburger--squeeze" aria-controls="nav-menu-expandable-root" aria-expanded="false">
      <span class="ecl-navigation-menu__hamburger-box">
        <span class="ecl-navigation-menu__hamburger-inner"></span>
      </span>
      <span class="ecl-navigation-menu__hamburger-label">Menu</span>
    </button>
    <ul class="ecl-navigation-menu__root" id="nav-menu-expandable-root" aria-hidden="true">
                <li class="ecl-navigation-menu__item">
              <a href="#home" class="ecl-navigation-menu__link">Home</a>
          </li>
          <li class="ecl-navigation-menu__item ecl-navigation-menu__item--active">
              <a href="#item1" class="ecl-navigation-menu__link" aria-controls="nav-menu-expandable-group-2" aria-expanded="false" aria-haspopup="true">Human regulatory</a>

        <div class="ecl-navigation-menu__group" id="nav-menu-expandable-group-2">
        










<div class="ema-context-banner" >
  <div class="ecl-container">
        <h1 class="ecl-heading ecl-heading--ema-h1">Human regulatory</h1>
    
        <p class="ecl-paragraph ecl-paragraph--l">This section of the website provides information on the regulation of medicines for human use in the European Union (EU). It particularly concerns the centralised procedure, where the European Medicines Agency (EMA) plays a key role.</p>
    
    <ul class="ema-context-banner__links">
                <li class="ema-context-banner__item">
        <a href="#item1-1" class="ema-context-banner__link">Overview</a>
      </li>
                <li class="ema-context-banner__item">
        <a href="#item1-4" class="ema-context-banner__link">Marketing authorisation</a>
      </li>
                <li class="ema-context-banner__item">
        <a href="#item1-2" class="ema-context-banner__link ema-context-banner__link--active">Research and development</a>
      </li>
                <li class="ema-context-banner__item">
        <a href="#item1-5" class="ema-context-banner__link">Post authorisation</a>
      </li>
                <li class="ema-context-banner__item">
        <a href="#item1-3" class="ema-context-banner__link">Herbal products</a>
      </li>
        </ul>
  </div>
</div>
        </div>
          </li>
          <li class="ecl-navigation-menu__item">
              <a href="#item2" class="ecl-navigation-menu__link" aria-controls="nav-menu-expandable-group-3" aria-expanded="false" aria-haspopup="true">Item 2</a>

        <div class="ecl-navigation-menu__group" id="nav-menu-expandable-group-3">
        










<div class="ema-context-banner" >
  <div class="ecl-container">
    
    
    <ul class="ema-context-banner__links">
                <li class="ema-context-banner__item">
        <a href="#item2-1" class="ema-context-banner__link">Item 2.1</a>
      </li>
                <li class="ema-context-banner__item">
        <a href="#item2-2" class="ema-context-banner__link">Item 2.2</a>
      </li>
                <li class="ema-context-banner__item">
        <a href="#item2-3" class="ema-context-banner__link">Item 2.3</a>
      </li>
                <li class="ema-context-banner__item">
        <a href="#item2-4" class="ema-context-banner__link">Item 2.4</a>
      </li>
                <li class="ema-context-banner__item">
        <a href="#item2-5" class="ema-context-banner__link">Item 2.5</a>
      </li>
                <li class="ema-context-banner__item">
        <a href="#item2-6" class="ema-context-banner__link">Item 2.6</a>
      </li>
        </ul>
  </div>
</div>
        </div>
          </li>
          <li class="ecl-navigation-menu__item">
              <a href="#item3" class="ecl-navigation-menu__link">Item 3</a>
          </li>
        </ul>
  </div>
</nav>

    <script src="../../framework/scripts/ema.js"></script>
        <script type="text/javascript">document.addEventListener('DOMContentLoaded', function () {
        ECL.megamenu();
      });</script>
      </body>
</html>

