

<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <link media="all" rel="stylesheet" href="../../framework/styles/ema.css">
  <title>Preview Layout</title>
  <style>
    /* website specific global rules */
    body {
      margin: 0;
    }
  </style>
  <script>document.documentElement.classList.remove('no-js');</script>
</head>
<body>
  












<div class="ecl-skip-link__wrapper" id="skip-link" >
  <a href="#main-content" class="ecl-skip-link">Skip to main content</a>
</div>












<header class="ema-header" >
  <div class="ecl-container ema-header__extra">
    <div class="ema-header__links">
              







  
        

<a class="ecl-link ema-header__link-item ecl-link--ema-obvious" href="#" title="RSS"><span class="ecl-icon ecl-icon--rss"></span></a>
              







  
        

<a class="ecl-link ema-header__link-item ecl-link--ema-obvious" href="#" title="Twitter"><span class="ecl-icon ecl-icon--twitter"></span></a>
              







  
        

<a class="ecl-link ema-header__link-item ecl-link--ema-obvious" href="#" title="Mail"><span class="ecl-icon ecl-icon--generic-lang"></span></a>
          </div>
  </div>

  <div class="ecl-container ema-header__banner">
    <div class="ema-header__logo"><img src="../../framework/images/logo_ema.jpg" alt="EMA logo" /></div>

        







  


<form class="ecl-search-form ecl-site-header__search ecl-search-form--ema">
  <label class="ecl-search-form__textfield-wrapper">
    <span class="ecl-u-sr-only">Search this website</span>
    






  

  


<input
  type="search"
  class="ecl-text-input ecl-search-form__textfield"
  id="global-search"
  name="default-name"
  
/>
  </label>
  








  
        


  <button class="ecl-button ecl-button--form ecl-search-form__button" type="submit">Search</button>
</form>
      </div>
</header>









  



<nav class="ecl-navigation-menu ecl-navigation-menu--ema" aria-label="Main Navigation">
  <div class="ecl-container">
    <button class="ecl-navigation-menu__toggle ecl-navigation-menu__hamburger ecl-navigation-menu__hamburger--squeeze" aria-controls="nav-menu-expandable-root" aria-expanded="false">
      <span class="ecl-navigation-menu__hamburger-box">
        <span class="ecl-navigation-menu__hamburger-inner"></span>
      </span>
      <span class="ecl-navigation-menu__hamburger-label">Menu</span>
    </button>
    <ul class="ecl-navigation-menu__root" id="nav-menu-expandable-root" aria-hidden="true">
                <li class="ecl-navigation-menu__item">
              <a href="#home" class="ecl-navigation-menu__link">Home</a>
          </li>
          <li class="ecl-navigation-menu__item">
              <a href="#item1" class="ecl-navigation-menu__link" aria-controls="nav-menu-expandable-group-2" aria-expanded="false" aria-haspopup="true">Human regulatory</a>

        <div class="ecl-navigation-menu__group" id="nav-menu-expandable-group-2">
        










<div class="ema-context-banner" >
  <div class="ecl-container">
    <div class="ema-context-banner__wrapper">
            <a href="#" class="ema-context-banner__title">Human regulatory</a>
      
            <p class="ecl-paragraph ecl-paragraph--ema ecl-paragraph--l">This section of the website provides information on the regulation of medicines for human use in the European Union (EU). It particularly concerns the centralised procedure, where the European Medicines Agency (EMA) plays a key role.</p>
      
      <ul class="ema-context-banner__links">
                      <li class="ema-context-banner__item">
          <a href="#item1-1" class="ema-context-banner__link">Overview</a>
        </li>
                      <li class="ema-context-banner__item">
          <a href="#item1-4" class="ema-context-banner__link">Marketing authorisation</a>
        </li>
                      <li class="ema-context-banner__item">
          <a href="#item1-2" class="ema-context-banner__link ema-context-banner__link--active">Research and development</a>
        </li>
                      <li class="ema-context-banner__item">
          <a href="#item1-5" class="ema-context-banner__link">Post authorisation</a>
        </li>
                      <li class="ema-context-banner__item">
          <a href="#item1-3" class="ema-context-banner__link">Herbal products</a>
        </li>
            </ul>
    </div>
  </div>
</div>
        </div>
          </li>
          <li class="ecl-navigation-menu__item">
              <a href="#item2" class="ecl-navigation-menu__link" aria-controls="nav-menu-expandable-group-3" aria-expanded="false" aria-haspopup="true">Item 2</a>

        <div class="ecl-navigation-menu__group" id="nav-menu-expandable-group-3">
        










<div class="ema-context-banner" >
  <div class="ecl-container">
    <div class="ema-context-banner__wrapper">
            <a href="#" class="ema-context-banner__title">Section title</a>
      
            <p class="ecl-paragraph ecl-paragraph--ema ecl-paragraph--l">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque efficitur cursus varius. Ut id leo sed libero placerat feugiat eu eget mi. In hac habitasse platea dictumst. Etiam eleifend justo nec ex lacinia blandit. Aenean pellentesque mauris ut malesuada ultricies. Vestibulum blandit arcu et metus semper porta.</p>
      
      <ul class="ema-context-banner__links">
                      <li class="ema-context-banner__item">
          <a href="#item2-1" class="ema-context-banner__link">Item 2.1</a>
        </li>
                      <li class="ema-context-banner__item">
          <a href="#item2-2" class="ema-context-banner__link">Item 2.2</a>
        </li>
                      <li class="ema-context-banner__item">
          <a href="#item2-3" class="ema-context-banner__link">Item 2.3</a>
        </li>
                      <li class="ema-context-banner__item">
          <a href="#item2-4" class="ema-context-banner__link">Item 2.4</a>
        </li>
                      <li class="ema-context-banner__item">
          <a href="#item2-5" class="ema-context-banner__link">Item 2.5</a>
        </li>
                      <li class="ema-context-banner__item">
          <a href="#item2-6" class="ema-context-banner__link">Item 2.6</a>
        </li>
            </ul>
    </div>
  </div>
</div>
        </div>
          </li>
          <li class="ecl-navigation-menu__item">
              <a href="#item3" class="ecl-navigation-menu__link">Item 3</a>
          </li>
        </ul>
  </div>
</nav>



<main class="ecl-u-mv-l">
  <div class="ecl-container">


    <div class="ecl-row">
      <section class="ecl-col-lg-12">
        <h1 class="ecl-heading ecl-heading--ema-h2">Healthcare Professionals</h1>
        <p class="ecl-paragraph ecl-paragraph--ema">
          On this page, you will find information on the Agency’s activities that are most relevant to healthcare professionals, including news, and events. You can contribute to the Agency’s work by responding to public consultations. Learn more about how Healthcare Professionals are actively involved in the work of the Agency.
        </p>
      </section>
  </div>
  <div class="ecl-row">
    <section class="ecl-col-lg-12">

      






<div class="ema-separator">
  <div class="ema-separator__heading">
    <h3 class="ema-separator__heading--title ecl-heading ecl-heading--ema-h3">
      Featured information
    </h3>
    
    






  



<svg class="ema-icon ema-separator__heading--icon" >
  <use xlink:href="../../framework/images/icons/ema-icons.svg#ema-icon-set_news" />
</svg>
  </div>
</div>

        






  




<ul class="ecl-listing ecl-listing--two-columns" >


  







  




<li class="ecl-list-item ecl-list-item--two-columns" >
  <a href="#listing-thumbnail" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

        <div class="ecl-list-item__primary">
              










<img
    alt="news alt text"
  src="http://www.ema.europa.eu/ema/images/features/rare_diseases_q_a.jpg"
   />

          </div>
    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                






  




<div class="ecl-meta ecl-meta--two-columns" >
  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Orphan medicines: getting the facts straight</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  EMA has published a question-and-answer document addressing common misunderstandings about the meaning of orphan designation and other aspects pertaining to orphan medicines, including significant benefit and market exclusivity. For more information, see Orphan designation.
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>


  







  




<li class="ecl-list-item ecl-list-item--two-columns" >
  <a href="#listing-thumbnail" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

        <div class="ecl-list-item__primary">
              










<img
    alt="news alt text"
  src="http://www.ema.europa.eu/ema/images/leaflet_highlights_2017.jpg"
   />

          </div>
    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                






  




<div class="ecl-meta ecl-meta--two-columns" >
  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Human medicines highlights 2017</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  EMA has released an overview of its key recommendations in 2017 on the authorisation of new medicines. EMA recommended 92 medicines for marketing authorisation. This includes recommendations for 35 new active substances.
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>


  







  




<li class="ecl-list-item ecl-list-item--two-columns" >
  <a href="#listing-thumbnail" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

        <div class="ecl-list-item__primary">
              










<img
    alt="news alt text"
  src="http://www.ema.europa.eu/ema/images/OMAR2.jpg"
   />

          </div>
    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                






  




<div class="ecl-meta ecl-meta--two-columns" >
  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">New orphan maintenance assessment reports</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  As of 17 January 2018, the European Public Assessment Report (EPAR) for every newly-authorised medicine contains an orphan maintenance assessment report if it was granted orphan-designation during the development phase. This report reflects the Agency’s Committee for Orphan Medicinal Products (COMP) opinion on whether a medicine continues to meet the orphan designation criteria when it is authorised, and will be published for all positive and negative COMP opinions, as well as withdrawals. This determines whether it benefits from ten years market exclusivity, a key incentive to stimulate the development of medicines to treat rare diseases.
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>


  







  




<li class="ecl-list-item ecl-list-item--two-columns" >
  <a href="#listing-thumbnail" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

        <div class="ecl-list-item__primary">
              










<img
    alt="news alt text"
  src="http://www.ema.europa.eu/ema/images/features/EC_paediatric_report.jpg"
   />

          </div>
    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                






  




<div class="ecl-meta ecl-meta--two-columns" >
  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Ten-year report on implementation of the Paediatric Regulation</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  In October 2017, the European Commission published a report on progress made in children s medicinesExternal link icon since the Paediatric Regulation came into force 10 years ago. The report shows an increase in medicines for children in many therapeutic areas in the last ten years, most notably in rheumatology and infectious diseases. However, it also shows that little progress has been made in diseases that only affect children or where the disease shows biological differences between adults and children, particularly rare diseases. The Commission and EMA and its Paediatric Committee will develop an action plan to improve the implementation of the Regulation.
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>


</ul>

    </div>
    <div class="ecl-row">
      <section class="ecl-col-lg-12">

        






<div class="ema-separator">
  <div class="ema-separator__heading">
    <h3 class="ema-separator__heading--title ecl-heading ecl-heading--ema-h3">
      News for healthcare professionals
    </h3>
    
    






  



<svg class="ema-icon ema-separator__heading--icon" >
  <use xlink:href="../../framework/images/icons/ema-icons.svg#ema-icon-set_news" />
</svg>
  </div>
</div>

        






  




<ul class="ecl-listing ecl-listing--three-columns" >


  







  




<li class="ecl-list-item ecl-list-item--three-columns" >
  <a href="#listing-default-two-1" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                






  




<div class="ecl-meta ecl-meta--three-columns" >
  
    <span class="ecl-meta__item">23/03/2018</span>

  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Updated measures for pregnancy prevention during retinoid use</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  Warning on possible risk of neuropsychiatric disorders also to be included for oral retinoids ... Read more
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>


  







  




<li class="ecl-list-item ecl-list-item--three-columns" >
  <a href="#listing-default-two-1" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                






  




<div class="ecl-meta ecl-meta--three-columns" >
  
    <span class="ecl-meta__item">23/03/2018</span>

  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Withdrawal of pain medicine flupirtine endorsed</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  Serious liver problems continued to be reported despite previous restrictions in use ... Read more
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>


  







  




<li class="ecl-list-item ecl-list-item--three-columns" >
  <a href="#listing-default-two-1" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                






  




<div class="ecl-meta ecl-meta--three-columns" >
  
    <span class="ecl-meta__item">19/03/2018</span>

  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Workshop on Paediatric Regulation – stakeholders to discuss how to boost development of medicines for children</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  Event to be broadcast live on 20 March ... Read more
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>


  







  




<li class="ecl-list-item ecl-list-item--three-columns" >
  <a href="#listing-default-two-1" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                






  




<div class="ecl-meta ecl-meta--three-columns" >
  
    <span class="ecl-meta__item">16/03/2018</span>

  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">EMA Management Board: highlights of March 2018 meeting</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  Board adopts 2017 report on veterinary medicines for minor use minor species and hears update on clinical trial portal and database ... Read more
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>


  







  




<li class="ecl-list-item ecl-list-item--three-columns" >
  <a href="#listing-default-two-1" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                






  




<div class="ecl-meta ecl-meta--three-columns" >
  
    <span class="ecl-meta__item">09/03/2018</span>

  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Meeting highlights from the Pharmacovigilance Risk Assessment Committee (PRAC) 5-8 March 2018</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  Immediate measures agreed for Zinbryta and Xofigo while reviews are ongoing; public hearing decided for quinolone and fluoroquinolone antibiotics ... Read more
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>


  







  




<li class="ecl-list-item ecl-list-item--three-columns" >
  <a href="#listing-default-two-1" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                






  




<div class="ecl-meta ecl-meta--three-columns" >
  
    <span class="ecl-meta__item">09/03/2018</span>

  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Meeting highlights from the Pharmacovigilance Risk Assessment Committee (PRAC) 5-8 March 2018</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  Immediate measures agreed for Zinbryta and Xofigo while reviews are ongoing; public hearing decided for quinolone and fluoroquinolone antibiotics ... Read more
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>


</ul>

        






<div class="ema-separator">
  <div class="ema-separator__heading">
    <h3 class="ema-separator__heading--title ecl-heading ecl-heading--ema-h3">
      Events of interest
    </h3>
    
    






  



<svg class="ema-icon ema-separator__heading--icon" >
  <use xlink:href="../../framework/images/icons/ema-icons.svg#ema-icon-set_calendar-datepicker" />
</svg>
  </div>
</div>

        






  




<ul class="ecl-listing ecl-listing--two-columns" >


  






  
  




<li class="ecl-list-item ecl-list-item--date" >
  <a href="#listing-default-two-1" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

        <div class="ecl-list-item__primary">
              







  




<div class="ecl-date-block ecl-date-block--date" >
  <div class="ecl-date-block__body">
        <span class="ecl-date-block__week-day">Tue-Fri</span>
    
        <span class="ecl-date-block__day">05-08</span>
    
        <span class="ecl-date-block__month">Mar</span>
    
      </div>
</div>
          </div>
    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                






  




<div class="ecl-meta ecl-meta--date" >
  
    <span class="ecl-meta__item">05/03/2018 - 08/03/2018</span>

  
    <span class="ecl-meta__item">PRAC</span>

  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Pharmacovigilance Risk Assessment Committee (PRAC): 5-8 March 2018</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  The Pharmacovigilance Risk Assessment Committee (PRAC) is the committee that is responsible for assessing all aspects of the risk management of medicines for human use. ... Read more
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>


  






  
  




<li class="ecl-list-item ecl-list-item--date" >
  <a href="#listing-default-two-1" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

        <div class="ecl-list-item__primary">
              







  




<div class="ecl-date-block ecl-date-block--date" >
  <div class="ecl-date-block__body">
        <span class="ecl-date-block__week-day">Wed</span>
    
        <span class="ecl-date-block__day">28</span>
    
        <span class="ecl-date-block__month">Feb</span>
    
      </div>
</div>
          </div>
    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                






  




<div class="ecl-meta ecl-meta--date" >
  
    <span class="ecl-meta__item">28/02/2018</span>

  
    <span class="ecl-meta__item">MB</span>

  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Extraordinary Management Board meeting: 28 February 2018</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  This extraordinary Management Board meeting is to consider the building approval process for EMA’s premises in Amsterdam. The Management Board is an integral governance body of the Agency. It has a supervisory role with general responsibility for budgetary and planning matters, the appointment of the Executive Director and the monitoring of the Agency’s performance. ... Read more
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>


  






  
  




<li class="ecl-list-item ecl-list-item--date" >
  <a href="#listing-default-two-1" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

        <div class="ecl-list-item__primary">
              







  




<div class="ecl-date-block ecl-date-block--date" >
  <div class="ecl-date-block__body">
        <span class="ecl-date-block__week-day">Mon</span>
    
        <span class="ecl-date-block__day">12</span>
    
        <span class="ecl-date-block__month">Feb</span>
    
      </div>
</div>
          </div>
    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                






  




<div class="ecl-meta ecl-meta--date" >
  
    <span class="ecl-meta__item">12/02/2018</span>

  
    <span class="ecl-meta__item">EMA</span>

  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Submission of referentials management services (RMS) and organisations management services (OMS) change requests</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  The European Medicines Agency’s (EMA) programme for substance, product, organisation and referential (SPOR) data services held a webinar with industry stakeholders to summarise the milestones and impacts on industry of the referentials management services (RMS) and organisations management services (OMS). The webinar focused on the submission of RMS and OMS change requests relating to referential and organisation data. ... Read more
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>


  






  
  




<li class="ecl-list-item ecl-list-item--date" >
  <a href="#listing-default-two-1" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

        <div class="ecl-list-item__primary">
              







  




<div class="ecl-date-block ecl-date-block--date" >
  <div class="ecl-date-block__body">
        <span class="ecl-date-block__week-day">Tue-Fri</span>
    
        <span class="ecl-date-block__day">14-15</span>
    
        <span class="ecl-date-block__month">Dec</span>
    
      </div>
</div>
          </div>
    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                






  




<div class="ecl-meta ecl-meta--date" >
  
    <span class="ecl-meta__item">14/12/2017 - 15/12/2017</span>

  
    <span class="ecl-meta__item">CHMP</span>

  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Workshop on site and histology - Independent indications in oncology</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  Biological drivers that define cancer course across anatomical sites and histologies offer an opportunity to select populations sensitive to specific drugs based on those drivers, independently of the specific site or histology. This workshop aims to provide an exchange of views from different stakeholders about situations where a site and histology-independent clinical development might be a viable option and the associated challenges in terms of drug development, benefit-risk evaluation and health-technology assessment. ... Read more
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>


</ul>

        






<div class="ema-separator">
  <div class="ema-separator__heading">
    <h3 class="ema-separator__heading--title ecl-heading ecl-heading--ema-h3">
      Information for
    </h3>
    
    






  



<svg class="ema-icon ema-separator__heading--icon" >
  <use xlink:href="../../framework/images/icons/ema-icons.svg#ema-icon-set_group" />
</svg>
  </div>
</div>

        






  




<ul class="ecl-listing ecl-listing--three-columns" >


  







  




<li class="ecl-list-item ecl-list-item--three-columns" >
  <a href="#list-item-4" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                






  




<div class="ecl-meta ecl-meta--three-columns" >
  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Healthcare professionals</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>


  







  




<li class="ecl-list-item ecl-list-item--three-columns" >
  <a href="#list-item-4" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                






  




<div class="ecl-meta ecl-meta--three-columns" >
  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Patients and careers</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>


  







  




<li class="ecl-list-item ecl-list-item--three-columns" >
  <a href="#list-item-4" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                






  




<div class="ecl-meta ecl-meta--three-columns" >
  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Animal health professionals</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>


  







  




<li class="ecl-list-item ecl-list-item--three-columns" >
  <a href="#list-item-4" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                






  




<div class="ecl-meta ecl-meta--three-columns" >
  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Pharmaceutical industry</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>


  







  




<li class="ecl-list-item ecl-list-item--three-columns" >
  <a href="#list-item-4" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                






  




<div class="ecl-meta ecl-meta--three-columns" >
  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Media</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>


  







  




<li class="ecl-list-item ecl-list-item--three-columns" >
  <a href="#list-item-4" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                






  




<div class="ecl-meta ecl-meta--three-columns" >
  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Academia</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>


</ul>

        



  


<div class="ema-separator ecl-u-pv-l">
  <div class="ema-separator__heading">
    <h3 class="ema-separator__heading--title ecl-heading ecl-heading--ema-h3">
      Media
    </h3>
    
    






  



<svg class="ema-icon ema-separator__heading--icon" >
  <use xlink:href="../../framework/images/icons/ema-icons.svg#ema-icon-set_play" />
</svg>
  </div>
</div>



        <div class="ecl-u-d-flex ecl-u-align-itmes-baseline ecl-u-justify-content-around">
          






  





  
<!-- Images -->
<section class="ecl-file ecl-file--image">
  <img class="ecl-file__image" src="http://www.ema.europa.eu/ema/images/SL_Working_with_HCP.jpg" alt="alt">
  <div class="ecl-file__caption">Working with healthcare professionals</div>
</section>

  

          






  





  
<!-- Videos -->
<section class="ecl-file ecl-file--video">
        <div >
    <iframe class="ecl-file__video" src="https://www.youtube.com/embed/ShezrN2gs_8?rel=0" allowfullscreen="allowfullscreen" scrolling="no"></iframe>
  </div>
        <div class="ecl-file__caption">Working for every patient in Europe</div>
</section>

  
        </div>

        



  


<div class="ema-separator ecl-u-pv-l">
  <div class="ema-separator__heading">
    <h3 class="ema-separator__heading--title ecl-heading ecl-heading--ema-h3">
      Contextual links
    </h3>
    
    






  



<svg class="ema-icon ema-separator__heading--icon" >
  <use xlink:href="../../framework/images/icons/ema-icons.svg#ema-icon-set_news" />
</svg>
  </div>
</div>

        






  




<ul class="ecl-listing ecl-listing--three-columns" >


  







  




<li class="ecl-list-item ecl-list-item--highlight" >
  <a href="#list-item-4" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

        <div class="ecl-list-item__primary">
              










<img
    alt="Highlighted image"
  src="https://picsum.photos/200/200"
   />

          </div>
    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                






  




<div class="ecl-meta ecl-meta--highlight" >
  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Medicine and emerging science</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>


  







  




<li class="ecl-list-item ecl-list-item--highlight" >
  <a href="#list-item-4" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

        <div class="ecl-list-item__primary">
              










<img
    alt="Highlighted image"
  src="https://picsum.photos/200/200"
   />

          </div>
    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                






  




<div class="ecl-meta ecl-meta--highlight" >
  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">EU clinical trials register</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>


  







  




<li class="ecl-list-item ecl-list-item--highlight" >
  <a href="#list-item-4" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

        <div class="ecl-list-item__primary">
              










<img
    alt="Highlighted image"
  src="https://picsum.photos/200/200"
   />

          </div>
    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                






  




<div class="ecl-meta ecl-meta--highlight" >
  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Medicine for children</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>


  







  




<li class="ecl-list-item ecl-list-item--highlight" >
  <a href="#list-item-4" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

        <div class="ecl-list-item__primary">
              










<img
    alt="Highlighted image"
  src="https://picsum.photos/200/200"
   />

          </div>
    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                






  




<div class="ecl-meta ecl-meta--highlight" >
  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Medicine for older people</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>


  







  




<li class="ecl-list-item ecl-list-item--highlight" >
  <a href="#list-item-4" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

        <div class="ecl-list-item__primary">
              










<img
    alt="Highlighted image"
  src="https://picsum.photos/200/200"
   />

          </div>
    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                






  




<div class="ecl-meta ecl-meta--highlight" >
  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Side effects reports</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>


  







  




<li class="ecl-list-item ecl-list-item--highlight" >
  <a href="#list-item-4" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

        <div class="ecl-list-item__primary">
              










<img
    alt="Highlighted image"
  src="https://picsum.photos/200/200"
   />

          </div>
    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                






  




<div class="ecl-meta ecl-meta--highlight" >
  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">FAQs about the agency</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>


</ul>

      </section>
  </div>
  </div>
</main>












<footer class="ema-footer" >
  <div class="ecl-container ema-footer__content">
    <div class="ema-footer__section">
      <div class="ema-footer__hotline">
        <span class="ecl-icon ecl-icon--language ecl-u-fs-xxl ecl-u-mr-xs"></span>
        <a class="ecl-link--ema-inverted" href="#">
          <div class="ema-footer__hotline-title">Product emergency hotline</div>
          <div class="ema-footer__hotline-desc">outside working hours</div>
        </a>
      </div>
    </div>

        <div class="ema-footer__section">
      <div class="ema-footer__title">About</div>

      <ul class="ecl-list ecl-list--unstyled ema-footer__links">
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Who we are</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">What's new on the site</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Expert blog</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Human regulation</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Veterinary regulation</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Commitees</a>
        </li>
              </ul>
    </div>
        <div class="ema-footer__section">
      <div class="ema-footer__title">Ask EMA</div>

      <ul class="ecl-list ecl-list--unstyled ema-footer__links">
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Public enquiries</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">FAQs</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Access to documents</a>
        </li>
              </ul>
    </div>
        <div class="ema-footer__section">
      <div class="ema-footer__title">Links</div>

      <ul class="ecl-list ecl-list--unstyled ema-footer__links">
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Legal</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Privacy</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Complaints</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Browser compatibility</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Contacts</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Business hours and holidays</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Website help</a>
        </li>
              </ul>
    </div>
        <div class="ema-footer__section">
      <div class="ema-footer__title">Contact</div>

      <ul class="ecl-list ecl-list--unstyled ema-footer__links">
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">EMA<br />30 Churchill Place<br />Canary Whaf<br />London E14 5EU<br />United Kingdom</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Tel: +44 (0)20 3660 6000</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Fax: +44 (0)20 3660 5550</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted ecl-link--ema-external" href="#">Send a question</a>
        </li>
              </ul>
    </div>
      </div>

  <div class="ecl-container ">
    <div class="ema-footer__social">
              <span class="ecl-icon ecl-icon--rss"></span>
        







  


<a class="ecl-link ecl-link--ema-inverted ecl-u-mr-xs" href="#">RSS</a>
              <span class="ecl-icon ecl-icon--twitter"></span>
        







  


<a class="ecl-link ecl-link--ema-inverted ecl-u-mr-xs" href="#">Twitter</a>
          </div>
  </div>

  <div class="ecl-container ema-footer__content">
    <div class="ema-footer__copyright">&copy; 1995-2016 European Medicines Agency</div>
    <div class="ema-footer__description">
      An agency of the European Union
      <div class="ema-footer__logo"><img src="../../framework/images/eu.png" alt="European Union flag" /></div>
    </div>
  </div>

</footer>

  <script src="../../framework/scripts/ema.js"></script>
    <script type="text/javascript">document.addEventListener('DOMContentLoaded', function () {
        ECL.megamenu();
        ECL.initExpandables('.ecl-file__translations-toggle');
      });</script>
  </body>
</html>

