

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../framework/styles/ema.css">
    <title>Preview Layout</title>
    <script>document.documentElement.classList.remove('no-js');</script>
  </head>
  <body>
    






<div class="ema-rating">
  <span class="ema-rating__title">Your rating</span>
  <div class="ema-rating__stars">
          <input
        type="radio"
        class="ema-rating__input"
        aria-hidden="true"
        id="ema-rating__ema-rating--5"
        name="ema-rating"
        tabindex="4"
        value="5"
        
        
      />
      <label class="ema-rating__star" for="ema-rating__ema-rating--5">
        ★
      </label>
          <input
        type="radio"
        class="ema-rating__input"
        aria-hidden="true"
        id="ema-rating__ema-rating--4"
        name="ema-rating"
        tabindex="3"
        value="4"
        
        
      />
      <label class="ema-rating__star" for="ema-rating__ema-rating--4">
        ★
      </label>
          <input
        type="radio"
        class="ema-rating__input"
        aria-hidden="true"
        id="ema-rating__ema-rating--3"
        name="ema-rating"
        tabindex="2"
        value="3"
        
        
      />
      <label class="ema-rating__star" for="ema-rating__ema-rating--3">
        ★
      </label>
          <input
        type="radio"
        class="ema-rating__input"
        aria-hidden="true"
        id="ema-rating__ema-rating--2"
        name="ema-rating"
        tabindex="1"
        value="2"
        
        
      />
      <label class="ema-rating__star" for="ema-rating__ema-rating--2">
        ★
      </label>
          <input
        type="radio"
        class="ema-rating__input"
        aria-hidden="true"
        id="ema-rating__ema-rating--1"
        name="ema-rating"
        tabindex="0"
        value="1"
        
        
      />
      <label class="ema-rating__star" for="ema-rating__ema-rating--1">
        ★
      </label>
      </div>
</div>

    <script src="../../framework/scripts/ema.js"></script>
      </body>
</html>

