

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../framework/styles/ema.css">
    <title>Preview Layout</title>
    <script>document.documentElement.classList.remove('no-js');</script>
  </head>
  <body>
    








<ul class="ecl-listing ema-content-slider" >
          








  
        


<li class="ecl-list-item ema-content-slider__list-item--default"  aria-controls="ema-content-slider__list-item--highlight--1">
  <a href="#content-slider-1" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

        <div class="ecl-list-item__primary">
              







  
        

<img
  class=" ema-content-slider__list-item--default"  alt="sky"
  src="https://unsplash.it/640/480?image=222"
   aria-controls="ema-content-slider__list-item--highlight--1" />

          </div>
    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                







  
        


<div class="ecl-meta ema-content-slider__list-item--default"  aria-controls="ema-content-slider__list-item--highlight--1">
  
    <span class="ecl-meta__item">data</span>

  
    <span class="ecl-meta__item">cluster</span>

  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Labore nulla quis irure labore.</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>

    
        







  
  
        


<li class="ecl-list-item ecl-list-item--highlight ema-content-slider__list-item--highlight"  id="ema-content-slider__list-item--highlight--1">
  <a href="#content-slider-1" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

        <div class="ecl-list-item__primary">
              







  
        

<img
  class=" ema-content-slider__list-item--highlight"  alt="sky"
  src="https://unsplash.it/640/480?image=222"
   id="ema-content-slider__list-item--highlight--1" />

          </div>
    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                






  
  
        


<div class="ecl-meta ecl-meta--highlight ema-content-slider__list-item--highlight"  id="ema-content-slider__list-item--highlight--1">
  
    <span class="ecl-meta__item">data</span>

  
    <span class="ecl-meta__item">cluster</span>

  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Labore nulla quis irure labore.</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>
          








  
        


<li class="ecl-list-item ema-content-slider__list-item--default"  aria-controls="ema-content-slider__list-item--highlight--2">
  <a href="#content-slider-2" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

        <div class="ecl-list-item__primary">
              







  
        

<img
  class=" ema-content-slider__list-item--default"  alt="street"
  src="https://unsplash.it/640/480?image=223"
   aria-controls="ema-content-slider__list-item--highlight--2" />

          </div>
    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                







  
        


<div class="ecl-meta ema-content-slider__list-item--default"  aria-controls="ema-content-slider__list-item--highlight--2">
  
    <span class="ecl-meta__item">message</span>

  
    <span class="ecl-meta__item">market</span>

  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Velit mollit in sunt dolor exercitation elit nostrud do.</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>

    
        







  
  
        


<li class="ecl-list-item ecl-list-item--highlight ema-content-slider__list-item--highlight"  id="ema-content-slider__list-item--highlight--2">
  <a href="#content-slider-2" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

        <div class="ecl-list-item__primary">
              







  
        

<img
  class=" ema-content-slider__list-item--highlight"  alt="street"
  src="https://unsplash.it/640/480?image=223"
   id="ema-content-slider__list-item--highlight--2" />

          </div>
    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                






  
  
        


<div class="ecl-meta ecl-meta--highlight ema-content-slider__list-item--highlight"  id="ema-content-slider__list-item--highlight--2">
  
    <span class="ecl-meta__item">message</span>

  
    <span class="ecl-meta__item">market</span>

  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Velit mollit in sunt dolor exercitation elit nostrud do.</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>
          








  
        


<li class="ecl-list-item ema-content-slider__list-item--default"  aria-controls="ema-content-slider__list-item--highlight--3">
  <a href="#content-slider-3" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

        <div class="ecl-list-item__primary">
              







  
        

<img
  class=" ema-content-slider__list-item--default"  alt="buildings"
  src="https://unsplash.it/640/480?image=221"
   aria-controls="ema-content-slider__list-item--highlight--3" />

          </div>
    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                







  
        


<div class="ecl-meta ema-content-slider__list-item--default"  aria-controls="ema-content-slider__list-item--highlight--3">
  
    <span class="ecl-meta__item">content</span>

  
    <span class="ecl-meta__item">dynamic</span>

  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Cupidatat commodo reprehenderit excepteur esse.</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>

    
        







  
  
        


<li class="ecl-list-item ecl-list-item--highlight ema-content-slider__list-item--highlight"  id="ema-content-slider__list-item--highlight--3">
  <a href="#content-slider-3" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

        <div class="ecl-list-item__primary">
              







  
        

<img
  class=" ema-content-slider__list-item--highlight"  alt="buildings"
  src="https://unsplash.it/640/480?image=221"
   id="ema-content-slider__list-item--highlight--3" />

          </div>
    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                






  
  
        


<div class="ecl-meta ecl-meta--highlight ema-content-slider__list-item--highlight"  id="ema-content-slider__list-item--highlight--3">
  
    <span class="ecl-meta__item">content</span>

  
    <span class="ecl-meta__item">dynamic</span>

  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Cupidatat commodo reprehenderit excepteur esse.</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>
          








  
        


<li class="ecl-list-item ema-content-slider__list-item--default"  aria-controls="ema-content-slider__list-item--highlight--4">
  <a href="#content-slider-4" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

        <div class="ecl-list-item__primary">
              







  
        

<img
  class=" ema-content-slider__list-item--default"  alt="tea"
  src="https://unsplash.it/640/480?image=225"
   aria-controls="ema-content-slider__list-item--highlight--4" />

          </div>
    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                







  
        


<div class="ecl-meta ema-content-slider__list-item--default"  aria-controls="ema-content-slider__list-item--highlight--4">
  
    <span class="ecl-meta__item">management</span>

  
    <span class="ecl-meta__item">team</span>

  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Excepteur ex dolore.</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>

    
        







  
  
        


<li class="ecl-list-item ecl-list-item--highlight ema-content-slider__list-item--highlight"  id="ema-content-slider__list-item--highlight--4">
  <a href="#content-slider-4" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

        <div class="ecl-list-item__primary">
              







  
        

<img
  class=" ema-content-slider__list-item--highlight"  alt="tea"
  src="https://unsplash.it/640/480?image=225"
   id="ema-content-slider__list-item--highlight--4" />

          </div>
    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
                






  
  
        


<div class="ecl-meta ecl-meta--highlight ema-content-slider__list-item--highlight"  id="ema-content-slider__list-item--highlight--4">
  
    <span class="ecl-meta__item">management</span>

  
    <span class="ecl-meta__item">team</span>

  </div>
              </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Excepteur ex dolore.</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>
  </ul>

    <script src="../../framework/scripts/ema.js"></script>
        <script type="text/javascript">document.addEventListener('DOMContentLoaded', function () {
        ECL.contentSlider();
      });</script>
      </body>
</html>

