

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../framework/styles/ema.css">
    <title>Preview Layout</title>
    <script>document.documentElement.classList.remove('no-js');</script>
  </head>
  <body>
    <h3 class="ecl-heading ecl-heading--ema-h3">Background colours</h3>

<div class="example">
  <div class="ema-u-bg-primary" style="color: #fff">ema-u-bg-primary</div>
  <div class="ema-u-bg-blue-1" style="color: #fff">ema-u-bg-blue-1</div>
  <div class="ema-u-bg-blue-2" style="color: #fff">ema-u-bg-blue-2</div>
  <div class="ema-u-bg-blue-3" style="color: #fff">ema-u-bg-blue-3</div>
  <div class="ema-u-bg-orange-1" style="color: #fff">ema-u-bg-orange-1</div>
  <div class="ema-u-bg-orange-2" style="color: #fff">ema-u-bg-orange-2</div>
  <div class="ema-u-bg-orange-3" style="color: #fff">ema-u-bg-orange-3</div>
  <div class="ema-u-bg-green-1" style="color: #fff">ema-u-bg-green-1</div>
  <div class="ema-u-bg-green-2" style="color: #fff">ema-u-bg-green-2</div>
  <div class="ema-u-bg-green-3" style="color: #fff">ema-u-bg-green-3</div>
  <div class="ema-u-bg-black" style="color: #fff">ema-u-bg-black</div>
  <div class="ema-u-bg-grey-1" style="color: #fff">ema-u-bg-grey-1</div>
  <div class="ema-u-bg-grey-2" style="color: #fff">ema-u-bg-grey-2</div>
  <div class="ema-u-bg-grey-3" style="color: #fff">ema-u-bg-grey-3</div>
  <div class="ema-u-bg-light-grey-1">ema-u-bg-light-grey-1</div>
  <div class="ema-u-bg-light-grey-2">ema-u-bg-light-grey-2</div>
  <div class="ema-u-bg-light-grey-3">ema-u-bg-light-grey-3</div>
  <div class="ema-u-bg-light-grey-4">ema-u-bg-light-grey-4</div>
</div>

<h3 class="ecl-heading ecl-heading--ema-h3">Text colours</h3>

<div class="example">
  <div class="ema-u-color-primary">ema-u-color-primary</div>
  <div class="ema-u-color-blue-1">ema-u-color-blue-1</div>
  <div class="ema-u-color-blue-2">ema-u-color-blue-2</div>
  <div class="ema-u-color-blue-3">ema-u-color-blue-3</div>
  <div class="ema-u-color-orange-1">ema-u-color-orange-1</div>
  <div class="ema-u-color-orange-2">ema-u-color-orange-2</div>
  <div class="ema-u-color-orange-3">ema-u-color-orange-3</div>
  <div class="ema-u-color-green-1">ema-u-color-green-1</div>
  <div class="ema-u-color-green-2">ema-u-color-green-2</div>
  <div class="ema-u-color-green-3">ema-u-color-green-3</div>
  <div class="ema-u-color-black">ema-u-color-black</div>
  <div class="ema-u-color-grey-1">ema-u-color-grey-1</div>
  <div class="ema-u-color-grey-2">ema-u-color-grey-2</div>
  <div class="ema-u-color-grey-3">ema-u-color-grey-3</div>
  <div class="ema-u-color-light-grey-1">ema-u-color-light-grey-1</div>
  <div class="ema-u-color-light-grey-2">ema-u-color-light-grey-2</div>
  <div class="ema-u-color-light-grey-3">ema-u-color-light-grey-3</div>
  <div class="ema-u-color-light-grey-4">ema-u-color-light-grey-4</div>
</div>

<style type="text/css">
  body {
    margin: 2rem;
  }
  .example div {
    padding: 1rem;
    text-align: center;
  }
</style>

    <script src="../../framework/scripts/ema.js"></script>
      </body>
</html>

