

<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <link media="all" rel="stylesheet" href="../../framework/styles/ema.css">
  <title>Preview Layout</title>
  <style>
    /* website specific global rules */
    body {
      margin: 0;
    }
  </style>
  <script>document.documentElement.classList.remove('no-js');</script>
</head>
<body>
  
      <!-- Start: @ema-buttons--default -->

      <h3 class="ecl-heading ecl-heading--ema-h3">Call
</h3>

      <button class="ecl-button ecl-button--primary ecl-button--ema-primary">Call</button>

      <!-- End: @ema-buttons--default -->

    

      <!-- Start: @ema-buttons--tag -->

      <h3 class="ecl-heading ecl-heading--ema-h3">Tag
</h3>

      <button class="ecl-button ecl-button--tag ecl-button--ema-tag">Tag</button>

      <!-- End: @ema-buttons--tag -->

    

      <!-- Start: @ema-buttons--small -->

      <h3 class="ecl-heading ecl-heading--ema-h3">Small
</h3>

      <button class="ecl-button ecl-button--default ecl-button--ema-small">Small</button>

      <!-- End: @ema-buttons--small -->

    
  <script src="../../framework/scripts/ema.js"></script>
  </body>
</html>

