

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../framework/styles/ema.css">
    <title>Preview Layout</title>
    <script>document.documentElement.classList.remove('no-js');</script>
  </head>
  <body>
    










<div class="ema-context-banner" >
  <div class="ecl-container">
    <div class="ema-context-banner__wrapper">
            <div class="ema-context-banner__title">Human regulatory</div>
      
            <p class="ecl-paragraph ecl-paragraph--ema ecl-paragraph--l">This section of the website provides information on the regulation of medicines for human use in the European Union (EU). It particularly concerns the centralised procedure, where the European Medicines Agency (EMA) plays a key role.</p>
      
      <ul class="ema-context-banner__links">
                      <li class="ema-context-banner__item">
          <a href="#item1-1" class="ema-context-banner__link">Overview</a>
        </li>
                      <li class="ema-context-banner__item">
          <a href="#item1-4" class="ema-context-banner__link">Marketing authorisation</a>
        </li>
                      <li class="ema-context-banner__item">
          <a href="#item1-2" class="ema-context-banner__link ema-context-banner__link--active">Research and development</a>
        </li>
                      <li class="ema-context-banner__item">
          <a href="#item1-5" class="ema-context-banner__link">Post authorisation</a>
        </li>
                      <li class="ema-context-banner__item">
          <a href="#item1-3" class="ema-context-banner__link">Herbal products</a>
        </li>
            </ul>
    </div>
  </div>
</div>

    <script src="../../framework/scripts/ema.js"></script>
      </body>
</html>

