

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../framework/styles/ema.css">
    <title>Preview Layout</title>
    <script>document.documentElement.classList.remove('no-js');</script>
  </head>
  <body>
    <h4 class="ecl-heading ecl-heading--ema-h4" style="">Heading &lt;h4&gt;: class ema-heading ema-heading--h4</h4>

    <script src="../../framework/scripts/ema.js"></script>
      </body>
</html>

