

<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <link media="all" rel="stylesheet" href="../../framework/styles/ema.css">
  <title>Preview Layout</title>
  <style>
    /* website specific global rules */
    body {
      margin: 0;
    }
  </style>
  <script>document.documentElement.classList.remove('no-js');</script>
</head>
<body>
  












<div class="ecl-skip-link__wrapper" id="skip-link" >
  <a href="#main-content" class="ecl-skip-link">Skip to main content</a>
</div>












<header class="ema-header" >
  <div class="ecl-container ema-header__extra">
    <div class="ema-header__links">
              







  
        

<a class="ecl-link ema-header__link-item ecl-link--ema-obvious" href="#" title="RSS"><span class="ecl-icon ecl-icon--rss"></span></a>
              







  
        

<a class="ecl-link ema-header__link-item ecl-link--ema-obvious" href="#" title="Twitter"><span class="ecl-icon ecl-icon--twitter"></span></a>
              







  
        

<a class="ecl-link ema-header__link-item ecl-link--ema-obvious" href="#" title="Mail"><span class="ecl-icon ecl-icon--generic-lang"></span></a>
          </div>
  </div>

  <div class="ecl-container ema-header__banner">
    <div class="ema-header__logo"><img src="../../framework/images/logo_ema.jpg" alt="EMA logo" /></div>

      </div>
</header>









  



<nav class="ecl-navigation-menu ecl-navigation-menu--ema" aria-label="Main Navigation">
  <div class="ecl-container">
    <button class="ecl-navigation-menu__toggle ecl-navigation-menu__hamburger ecl-navigation-menu__hamburger--squeeze" aria-controls="nav-menu-expandable-root" aria-expanded="false">
      <span class="ecl-navigation-menu__hamburger-box">
        <span class="ecl-navigation-menu__hamburger-inner"></span>
      </span>
      <span class="ecl-navigation-menu__hamburger-label">Menu</span>
    </button>
    <ul class="ecl-navigation-menu__root" id="nav-menu-expandable-root" aria-hidden="true">
                <li class="ecl-navigation-menu__item">
              <a href="#home" class="ecl-navigation-menu__link">Home</a>
          </li>
          <li class="ecl-navigation-menu__item">
              <a href="#item1" class="ecl-navigation-menu__link" aria-controls="nav-menu-expandable-group-2" aria-expanded="false" aria-haspopup="true">Human regulatory</a>

        <div class="ecl-navigation-menu__group" id="nav-menu-expandable-group-2">
        










<div class="ema-context-banner" >
  <div class="ecl-container">
    <div class="ema-context-banner__wrapper">
            <a href="#" class="ema-context-banner__title">Human regulatory</a>
      
            <p class="ecl-paragraph ecl-paragraph--ema ecl-paragraph--l">This section of the website provides information on the regulation of medicines for human use in the European Union (EU). It particularly concerns the centralised procedure, where the European Medicines Agency (EMA) plays a key role.</p>
      
      <ul class="ema-context-banner__links">
                      <li class="ema-context-banner__item">
          <a href="#item1-1" class="ema-context-banner__link">Overview</a>
        </li>
                      <li class="ema-context-banner__item">
          <a href="#item1-4" class="ema-context-banner__link">Marketing authorisation</a>
        </li>
                      <li class="ema-context-banner__item">
          <a href="#item1-2" class="ema-context-banner__link">Research and development</a>
        </li>
                      <li class="ema-context-banner__item">
          <a href="#item1-5" class="ema-context-banner__link">Post authorisation</a>
        </li>
                      <li class="ema-context-banner__item">
          <a href="#item1-3" class="ema-context-banner__link">Herbal products</a>
        </li>
            </ul>
    </div>
  </div>
</div>
        </div>
          </li>
          <li class="ecl-navigation-menu__item">
              <a href="#item2" class="ecl-navigation-menu__link" aria-controls="nav-menu-expandable-group-3" aria-expanded="false" aria-haspopup="true">Item 2</a>

        <div class="ecl-navigation-menu__group" id="nav-menu-expandable-group-3">
        










<div class="ema-context-banner" >
  <div class="ecl-container">
    <div class="ema-context-banner__wrapper">
            <a href="#" class="ema-context-banner__title">Section title</a>
      
            <p class="ecl-paragraph ecl-paragraph--ema ecl-paragraph--l">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque efficitur cursus varius. Ut id leo sed libero placerat feugiat eu eget mi. In hac habitasse platea dictumst. Etiam eleifend justo nec ex lacinia blandit. Aenean pellentesque mauris ut malesuada ultricies. Vestibulum blandit arcu et metus semper porta.</p>
      
      <ul class="ema-context-banner__links">
                      <li class="ema-context-banner__item">
          <a href="#item2-1" class="ema-context-banner__link">Item 2.1</a>
        </li>
                      <li class="ema-context-banner__item">
          <a href="#item2-2" class="ema-context-banner__link">Item 2.2</a>
        </li>
                      <li class="ema-context-banner__item">
          <a href="#item2-3" class="ema-context-banner__link">Item 2.3</a>
        </li>
                      <li class="ema-context-banner__item">
          <a href="#item2-4" class="ema-context-banner__link">Item 2.4</a>
        </li>
                      <li class="ema-context-banner__item">
          <a href="#item2-5" class="ema-context-banner__link">Item 2.5</a>
        </li>
                      <li class="ema-context-banner__item">
          <a href="#item2-6" class="ema-context-banner__link">Item 2.6</a>
        </li>
            </ul>
    </div>
  </div>
</div>
        </div>
          </li>
          <li class="ecl-navigation-menu__item">
              <a href="#item3" class="ecl-navigation-menu__link">Item 3</a>
          </li>
        </ul>
  </div>
</nav>

<main class="ecl-u-mv-l">
  <div class="ecl-container">

    <div class="ecl-row ecl-u-mb-l">
      <div class="ecl-col">
        






  
  


<form class="ecl-search-form ecl-search-form--internal ecl-search-form--ema-internal">
  <label class="ecl-search-form__textfield-wrapper">
    <span class="ecl-u-sr-only">Search this website</span>
    






  

  


<input
  type="search"
  class="ecl-text-input ecl-search-form__textfield"
  id="internal-search"
  name="default-name"
  
/>
  </label>
  








  
        


  <button class="ecl-button ecl-button--form-primary ecl-search-form__button" type="submit">Search</button>
</form>
      </div>
    </div>

    <div class="ecl-row ecl-u-mt-l">
      <aside class="ecl-col-lg-3" role="complementary">
        <div class="ecl-u-d-flex ecl-u-d-lg-none ecl-u-justify-content-between ecl-u-align-items-baseline">
          <h2 class="ecl-heading ecl-heading--h2">Search results (65)</h2>
          








  
                          


  <button class="ecl-button ecl-button--primary ecl-button--ema-primary ecl-u-d-lg-none ecl-expandable__button" aria-controls="form-filter" aria-expanded="true" id="form-filter-toggle" type="button">Refine</button>
        </div>

        




  
                    
<form class="ecl-form ecl-u-d-lg-block ecl-u-mb-m" aria-hidden="false" method="get" id="form-filter">
              






<fieldset class="ecl-fieldset">
                  





  

<legend class="ecl-form-legend ecl-form-legend--level-1">Search options</legend>
                
                





<div class="ecl-form-group">
                      




<label class="ecl-form-label" for="search-option-date">Date</label>
                    <div class="ecl-row ecl-u-mt-xxs ecl-u-align-items-center">
                      <div class="ecl-col-3">
                        From
                      </div>
                      <div class="ecl-col-9">
                        




<div class="ecl-datepickers"><input
  type="text"
  class="ecl-text-input"
  id="date-from"
  name="datepicker"
   aria-label="Use the arrow keys to pick a date" value="01/01/2018"
/><span class="ecl-datepickers__icon ecl-icon ecl-icon--calendar"></span></div>                      </div>
                    </div>

                    <div class="ecl-row ecl-u-mt-xxs ecl-u-align-items-center">
                      <div class="ecl-col-3">
                        To
                      </div>
                      <div class="ecl-col-9">
                        




<div class="ecl-datepickers"><input
  type="text"
  class="ecl-text-input"
  id="date-to"
  name="datepicker"
   aria-label="Use the arrow keys to pick a date" value="13/02/2018"
/><span class="ecl-datepickers__icon ecl-icon ecl-icon--calendar"></span></div>                      </div>
                    </div>
                  </div>

                
                





<div class="ecl-form-group">
                      




<label class="ecl-form-label" for="search-option-category">Category</label>
                    













<select
  class="ecl-select"
  id="search-option-category"
  name="category"
  
><option value="all">All categories</option><option value="1" selected>Contact listing page (75)</option><option value="1">Document (20)</option><option value="1">Expert (2932)</option><option value="1">General (1)</option><option value="1">Herbal (1)</option><option value="1">Medicine (22)</option><option value="1">PIP (22)</option><option value="1">Questions and answers (179)</option><option value="1">Withdrawn applications (1)</option></select>                  </div>

                
                





<div class="ecl-form-group">
                      


  

<label class="ecl-form-label ecl-u-mb-xxs" for="search-option-commitee">Commitees</label>
                    













<label class="ecl-form-label ecl-checkbox"><input class="ecl-checkbox__input ecl-u-sr-only" type="checkbox" id="search-filter-comitees-1" value="1" name="search-filter-comitees-1" /><span class="ecl-checkbox__label">CHMP (44)</span></label>                    













<label class="ecl-form-label ecl-checkbox"><input class="ecl-checkbox__input ecl-u-sr-only" type="checkbox" id="search-filter-comitees-2" value="2" name="search-filter-comitees-2" /><span class="ecl-checkbox__label">CVMP (13)</span></label>                    













<label class="ecl-form-label ecl-checkbox"><input class="ecl-checkbox__input ecl-u-sr-only" type="checkbox" id="search-filter-comitees-3" value="3" name="search-filter-comitees-3" /><span class="ecl-checkbox__label">HMPC (5)</span></label>                    













<label class="ecl-form-label ecl-checkbox"><input class="ecl-checkbox__input ecl-u-sr-only" type="checkbox" id="search-filter-comitees-4" value="4" name="search-filter-comitees-4" /><span class="ecl-checkbox__label">CAT (4)</span></label>                    













<label class="ecl-form-label ecl-checkbox"><input class="ecl-checkbox__input ecl-u-sr-only" type="checkbox" id="search-filter-comitees-5" value="5" name="search-filter-comitees-5" /><span class="ecl-checkbox__label">PDCO (3)</span></label>                    













<label class="ecl-form-label ecl-checkbox"><input class="ecl-checkbox__input ecl-u-sr-only" type="checkbox" id="search-filter-comitees-6" value="6" name="search-filter-comitees-6" /><span class="ecl-checkbox__label">COMP (2)</span></label>                    













<label class="ecl-form-label ecl-checkbox"><input class="ecl-checkbox__input ecl-u-sr-only" type="checkbox" id="search-filter-comitees-7" value="7" name="search-filter-comitees-7" /><span class="ecl-checkbox__label">PRAC (2)</span></label>                    













<label class="ecl-form-label ecl-checkbox"><input class="ecl-checkbox__input ecl-u-sr-only" type="checkbox" id="search-filter-comitees-8" value="8" name="search-filter-comitees-8" /><span class="ecl-checkbox__label">MB (1)</span></label>                  </div>

                
                





<div class="ecl-form-group">
                      




<label class="ecl-form-label" for="search-option-sub-commitee">Sub Commitees</label>
                    






  

        


<input
  type="text"
  class="ecl-text-input ecl-u-mb-xxs"
  id="search-filter-sub-comitees"
  name="default-name"
   placeholder="Search for a sub commitee"
/>
                    













<label class="ecl-form-label ecl-checkbox"><input class="ecl-checkbox__input ecl-u-sr-only" type="checkbox" id="search-filter-sub-comitees-1" value="1" name="search-filter-sub-comitees-1" /><span class="ecl-checkbox__label">PCWP (3)</span></label>                    













<label class="ecl-form-label ecl-checkbox"><input class="ecl-checkbox__input ecl-u-sr-only" type="checkbox" id="search-filter-sub-comitees-2" value="2" name="search-filter-sub-comitees-2" /><span class="ecl-checkbox__label">ASMF-WP (2)</span></label>                    













<label class="ecl-form-label ecl-checkbox"><input class="ecl-checkbox__input ecl-u-sr-only" type="checkbox" id="search-filter-sub-comitees-3" value="3" name="search-filter-sub-comitees-3" /><span class="ecl-checkbox__label">JAHEG-3Rs (2)</span></label>                    













<label class="ecl-form-label ecl-checkbox"><input class="ecl-checkbox__input ecl-u-sr-only" type="checkbox" id="search-filter-sub-comitees-4" value="4" name="search-filter-sub-comitees-4" /><span class="ecl-checkbox__label">QRD (2)</span></label>                    













<label class="ecl-form-label ecl-checkbox"><input class="ecl-checkbox__input ecl-u-sr-only" type="checkbox" id="search-filter-sub-comitees-5" value="5" name="search-filter-sub-comitees-5" /><span class="ecl-checkbox__label">QWP (3)</span></label>                    













<label class="ecl-form-label ecl-checkbox"><input class="ecl-checkbox__input ecl-u-sr-only" type="checkbox" id="search-filter-sub-comitees-6" value="6" name="search-filter-sub-comitees-6" /><span class="ecl-checkbox__label">ADVENT (1)</span></label>                    













<label class="ecl-form-label ecl-checkbox"><input class="ecl-checkbox__input ecl-u-sr-only" type="checkbox" id="search-filter-sub-comitees-7" value="7" name="search-filter-sub-comitees-7" /><span class="ecl-checkbox__label">AWP (1)</span></label>                    













<label class="ecl-form-label ecl-checkbox"><input class="ecl-checkbox__input ecl-u-sr-only" type="checkbox" id="search-filter-sub-comitees-8" value="8" name="search-filter-sub-comitees-8" /><span class="ecl-checkbox__label">BMWP (1)</span></label>                    













<label class="ecl-form-label ecl-checkbox"><input class="ecl-checkbox__input ecl-u-sr-only" type="checkbox" id="search-filter-sub-comitees-9" value="9" name="search-filter-sub-comitees-9" /><span class="ecl-checkbox__label">BSWP (1)</span></label>                    













<label class="ecl-form-label ecl-checkbox"><input class="ecl-checkbox__input ecl-u-sr-only" type="checkbox" id="search-filter-sub-comitees-10" value="10" name="search-filter-sub-comitees-10" /><span class="ecl-checkbox__label">BWP (1)</span></label>                    <a class="ecl-link--ema-more" href="#">See more</a>
                  </div>
              </fieldset>

            








  
                    


  <button class="ecl-button ecl-button--primary ecl-button--ema-primary ema-u-width-100 ecl-u-mt-m" aria-hidden="false" method="get" id="form-filter">Refine results</button>

            








  
                    


  <button class="ecl-button ecl-button--tag ecl-button--ema-tag ema-u-width-100 ecl-u-mt-s" aria-hidden="false" method="get" id="form-filter">Clear all</button>
          </form>
      </aside>

      <section class="ecl-col-lg-9">
        <h2 class="ecl-heading ecl-heading--h2 ecl-u-d-none ecl-u-d-lg-block">Search results (65)</h2>

        <div class="ecl-u-d-flex ecl-u-align-items-center ecl-u-flex-wrap ecl-u-mb-s">
          <h3 class="ecl-heading ecl-heading--h3 ema-u-width-grow-1 ecl-u-mb-md-none">Showing results 11 to 20</h3>
          <div class="ecl-u-d-flex ecl-u-align-items-center">
            <label class="ema-u-width-nowrap ecl-u-mr-s" for="search-sort">Sort by</label>
            








  




<select
  class="ecl-select ecl-u-mt-none"
  id="search-sort"
  name="search-sort"
  
><option value="1">Publication date</option><option value="2">Last update date</option></select>          </div>
        </div>

        <div class="ecl-u-d-flex ecl-u-align-items-center ecl-u-flex-wrap ecl-u-mb-s">
          




  
  

<div class="ecl-tag ecl-tag--facet-close ecl-u-mv-xxxs">
      <span class="ecl-tag__label">From</span>
  
            
              








  
        


  <button class="ecl-button ecl-button--facet-close ecl-tag__item" type="button">01/01/2018</button>
            </div>
          




  
  

<div class="ecl-tag ecl-tag--facet-close ecl-u-mv-xxxs">
      <span class="ecl-tag__label">To</span>
  
            
              








  
        


  <button class="ecl-button ecl-button--facet-close ecl-tag__item" type="button">13/02/2018</button>
            </div>
          




  
  

<div class="ecl-tag ecl-tag--facet-close ecl-u-mv-xxxs">
      <span class="ecl-tag__label">Category</span>
  
            
              








  
        


  <button class="ecl-button ecl-button--facet-close ecl-tag__item" type="button">Contact listing page</button>
            </div>
        </div>

        











<ul class="ema-listings" >


  











  



<li class="ecl-list-item ema-list-item " >
  <a href="" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
            






  



<svg class="ema-icon ema-list-item " >
  <use xlink:href="../../framework/images/icons/ema-icons.svg#ema-icon-set_" />
</svg>
        </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Adaptive pathways</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  <div class="ema-u-color-grey-2"><small>Published 13/04/2016<br />Updated 13/12/2016</small></div>
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>



  
  










  



<li class="ecl-list-item ema-list-item ema-list-item--file ecl-list-items--with-translations" >
  <a href="" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
            






  



<svg class="ema-icon ema-list-item ema-list-item--file ecl-list-items--with-translations" >
  <use xlink:href="../../framework/images/icons/ema-icons.svg#ema-icon-set_pdf" />
</svg>
        </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Checklist for sponsors applying for the transfer of orphan medicinal product designation <small class="ema-u-color-grey-2">(PDF - 230kb)</small></h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  <div class="ema-u-color-grey-2"><small>Published 15/01/2009<br />Updated 13/11/2017</small></div>
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>

  <li class="ecl-list-item ema-list-item__translations">
    <div class="ecl-file__translations">
      







  
  
                                


  <button class="ecl-button ecl-button--secondary ecl-button--pdf ecl-file__translations-toggle" aria-controls="translations-1" aria-expanded="false" id="translations-1-button" type="button" title="Click to see translations">Available languages (3)</button>

      <div aria-hidden="true" aria-labelledby="translations-1-button" id="translations-1">
        <ul class="ecl-file__translations-list">
                                    <li class="ecl-file__translations-item">
                <div class="ecl-file__translations-metadata">
                  <span class="ecl-file__translations-title">French</span>
                  <div class="ecl-file__translations-info">(230 kB - PDF)</div>
                </div>
                







  
  
        


  <button class="ecl-button ecl-button--secondary ecl-button--pdf ecl-file__translations-download" type="button"><span class="ecl-u-sr-only">(230 kB - PDF)</button>
              </li>
                          <li class="ecl-file__translations-item">
                <div class="ecl-file__translations-metadata">
                  <span class="ecl-file__translations-title">German</span>
                  <div class="ecl-file__translations-info">(230 kB - PDF)</div>
                </div>
                







  
  
        


  <button class="ecl-button ecl-button--secondary ecl-button--pdf ecl-file__translations-download" type="button"><span class="ecl-u-sr-only">(230 kB - PDF)</button>
              </li>
                          <li class="ecl-file__translations-item">
                <div class="ecl-file__translations-metadata">
                  <span class="ecl-file__translations-title">Spanish</span>
                  <div class="ecl-file__translations-info">(230 kB - PDF)</div>
                </div>
                







  
  
        


  <button class="ecl-button ecl-button--secondary ecl-button--pdf ecl-file__translations-download" type="button"><span class="ecl-u-sr-only">(230 kB - PDF)</button>
              </li>
                              </ul>
      </div>
    </div>
  </li>


  











  



<li class="ecl-list-item ema-list-item " >
  <a href="" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
            






  



<svg class="ema-icon ema-list-item " >
  <use xlink:href="../../framework/images/icons/ema-icons.svg#ema-icon-set_" />
</svg>
        </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Data on medicines (ISO IDMP standards): research and development</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  <div class="ema-u-color-grey-2"><small>Published 24/11/2008<br />Updated 04/07/2013</small></div>
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>



  











  



<li class="ecl-list-item ema-list-item " >
  <a href="" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
            






  



<svg class="ema-icon ema-list-item " >
  <use xlink:href="../../framework/images/icons/ema-icons.svg#ema-icon-set_" />
</svg>
        </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Medicines for older people</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  <div class="ema-u-color-grey-2"><small>Published 24/11/2008<br />Updated 04/07/2013</small></div>
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>



  











  



<li class="ecl-list-item ema-list-item " >
  <a href="" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
            






  



<svg class="ema-icon ema-list-item " >
  <use xlink:href="../../framework/images/icons/ema-icons.svg#ema-icon-set_" />
</svg>
        </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Non-pharmaceutical products</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  <div class="ema-u-color-grey-2"><small>Published 24/11/2008<br />Updated 04/07/2013</small></div>
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>



  
  










  



<li class="ecl-list-item ema-list-item ema-list-item--file ecl-list-items--with-translations" >
  <a href="" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
            






  



<svg class="ema-icon ema-list-item ema-list-item--file ecl-list-items--with-translations" >
  <use xlink:href="../../framework/images/icons/ema-icons.svg#ema-icon-set_word" />
</svg>
        </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Template 1 - Orphan designation transfer form <small class="ema-u-color-grey-2">(DOC - 512kb)</small></h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  <div class="ema-u-color-grey-2"><small>Published 13/04/2016<br />Updated 13/12/2016</small></div>
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>

  <li class="ecl-list-item ema-list-item__translations">
    <div class="ecl-file__translations">
      







  
  
                                


  <button class="ecl-button ecl-button--secondary ecl-button--word ecl-file__translations-toggle" aria-controls="translations-2" aria-expanded="false" id="translations-2-button" type="button" title="Click to see translations">Available languages (3)</button>

      <div aria-hidden="true" aria-labelledby="translations-2-button" id="translations-2">
        <ul class="ecl-file__translations-list">
                                    <li class="ecl-file__translations-item">
                <div class="ecl-file__translations-metadata">
                  <span class="ecl-file__translations-title">French</span>
                  <div class="ecl-file__translations-info">(230 kB - DOC)</div>
                </div>
                







  
  
        


  <button class="ecl-button ecl-button--secondary ecl-button--word ecl-file__translations-download" type="button"><span class="ecl-u-sr-only">(230 kB - DOC)</button>
              </li>
                          <li class="ecl-file__translations-item">
                <div class="ecl-file__translations-metadata">
                  <span class="ecl-file__translations-title">German</span>
                  <div class="ecl-file__translations-info">(230 kB - DOC)</div>
                </div>
                







  
  
        


  <button class="ecl-button ecl-button--secondary ecl-button--word ecl-file__translations-download" type="button"><span class="ecl-u-sr-only">(230 kB - DOC)</button>
              </li>
                          <li class="ecl-file__translations-item">
                <div class="ecl-file__translations-metadata">
                  <span class="ecl-file__translations-title">Spanish</span>
                  <div class="ecl-file__translations-info">(230 kB - DOC)</div>
                </div>
                







  
  
        


  <button class="ecl-button ecl-button--secondary ecl-button--word ecl-file__translations-download" type="button"><span class="ecl-u-sr-only">(230 kB - DOC)</button>
              </li>
                              </ul>
      </div>
    </div>
  </li>


  











  



<li class="ecl-list-item ema-list-item " >
  <a href="" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
            






  



<svg class="ema-icon ema-list-item " >
  <use xlink:href="../../framework/images/icons/ema-icons.svg#ema-icon-set_" />
</svg>
        </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Ancillary medicinal substances</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  <div class="ema-u-color-grey-2"><small>Published 24/11/2008<br />Updated 04/07/2013</small></div>
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>



  











  



<li class="ecl-list-item ema-list-item " >
  <a href="" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
            






  



<svg class="ema-icon ema-list-item " >
  <use xlink:href="../../framework/images/icons/ema-icons.svg#ema-icon-set_" />
</svg>
        </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Pharmacovigilance: research and development</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  <div class="ema-u-color-grey-2"><small>Published 24/11/2008<br />Updated 04/07/2013</small></div>
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>



  











  



<li class="ecl-list-item ema-list-item " >
  <a href="" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
            






  



<svg class="ema-icon ema-list-item " >
  <use xlink:href="../../framework/images/icons/ema-icons.svg#ema-icon-set_" />
</svg>
        </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">EudraVigilance</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  <div class="ema-u-color-grey-2"><small>Published 24/11/2008<br />Updated 04/07/2013</small></div>
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>



  











  



<li class="ecl-list-item ema-list-item " >
  <a href="" class="ecl-link ecl-list-item__link">
    <div class="ecl-u-sr-only">List item</div>

    
    <div class="ecl-list-item__body">
      <div class="ecl-list-item__meta">
            






  



<svg class="ema-icon ema-list-item " >
  <use xlink:href="../../framework/images/icons/ema-icons.svg#ema-icon-set_" />
</svg>
        </div>

      <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">Scientific advice and protocol assistance</h3>

      <p class="ecl-list-item__detail ecl-paragraph">
                  <div class="ema-u-color-grey-2"><small>Published 24/11/2008<br />Updated 04/07/2013</small></div>
              </p>

      <div class="ecl-list-item__action">
                  
              </div>
    </div>

    
  </a>
</li>



</ul>

        






<a href="" class="ema-pager">

</a>
      </section>
    </div>
  </div>
</main>












<footer class="ema-footer" >
  <div class="ecl-container ema-footer__content">
    <div class="ema-footer__section">
      <div class="ema-footer__hotline">
        <span class="ecl-icon ecl-icon--language ecl-u-fs-xxl ecl-u-mr-xs"></span>
        <a class="ecl-link--ema-inverted" href="#">
          <div class="ema-footer__hotline-title">Product emergency hotline</div>
          <div class="ema-footer__hotline-desc">outside working hours</div>
        </a>
      </div>
    </div>

        <div class="ema-footer__section">
      <div class="ema-footer__title">About</div>

      <ul class="ecl-list ecl-list--unstyled ema-footer__links">
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Who we are</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">What's new on the site</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Expert blog</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Human regulation</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Veterinary regulation</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Commitees</a>
        </li>
              </ul>
    </div>
        <div class="ema-footer__section">
      <div class="ema-footer__title">Ask EMA</div>

      <ul class="ecl-list ecl-list--unstyled ema-footer__links">
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Public enquiries</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">FAQs</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Access to documents</a>
        </li>
              </ul>
    </div>
        <div class="ema-footer__section">
      <div class="ema-footer__title">Links</div>

      <ul class="ecl-list ecl-list--unstyled ema-footer__links">
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Legal</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Privacy</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Complaints</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Browser compatibility</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Contacts</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Business hours and holidays</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Website help</a>
        </li>
              </ul>
    </div>
        <div class="ema-footer__section">
      <div class="ema-footer__title">Contact</div>

      <ul class="ecl-list ecl-list--unstyled ema-footer__links">
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">EMA<br />30 Churchill Place<br />Canary Whaf<br />London E14 5EU<br />United Kingdom</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Tel: +44 (0)20 3660 6000</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted" href="#">Fax: +44 (0)20 3660 5550</a>
        </li>
                <li>
          







  


<a class="ecl-link ecl-link--ema-inverted ecl-link--ema-external" href="#">Send a question</a>
        </li>
              </ul>
    </div>
      </div>

  <div class="ecl-container ">
    <div class="ema-footer__social">
              <span class="ecl-icon ecl-icon--rss"></span>
        







  


<a class="ecl-link ecl-link--ema-inverted ecl-u-mr-xs" href="#">RSS</a>
              <span class="ecl-icon ecl-icon--twitter"></span>
        







  


<a class="ecl-link ecl-link--ema-inverted ecl-u-mr-xs" href="#">Twitter</a>
          </div>
  </div>

  <div class="ecl-container ema-footer__content">
    <div class="ema-footer__copyright">&copy; 1995-2016 European Medicines Agency</div>
    <div class="ema-footer__description">
      An agency of the European Union
      <div class="ema-footer__logo"><img src="../../framework/images/eu.png" alt="European Union flag" /></div>
    </div>
  </div>

</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>

  <script src="../../framework/scripts/ema.js"></script>
    <script type="text/javascript">document.addEventListener('DOMContentLoaded', function () {
        ECL.megamenu();
        ECL.initExpandables('.ecl-file__translations-toggle');
        ECL.initExpandables('#form-filter-toggle');

        const date_from = new Pikaday({
          field: document.getElementById('date-from'),
          firstDay: 1,
          maxDate: new Date(2020, 12, 31),
          theme: 'ecl-pika-theme',
          yearRange: [2000, 2020],
          format: 'DD/MM/YYYY',
        });
        const date_to = new Pikaday({
          field: document.getElementById('date-to'),
          firstDay: 1,
          maxDate: new Date(2020, 12, 31),
          theme: 'ecl-pika-theme',
          yearRange: [2000, 2020],
          format: 'DD/MM/YYYY',
        });
      });</script>
  </body>
</html>

