

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../framework/styles/ema.css">
    <title>Preview Layout</title>
    <script>document.documentElement.classList.remove('no-js');</script>
  </head>
  <body>
    <!-- Start: @ema-typography-headings--h1 -->
<h1 class="ecl-heading ecl-heading--ema-h1" style="">Heading &lt;h1&gt;: class ema-heading ema-heading--h1</h1>
<!-- End: @ema-typography-headings--h1 -->

<!-- Start: @ema-typography-headings--h2 -->
<h2 class="ecl-heading ecl-heading--ema-h2" style="">Heading &lt;h2&gt;: class ema-heading ema-heading--h2</h2>
<!-- End: @ema-typography-headings--h2 -->

<!-- Start: @ema-typography-headings--h3 -->
<h3 class="ecl-heading ecl-heading--ema-h3" style="">Heading &lt;h3&gt;: class ema-heading ema-heading--h3</h3>
<!-- End: @ema-typography-headings--h3 -->

<!-- Start: @ema-typography-headings--h4 -->
<h4 class="ecl-heading ecl-heading--ema-h4" style="">Heading &lt;h4&gt;: class ema-heading ema-heading--h4</h4>
<!-- End: @ema-typography-headings--h4 -->

    <script src="../../framework/scripts/ema.js"></script>
      </body>
</html>

