/**
* EMA Context banner component
*/

.ema-context-banner {
  background-color: map-get($ema-colors, 'light-grey-2');
  margin: 0;
}

.ema-context-banner--standalone {
  background-color: map-get($ema-colors, 'light-grey-2');
}

.ema-context-banner__wrapper {
  background-color: map-get($ema-colors, 'light-grey-2');
  padding: map-get($ecl-spacing, 's');
}

.ema-context-banner__title {
  color: #000;
  font-size: map-get($ecl-font-size, 'xxl');
  font-weight: normal;
  line-height: 1.1;
  margin: 0 0 1.66rem;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.ema-context-banner__links {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: 0;
  padding: 0;
  width: 100%;
}

.ema-context-banner__item {
  flex-basis: 100%;
}

.ema-context-banner__link {
  color: #000;
  display: block;
  padding: map-get($ecl-spacing, 's');
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.ema-context-banner__link--active {
  background-color: map-get($ema-colors, 'grey-3');
}

@media (min-width: map-get($ecl-grid-breakpoints, 'md')) {
  .ema-context-banner__item {
    flex-basis: 50%;
  }
}

@media (min-width: map-get($ecl-grid-breakpoints, 'lg')) {
  .ema-context-banner__item {
    flex-basis: 33.33%;
  }
}
